<!DOCTYPE html>
<html>
  <head>
    <title>RailsReactExample</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "fontawesome-free/css/all.css", "data-turbo-track": "reload" %>
    <%= javascript_pack_tag "application", defer: true %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <%= javascript_importmap_tags %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
