<% if !local_prop_data.present? %>
  <div data-action="toggle" data-togglable="prop_example" class="pb--propsTable">
  <%= pb_rails("title", props: { text: "Available Props", size: 3, margin_bottom: "sm" }) %>
    <%= pb_rails("card", props: { padding: "none" }) do %>
      <%= pb_rails("card/card_body", props: { padding: "sm" }) do %>
        <%= pb_rails("nav", props: { orientation: "horizontal", variant: "subtle" }) do %>
          <%= pb_rails("nav/item", props: { text: "Global Props", link: "#", active: true }) %>
        <% end %>
      <% end %>
      <%= pb_rails("section_separator") %>
      <%= pb_rails("card/card_body", props: {}) do %>
        <%= pb_rails("table", props: {container: false, disable_hover: true }) do %>
          <thead>
            <tr>
              <th>Props</th>
              <th>Type</th>
              <th>Values</th>
            </tr>
          </thead>
          <tbody>
            <% global_prop_data.each do |key, value|%>
              <tr>
                <td>
                  <%= pb_rails("title", props: { text: key, tag: "h4", size: 4 }) %>
                </td>
                <td>
                  <%= pb_rails("card", props: {
                    classname: "card",
                    padding: "xxs",
                    background: "light",
                    border_none: true,
                    border_radius: "sm"
                  })  do %>
                    <%= pb_rails("body", props: {
                      classname: "kearning"
                    }) do %>
                        <% if key =~ /^padding|^margin/ %>
                            <%= "array" %>
                        <% else %>
                          <%= value[:type].to_s.downcase %>
                        <% end %>
                    <% end %>
                  <% end %>
                </td>
                <td>
                  <% if key =~ /^padding|^margin/ %>
                  <% padding_margin_values.each do |item| %>
                      <%= pb_rails("card", props: {
                          flex_direction: "row",
                          classname: "card",
                          padding: "xxs",
                          background: "light",
                          border_none: true,
                          border_radius: "sm",
                          margin: "xxs"
                        })  do %>
                          <%= pb_rails("body", props: {
                              classname: "kearning"
                          }) do %>
                            <%= item %>
                          <% end %>
                        <% end %>
                      <% end %>
                  <% else %>
                  <% if value[:values].present? %>
                    <% value[:values].each do |item| %>
                      <% if item != nil %>
                        <%= pb_rails("card", props: {
                          flex_direction: "row",
                          classname: "card",
                          padding: "xxs",
                          background: "light",
                          border_none: true,
                          border_radius: "sm",
                          margin: "xxs"
                        })  do %>
                          <%= pb_rails("body", props: {
                              classname: "kearning"
                          }) do %>
                            <%= item %>
                          <% end %>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% else %>
  <div data-action="toggle" data-togglable="prop_example" class="pb--propsTable">
    <%= pb_rails("title", props: { text: "Available Props", size: 3, margin_bottom: "sm" }) %>
    <%= pb_rails("card", props: { padding: "none" }) do %>
      <%= pb_rails("card/card_body", props: { padding: "sm" }) do %>
        <%= pb_rails("nav", props: { orientation: "horizontal", variant: "subtle" }) do %>
        <% if local_prop_data.present? %>
          <%= pb_rails("nav/item", props: { text: "Kit Props", link: "#", active: true, id: "local-button-active", classname: "local-active" }) %>
        <% end %>
        <% if local_prop_data.present? %>
          <%= pb_rails("nav/item", props: { text: "Kit Props", link: "#", id: "local-button", classname: "global-active" }) %>
        <% end %>
          <%= pb_rails("nav/item", props: { text: "Global Props", link: "#", active: true, id: "global-button-active", classname: "global-active" }) %>
          <%= pb_rails("nav/item", props: { text: "Global Props", link: "#", id: "global-button", classname: "local-active" }) %>
        <% end %>
      <% end %>
      <%= pb_rails("section_separator") %>
      <%= pb_rails("card/card_body", props: {}) do %>
        <%= pb_rails("table", props: {container: false, disable_hover: true, id: "global-prop-table", classname: "global-active"}) do %>
          <thead>
            <tr>
              <th>Props</th>
              <th>Type</th>
              <th>Values</th>
            </tr>
          </thead>
          <tbody>
          <% global_prop_data.each do |key, value|%>
              <tr>
                <td>
                  <%= pb_rails("title", props: { text: key, tag: "h4", size: 4 }) %>
                </td>
                <td>
                  <%= pb_rails("card", props: {
                    classname: "card",
                    padding: "xxs",
                    background: "light",
                    border_none: true,
                    border_radius: "sm"
                  })  do %>
                    <%= pb_rails("body", props: {
                      classname: "kearning"
                    }) do %>
                        <% if key =~ /^padding|^margin/ %>
                            <%= "array" %>
                        <% else %>
                          <%= value[:type].to_s.downcase %>
                        <% end %>
                    <% end %>
                  <% end %>
                </td>
                <td>
                  <% if key =~ /^padding|^margin/ %>
                  <% padding_margin_values.each do |item| %>
                      <%= pb_rails("card", props: {
                          flex_direction: "row",
                          classname: "card",
                          padding: "xxs",
                          background: "light",
                          border_none: true,
                          border_radius: "sm",
                          margin: "xxs"
                        })  do %>
                          <%= pb_rails("body", props: {
                              classname: "kearning"
                          }) do %>
                            <%= item %>
                          <% end %>
                        <% end %>
                      <% end %>
                  <% else %>
                  <% if value[:values].present? %>
                    <% value[:values].each do |item| %>
                      <% if item != nil %>
                        <%= pb_rails("card", props: {
                          flex_direction: "row",
                          classname: "card",
                          padding: "xxs",
                          background: "light",
                          border_none: true,
                          border_radius: "sm",
                          margin: "xxs"
                        })  do %>
                          <%= pb_rails("body", props: {
                              classname: "kearning"
                          }) do %>
                            <%= item %>
                          <% end %>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        <% end %>
        <%= pb_rails("table", props: {container: false, disable_hover: true, id: "local-prop-table", classname: "local-active"}) do %>
          <thead>
            <tr>
              <th>Props</th>
              <th>Type</th>
              <th>Values</th>
              <th>Default</th>
            </tr>
          </thead>
          <tbody>
          <% local_prop_data.each do |key, value|%>
              <tr>
                <td>
                  <%= pb_rails("title", props: { text: key, tag: "h4", size: 4 }) %>
                </td>
                <td>
                  <%= pb_rails("card", props: {
                    classname: "card",
                    padding: "xxs",
                    background: "light",
                    border_none: true,
                    border_radius: "sm"
                  })  do %>
                    <%= pb_rails("body", props: {
                      classname: "kearning"
                    }) do %>
                        <%= value[:type].downcase %>
                    <% end %>
                  <% end %>
                </td>
                <td>
                  <% if value[:values].present? %>
                    <% value[:values].each do |item| %>
                      <% if item != nil %>
                        <%= pb_rails("card", props: {
                          flex_direction: "row",
                          classname: "card",
                          padding: "xxs",
                          background: "light",
                          border_none: true,
                          border_radius: "sm",
                          margin: "xxs"
                        })  do %>
                          <%= pb_rails("body", props: {
                              classname: "kearning"
                          }) do %>
                            <%= item %>
                          <% end %>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% end %>
                </td>
                <td>
                  <% if value[:default].present? || value[:default].is_a?(TrueClass) || value[:default].is_a?(FalseClass) %>
                    <%= pb_rails("card", props: {
                            classname: "card",
                            padding: "xxs",
                            background: "light",
                            border_none: true,
                            border_radius: "sm"
                      })  do %>
                        <%= pb_rails("body", props: {
                          classname: "kearning"
                        }) do %>
                            <%= value[:default] %>
                        <% end %>
                      <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>

<script>

const globalNavAndTable = document.querySelectorAll('.global-active');
const localNavAndTable = document.querySelectorAll('.local-active');

globalNavAndTable.forEach(element => {
  element.style.display = 'none';
});

const globalButton = document.getElementById("global-button");
if (globalButton) {
  globalButton.addEventListener("click", showGlobal);
}

const localButton = document.getElementById("local-button");
if (localButton) {
  localButton.addEventListener("click", showLocal);
}

function showGlobal() {
  localNavAndTable.forEach(element => {
    element.style.display = 'none';
  });

  globalNavAndTable.forEach(element => {
    element.style.display = 'table';
  });
}

function showLocal() {
  localNavAndTable.forEach(element => {
    element.style.display = 'table';
  });

  globalNavAndTable.forEach(element => {
    element.style.display = 'none';
  });
}

</script>