<% example_html = ERB.new(example).result %>

<%= pb_rails("card", props: { classname: "pb--doc", padding: "none", dark: dark, id: "pb--doc-#{example_key}" }) do %>
  <% unless (type == "swift") %>
    <div class="pb--kit-example">
      <%= pb_rails("caption", props: { text: example_title, color: "lighter", dark: dark }) %>
      <br />
      <%= example %>
      <br>
    </div>
  <% else %>
    <div class="pb--kit-example-markdown pt_none markdown kit_show_swift <%= dark ? "dark" : "" %>">
      <%= pb_rails("caption", props: { text: example_title, color: "lighter", dark: dark, margin_top: "md" }) %>
      <%= render_markdown(description) %>
    </div>
  <% end %>
  <% if show_code && type != "swift" %>
    <div class="markdown pb--kit-example-markdown markdown <%= dark ? "dark" : "" %>">
      <%= render_markdown(description) %>
    </div>
    <div id="code-wrapper">
      <div class="pb--codeControls">
        <ul>
          <% if full_screen %>
            <li>
              <%= pb_rails("button", props: { id: "fullscreen-open-#{example_key}", icon: "expand", text: "Fullscreen", classname: "hide_fullscreen#{' dark' if dark}", variant: "link", size: "sm" }) %>
              <%= pb_rails("button", props: { id: "fullscreen-close-#{example_key}", icon: "arrow-down-left-and-arrow-up-right-to-center", text: "Fullscreen", classname: "hide_not_fullscreen#{' dark' if dark}", variant: "link", size: "sm" }) %>
            </li>
          <% end %>
          <% hide_button = type == "rails" ? 'flex' : 'none' %>
            <li>
            <%= pb_rails("button", props: { id:"copy-html-#{example_key}", icon: "copy", text: "Copy HTML", classname: "hide_fullscreen#{' dark' if dark}", variant: "link", size: "sm", display: hide_button }) %>
            </li>
          <li>
            <%= pb_rails("button", props: { icon: "code", id:"toggle-open-opened", classname: "hide_fullscreen#{' dark' if dark}", text: "Close Code", variant: "link", size: "sm", display: "none" }) %>
            <%= pb_rails("button", props: { icon: "code", id:"toggle-open-closed", classname: "hide_fullscreen#{' dark' if dark}", text: "Show Code", variant: "link", size: "sm" }) %>
          </li>
        </ul>
      </div>
      <div class="pb--codeCopy" data-action="toggle" data-togglable="code_example" style="display: none" >
        <%= pb_rails("section_separator", props: { dark: dark })%>
        <a href="#" id="copy-code-<%= example_key %>" class="pb--copy-code" onclick="copyOnClick(`<%= source %>`, `copy-code-<%= example_key %>`)">
          <%= pb_rails("button", props: { id: "copy-button-#{example_key}", text: "Copy Code", size: "sm", icon: "copy", padding_x: "xs" }) %>
        </a>
        <pre class="highlight"><%= raw render_code(source, highlighter) %></pre>
      </div>
        <%= pb_rails("popover", props: {
          trigger_element_id: "copy-button-#{example_key}",
          tooltip_id: "tooltip-#{example_key}",
          offset: true,
          position: "bottom"
        }) do %>
        Code Copied
    <% end %>
    </div>
  <% end %>
<% end %>

<script>
  var htmlButton = document.getElementById('<%= "copy-html-#{example_key}" %>')
  if (htmlButton) {
    htmlButton.addEventListener('click', function() {
      var tempElement = document.createElement('div')
      tempElement.innerHTML = `<%= example_html %>`
      var decodedString = tempElement.textContent || tempElement.innerText;
      copyContent(decodedString)
    })
  }

  var button = document.getElementById('<%= "copy-button-#{example_key}" %>')
  if (button) {
    button.addEventListener('click', function() {
      var tempElement = document.createElement('div')
      tempElement.innerHTML = `<%= source %>`
      var decodedString = tempElement.textContent || tempElement.innerText;
      copyContent(decodedString)
      var fadeAwayDiv = document.getElementById("<%= "tooltip-#{example_key}" %>")
      setTimeout(function() {
        fadeAwayDiv.classList.remove('show')
      }, 3000)
      setTimeout(function() {
        fadeAwayDiv.classList.add('hide')
      }, 3001)
    })
  }

  var fullscreenOpenButton = document.getElementById('<%= "fullscreen-open-#{example_key}" %>')
  if (fullscreenOpenButton) {
    fullscreenOpenButton.addEventListener('click', function() {
      document.getElementById('<%= "pb--doc-#{example_key}" %>').requestFullscreen()
    })
  }

  var fullscreenCloseButton = document.getElementById('<%= "fullscreen-close-#{example_key}" %>')
  if (fullscreenCloseButton) {
    fullscreenCloseButton.addEventListener('click', function() {
      document.exitFullscreen()
    })
  }
</script>
