<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head'%>
    <%= javascript_packs_with_chunks_tag(*@application_js) %>
    <%= javascript_pack_tag('app') %>
  </head>
  <body class="<%= @body_class %> <%= controller_name %> <%= action_name%>">
    <%= render 'layouts/mobile_nav'%>
    <div class="pb--page--dark-mode-toggle-mobile">
      <%= react_component("DarkModeToggle", initMode: cookies[:dark_mode] )%>
    </div>
    <div id="root"></div>
  </body>
  <%= yield :pb_js if @type != 'react' %>
  <%= render 'layouts/ga'%>
</html>
