<div id="<%= dom_id message %>">
  <p>
    <strong>Project:</strong>
    <%= message.project_id %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= message.code %>
  </p>

  <p>
    <strong>User input:</strong>
    <%= message.user_input %>
  </p>

  <p>
    <strong>Open ai api response:</strong>
    <%= message.open_ai_api_response %>
  </p>

</div>
