<%= content_tag(:div,
    id: object.id,
    data: object.data,
    class: object.classname) do %>

    <div class="pb_date_range_stacked_display">
      <%= pb_rails("title", props: { text: object.day_month(object.start_date), size: 4, dark: object.dark }) %>
      <%= pb_rails("body", props: { text: object.year(object.start_date), size: 4, color: "light", dark: object.dark,
        classname: "pb_date_range_stacked_start_date" }) %>
    </div>

    <div class="pb_date_range_stacked_display">
      <%= pb_rails("body", props: { tag: "span", color: "light" }) do %>
        <%= pb_rails("icon", props: { icon: "long-arrow-right", fixed_width: true }) %>
      <% end %>
    </div>

    <div class="pb_date_range_stacked_display">
      <%= pb_rails("title", props: { text: object.day_month(object.end_date), size: 4, dark: object.dark }) %>
      <%= pb_rails("body", props: { text: object.year(object.end_date), size: 4, color: "light", dark: object.dark,
        classname: "pb_date_range_stacked_end_date" }) %>
    </div>
<% end %>
