<%= pb_content_tag(:div) do %>
      <%= pb_rails("form_group", props: {cursor: "pointer", full_width: object.full_width}) do %>
        <label
          for="upload-<%= object.id %>"
          class="pb_button_kit_secondary_inline_enabled <%= 'dark' if object.dark %>"
        >
          <%= "#{object.label}" %>
        </label>
        <%= pb_rails("text_input", props: {
          type: "file",
          dark: object.dark,
          error: object.error.presence,
          input_options: {
            id: "upload-#{object.id}",
            classname: "cursor_pointer",
          }.merge(object.input_options)
        }) %>
      <% end %>
    </label>
<% end %>
