<div class="container-fluid mt-5">
  <%= render partial: 'partials/filter-search' %>
  <%= pb_rails("table", props: { size: "md"} ) do %>
  <div class="mt-5">
    <thead>
      <tr>
        <th>Backlog Item</th>
        <th>Deployment</th>
        <th>Assignees</th>
        <th class="text-nowrap">Ready for Review</th>
        <th>Review Status</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'partials/item1' %>
      <%= render partial: 'partials/item2' %>
      <%= render partial: 'partials/item3' %>

    </tbody>
  </div>
  <% end %>
</div>


<%= render partial: 'partials/modal' %>
