<% if object.address_house_style.present? %>
  <%= pb_rails "body", props: {
    classname: "pb_home_address_street_address",
    color: "light",
    text: object.address_house_style,
    dark: object.dark
  } %>
<% end %>
<% if object.address_house_style2.present? %>
  <%= pb_rails "body", props: {
    classname: "pb_home_address_street_address",
    color: "light",
    text: object.address_house_style2,
    dark: object.dark
  } %>
<% end %>
<div>
  <%= pb_rails "title", props: {
    tag: "span",
    size: 4,
    text: object.city_state,
    dark: object.dark
  } %>
  <%= pb_rails "body", props: {
    tag: "span",
    classname: "pb_home_zip",
    color: "light",
    text: object.zip,
    dark: object.dark
  } %>
</div>

<% if object.home_id %>
  <%= pb_rails("hashtag", props: {
    text: "#{object.home_id}",
    url: object.home_url || "#",
    type: "home",
    dark: object.dark,
    classname: "home-hashtag",
    target: object.target_option,
    new_window: object.new_window}) %>
<% end %>

<%= pb_rails "body", props: { color: "light", tag: "span", dark: object.dark } do %>
  <small><%= object.territory %></small>
<% end %>
