<div class="pb--doc-demo-row">
  <%= pb_rails("user", props: {
    align: "left",
    avatar_url: "https://randomuser.me/api/portraits/women/44.jpg",
    name: "Anna Black",
    name_type_kit: "body",
    orientation: "horizontal",
    size: "md",
    territory: "PHL",
    title: "Remodeling Consultant"
  }) %>
  <%= pb_rails("user", props: {
    align: "left",
    avatar_url: "https://randomuser.me/api/portraits/women/44.jpg",
    name: "Anna Black",
    name_type_kit: "caption",
    orientation: "horizontal",
    size: "md",
    territory: "PHL",
    title: "Remodeling Consultant"
  }) %>
  <%= pb_rails("user", props: {
    align: "left",
    avatar_url: "https://randomuser.me/api/portraits/women/44.jpg",
    name: "Anna Black",
    name_type_kit: "detail",
    orientation: "horizontal",
    territory: "PHL",
    title: "Remodeling Consultant"
  }) %>
</div>

<div class="pb--doc-demo-row">
  <%= pb_rails("user", props: {
    align: "left",
    avatar_url: "https://randomuser.me/api/portraits/women/44.jpg",
    name: "Anna Black",
    name_type_kit: "caption",
    orientation: "horizontal",
    size: "lg",
    territory: "PHL",
    title: "Remodeling Consultant"
  }) %>
  <%= pb_rails("user", props: {
    align: "left",
    avatar_url: "https://randomuser.me/api/portraits/women/44.jpg",
    name: "Anna Black",
    name_type_kit: "caption",
    orientation: "horizontal",
    size: "md",
    territory: "PHL",
    title: "Remodeling Consultant"
  }) %>
  <%= pb_rails("user", props: {
    align: "left",
    avatar_url: "https://randomuser.me/api/portraits/women/44.jpg",
    name: "Anna Black",
    name_type_kit: "caption",
    orientation: "horizontal",
    size: "sm",
    territory: "PHL",
    title: "Remodeling Consultant"
  }) %>
</div>
