<%= content_tag(:div,
  id: object.id,
  data: object.data,
  class: object.classname) do %>

 <%#
    <%= pb_rails("flex", props: {classname: "circle_and_line"}) do 
        <div class="circle">
            <%= pb_rails("icon", props: { icon: "check", fixed_width: true, size: "xs" }) 
        </div>
        <div class="line">
        </div>
    <% end 
%>


    <div class="circle_and_line">
        <div class="circle">
            <%= pb_rails("icon", props: { icon: "check", fixed_width: true, size: "xs" }) %>
        </div>
        <div class="line">
        </div>
    </div>

    <div class="step_child">
        <%= capture(&object.children) %>
    </div>



<% end %>
