<div
    class="pb_dialog_wrapper_rails <%= object.full_height_style %>"
    data-pb-dialog-wrapper="true"
    data-overlay-click="<%= object.overlay_close %>"
    <% if object.custom_event_type.present? %>
        data-custom-event-type="<%= object.custom_event_type %>"
    <% end %>
    <% if object.confirm_button_id.present? %>
        data-confirm-button-id="<%= object.confirm_button_id %>"
    <% end %>
    <% if object.cancel_button_id.present? %>
        data-cancel-button-id="<%= object.cancel_button_id %>"
    <% end %>
>
    <%= pb_content_tag(:dialog, role: "dialog", "aria-modal": "true", "aria-label": "Dialog") do %>
            <% if object.status === "" && object.title %>
                <%= pb_rails("dialog/dialog_header", props: { title: object.title, id: object.id, closeable: object.closeable }) %>
            <% end %>
            <% if object.status === "" && object.text %>
                <%= pb_rails("dialog/dialog_body", props: { text: object.text }) %>
            <% end %>
            <% if object.status != "" %>
                <%= pb_rails("dialog/dialog_body", props: { classname: "dialog_status_text_align" ,padding: "md" }) do %>
                    <%= pb_rails("flex", props: { align: "center", orientation: "column" }) do %>
                        <%= pb_rails("icon_circle", props: {
                                icon: object.status_alerts[0],
                                variant: object.status_alerts[1],
                                size: "lg"
                            }) %>
                        <%= pb_rails("title", props: { text: object.title, tag: "h1", size: 3, margin_top: "sm" }) %>
                        <%= pb_rails("body", props: { text: object.text, margin_top: "sm" }) %>
                    <% end %>
                <% end %>
            <% end %>
            <% if object.cancel_button && object.confirm_button %>
                        <%= pb_rails("dialog/dialog_footer", props: {
                            cancel_button: object.cancel_button,
                            cancel_button_id: object.cancel_button_id,
                            confirm_button: object.confirm_button,
                            confirm_button_id: object.confirm_button_id,
                            id: object.id,
                            loading: object.loading
                        }) %>
            <% end %>

            <%= content %>
    <% end %>
</div>
