<%= pb_content_tag(:div,
    class: object.classname + object.error_class,
    'data-pb-date-picker' => true,
    'data-validation-message' => object.validation_message,
      ) do %>
  <div class="input_wrapper">
    <% if content.present? %>
      <%= content %>
    <% else %>
      <%= pb_rails("text_input", props: {
        aria: object.input_aria,
        autocomplete: false,
        dark: object.dark,
        data: object.input_data,
        disabled: object.disable_input,
        error: object.error,
        id: object.picker_id,
        label: object.hide_label ? nil : object.label,
        margin_bottom: "none",
        name: object.name,
        placeholder: object.placeholder,
        required: object.required,
      }) %>
    <% end %>

    <% if object.selection_type == "quickpick" %>
      <input type="hidden" id="<%= "#{object.start_date_id}" %>" name="<%= "#{object.start_date_name}" %>">
      <input type="hidden" id="<%= "#{object.end_date_id}" %>" name="<%= "#{object.end_date_name}" %>">
    <% end %>

    <% if !object.hide_icon %>
      <div
          class="<%= object.icon_wrapper_class %>"
          id="cal-icon-<%= object.picker_id %>"
      >
        <%= pb_rails("icon", props: {
          classname: "cal_icon",
          icon: "calendar-alt"
        }) %>
      </div>
    <% end %>

    <!-- Inline -->
    <% if object.hide_icon && object.inline %>
      <!-- Plus Icon -->
      <div
          class="<%= object.icon_wrapper_class %> date-picker-inline-icon-plus"
          id="<%= object.picker_id %>-icon-plus"
      >
        <%= pb_rails("icon", props: {
          classname: "plus-icon",
          icon: "plus"
        }) %>
      </div>

      <!-- Angle Down Icon -->
      <div
          class="<%= object.icon_wrapper_class %> date-picker-inline-angle-down"
          id="<%= object.picker_id %>-angle-down"
      >
        <%= pb_rails("icon", props: {
          classname: "angle_down_icon",
          custom_icon: Playbook::Engine::root.join(angle_down_path)
        }) %>
      </div>
    <% end %>
  </div>

  <%= javascript_tag do %>
    (function() {
      const loadDatePicker = () => {
            console.log("Hi, I'm the Rails Date Picker 'loadDatePicker' function")
        }

      window.addEventListener("DOMContentLoaded", () => {
        loadDatePicker()
      })

      if (<%= !object.custom_event_type.empty? %>) {
        window.addEventListener("<%= object.custom_event_type %>", () => {
          loadDatePicker()
        })
      }
    })()
  <% end %>
<% end %>
