<%= pb_rails("layout", props: {layout: "masonry"}) do %>
  <%= pb_rails("layout/body") do %>
    <%#= pb_rails("image", props: { classname: "card-wide", url: "https://unsplash.it/500/400/?image=634" }) %>
    <%#= pb_rails("image", props: { url: "https://unsplash.it/500/400/?image=634" }) %>
    <%#= pb_rails("image", props: { url: "https://unsplash.it/500/400/?image=634" }) %>
    <%#= pb_rails("image", props: { url: "https://unsplash.it/500/400/?image=634" }) %>
    <%#= pb_rails("image", props: { url: "https://unsplash.it/500/400/?image=634" }) %>
    <%#= pb_rails("image", props: { url: "https://unsplash.it/500/400/?image=634" }) %>
    <%#= pb_rails("image", props: { classname: "card-wide", url: "https://unsplash.it/500/400/?image=634" }) %>

    <%= pb_rails("layout/item") do %>
      <%= pb_rails("image", props: { url: "https://unsplash.it/500/400/?image=634" }) %>
    <% end %>
    <%= pb_rails("layout/item") do %>
      <%= pb_rails("image", props: { url: "https://images.unsplash.com/photo-1611932084285-4fc50bfb7102?ixid=MXwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxMnx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" }) %>
    <% end %>
    <%= pb_rails("layout/item", props: { span: "two"}) do %>
      <%= pb_rails("image", props: { url: "https://images.unsplash.com/photo-1611934529218-748707e1d066?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2307&q=80" }) %>
    <% end %>
    <%= pb_rails("layout/item", props: { span: "two"}) do %>
      <%= pb_rails("image", props: { url: "https://unsplash.it/500/400/?image=634" }) %>
    <% end %>
    <%= pb_rails("layout/item", props: { span: "two"}) do %>
      <%= pb_rails("image", props: { url: "https://images.unsplash.com/photo-1606851685679-2a35cfdd62d6?ixid=MXwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxMXx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" }) %>
    <% end %>
    <%= pb_rails("layout/item", props: { span: "two"}) do %>
      <%= pb_rails("image", props: { url: "https://unsplash.it/500/400/?image=634" }) %>
    <% end %>
    <%= pb_rails("layout/item") do %>
      <%= pb_rails("image", props: { url: "https://unsplash.it/500/400/?image=634" }) %>
    <% end %>
    <%= pb_rails("layout/item") do %>
      <%= pb_rails("image", props: { url: "https://images.unsplash.com/photo-1611932084285-4fc50bfb7102?ixid=MXwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxMnx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" }) %>
    <% end %>
    <%= pb_rails("layout/item", props: { span: "two"}) do %>
      <%= pb_rails("image", props: { url: "https://images.unsplash.com/photo-1611934529218-748707e1d066?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2307&q=80" }) %>
    <% end %>
    <%= pb_rails("layout/item", props: { span: "two"}) do %>
      <%= pb_rails("image", props: { url: "https://unsplash.it/500/400/?image=634" }) %>
    <% end %>
    <%= pb_rails("layout/item", props: { span: "two"}) do %>
      <%= pb_rails("image", props: { url: "https://images.unsplash.com/photo-1606851685679-2a35cfdd62d6?ixid=MXwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxMXx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" }) %>
    <% end %>
    <%= pb_rails("layout/item", props: { span: "two"}) do %>
      <%= pb_rails("image", props: { url: "https://unsplash.it/500/400/?image=634" }) %>
    <% end %>

    <%# <div>item 2</div>
    <div class="span_three">item 3</div>
    <div >item 4</div>
    <div class="span_two">item 5</div>
    <div >item 6</div>
    <div >item 7</div>
    <div >item 8</div>
    <div >item 9</div>
    <div class=" span_two">item 10</div>
    <div >item 11</div>
    <div >item 12</div> %>
  <% end %>
<% end %>
