<%= content_tag(:div,
    id: object.id,
    data: object.data,
    class: object.classname) do %>

  <%= object.label_element %>

  <div class="pb_currency_wrapper">
    <%= object.currency_symbol_element %>
    <%= object.amount_element %>
    <%= object.units_element %>
  </div>
<% end %>
