<%= content_tag(:div,
    id: object.id,
    data: object.data,
    class: object.classname,
    aria: object.aria) do %>
  
  <%= pb_rails("caption", props: {text: object.label}) %>
  <div class="pb_currency_wrapper">
    <%= pb_rails("body", props: { color: "light", text: object.unit }) %>
    <%= pb_rails("title", props: { size: object.title_size, text: object.display_amount, classname: "pb_currency_value" }) %>
    <%= pb_rails("body", props: { classname: "cents", color: "light", text: object.cents }) %>
  </div>
<% end %>
