<%= content_tag(:div,
    aria: object.aria,
    class: object.classname,
    data: object.data,
    id: object.id,
    **combined_html_options) do %>
    <% if object.label.present? %>
        <%= pb_rails("caption", props: {text: object.label, margin_bottom:"xs"}) %>
    <% end %>
    <div class="dropdown_wrapper<%= error_class %>" style="position: relative">
        <input type="hidden" name="<%= object.name %>" id="dropdown-selected-option" value="<%= input_default_value %>" />
        <input id="dropdown-form-validation" name="<%= object.name %>_form_validation" value="<%= input_default_value %>" style="display: none" <%= object.required ? "required" : ""%> />

        <% if content.present? %>
            <%= content.presence %>
            <%= pb_rails("body", props: { status: "negative", text: object.error }) %>
        <% else %>
            <%= pb_rails("dropdown/dropdown_trigger") %>
            <%= pb_rails("dropdown/dropdown_container") do %>
                <% if object.options.present? %>
                    <% object.options.each do |option| %>
                        <%= pb_rails("dropdown/dropdown_option", props: {option: option}) %>
                    <% end %>
                <% end %>
            <% end %>

            <%= pb_rails("body", props: { status: "negative", text: object.error }) %>
        <% end %>
    </div>
<% end %>
