<%= pb_content_tag do %>
    <% if content.present? %>
        <div class="<%= object.trigger_wrapper_classes %>" style="display: inline-block" tabindex="0" data-dropdown="pb-dropdown-trigger" data-dropdown-custom-trigger<% if object.label.present? %> aria-label="<%= [object.label, object.default_display_placeholder].join(', ') %>"<% end %><% if object.select_id.present? %> id="<%= object.select_id %>"<% end %><% if object.error_id.present? %> aria-describedby="<%= object.error_id %>"<% end %> aria-invalid="<%= object.error.present? %>">
          <%= content.presence %>
        </div>
    <% else %>
    <%= pb_rails("flex", props: {
        align: "center",
        border_radius:"lg",
        classname: object.trigger_wrapper_classes,
        cursor: object.autocomplete ? "text" : "pointer",
        id: object.select_id,
        justify: "between",
        padding_x:"sm",
        padding_y:"xs",
        html_options: { tabindex: "0", "aria-label": object.label.present? ? [object.label, object.default_display_placeholder].join(", ") : nil, "aria-describedby": object.error_id, "aria-invalid": object.error.present?, "data-dropdown": "pb-dropdown-trigger" }
        }) do %>
        <%= pb_rails("flex/flex_item", props: { fixed_size: object.multi_select ? "85%" : "" }) do %>
            <%= pb_rails("flex", props: {align: "center"}) do %>
                <% if object.custom_display.present?  %>
                    <%= pb_rails("flex", props: {align: "center"}) do %>
                        <div id="dropdown_trigger_custom_display" style="display: none;">
                            <%= object.custom_display %>
                        </div>
                        <%= pb_rails("body", props: {text: object.default_display_placeholder, id: "dropdown_trigger_display"}) %>
                    <% end %>
                <% else %>
                    <% if object.multi_select %>
                        <%= pb_rails("flex", props: { align: "center", wrap: true }) do %>
                            <%= pb_rails("flex", props: { id:"dropdown_pills_wrapper", wrap: true }) do %>
                            <% end %>   
                        <% if object.autocomplete %>
                                <input
                                    data-dropdown-autocomplete
                                    class="dropdown_input"
                                    type="text"
                                    placeholder="<%= object.placeholder || 'Select…' %>"
                                    autocomplete="off"
                                />
                            <% else %>
                                <%= pb_rails("body", props: {text: object.default_display_placeholder, id: "dropdown_trigger_display_multi_select"}) %>
                            <% end %>
                        <% end %>
                    <% else %>
                        <% if object.autocomplete %>
                            <input
                                data-dropdown-autocomplete
                                class="dropdown_input"
                                type="text"
                                placeholder="<%= object.placeholder || 'Select…' %>"
                                autocomplete="off"
                            />
                        <% else %>
                            <%= pb_rails("body", props: {text: object.default_display_placeholder, id: "dropdown_trigger_display"}) %>
                        <% end %>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
            <%= pb_rails("flex/flex_item") do %>
                <%= pb_rails("body", props: {display: "flex", align_items:"center" }) do  %>
                    <%= pb_rails("icon", props: {icon: "times", cursor: "pointer", size:"sm", id: "dropdown_clear_icon", padding_right:"xs" }) %>
                    <%= pb_rails("icon", props: {icon: "chevron-down", cursor: "pointer", size:"sm", id: "dropdown_open_icon"}) %>
                    <%= pb_rails("icon", props: {icon: "chevron-up", cursor: "pointer", size:"sm", id: "dropdown_close_icon"}) %>
                <% end %>
            <% end %>
    <% end %>
    <% end %>
<% end %>
