<%= pb_content_tag do %>
    <% if object.label.present? %>
        <label for="<%= object.select_id %>" data-dropdown="pb-dropdown-label">
            <%= pb_rails("caption", props: { text: object.label, margin_bottom: "xs", classname: "pb_dropdown_kit_label", dark: object.dark }) %>
        </label>
    <% end %>
    <div class="dropdown_wrapper<%= error_class %>" style="position: relative">
        <input
            data-default-value="<%= input_default_value %>"
            id="dropdown-selected-option"
            name="<%= object.name %><%= '[]' if object.multi_select %>"
            style="display: none"
            <%= object.required ? "required" : ""%>
        />
        <% if object.variant == "quickpick" %>
          <input id="<%= object.start_date_id %>" name="<%= object.start_date_name %>" style="display: none">
          <input id="<%= object.end_date_id %>" name="<%= object.end_date_name %>" style="display: none">
        <% end %>
        <% if content.present? %>
            <%= content.presence %>
            <% if object.error.present? %>
                <%= pb_rails("body", props: { status: "negative", text: object.error, id: object.error_id, aria: { atomic: "true", live: "polite" }, html_options: { role: "alert" }, dark: object.dark }) %>
            <% end %>
        <% else %>
            <%= pb_rails("dropdown/dropdown_trigger", props: { autocomplete: object.autocomplete, multi_select: object.multi_select, placeholder: object.placeholder, select_id: object.select_id, error_id: object.error_id, error: object.error }) %>
            <%= pb_rails("dropdown/dropdown_container", props: { searchbar: object.searchbar, constrain_height: object.constrain_height }) do %>
                <% if options_with_blank.present? %>
                    <% options_with_blank.each do |option| %>
                        <%= pb_rails("dropdown/dropdown_option", props: {option: option}) %>
                    <% end %>
                <% end %>
            <% end %>

            <% if object.error.present? %>
                <%= pb_rails("body", props: { status: "negative", text: object.error, id: object.error_id, aria: { atomic: "true", live: "polite" }, html_options: { role: "alert" }, dark: object.dark }) %>
            <% end %>
        <% end %>
    </div>
<% end %>
