<%= pb_content_tag(:div, id: object.option_id, aria: { disabled: object.disabled }) do %>
    <%= pb_rails("list/item", props: {
        display: "flex",
        justify_content: "center",
        padding:"none",
        cursor: "pointer"
        }) do %>
            <div class="<%= object.option_wrapper_class %>">
                <% if content.present? %>
                    <%= content.presence %>
                <% else %>
                    <%= pb_rails("body", props: {text: object.option[:label]}) %>
                <% end %>
            </div>
    <% end %>
<% end %>
