
<div class="pb--doc-demo-row">

  <%= pb_rails("button_toolbar", props: { orientation: "vertical", variant: "secondary" }) do %>
    <%= pb_rails("button", props: { text: "Create", variant: "secondary" }) %>
    <%= pb_rails("button", props: { text: "Edit", variant: "secondary" }) %>
    <%= pb_rails("button", props: { text: "Copy", variant: "secondary" }) %>
    <%= pb_rails("button", props: { text: "Cut", variant: "secondary" }) %>
  <% end %>

  <%= pb_rails("button_toolbar", props: { orientation: "horizontal", variant: "secondary" }) do %>
    <%= pb_rails("button", props: { text: "Create", variant: "secondary" }) %>
    <%= pb_rails("button", props: { text: "Edit", variant: "secondary" }) %>
    <%= pb_rails("button", props: { text: "Copy", variant: "secondary" }) %>
    <%= pb_rails("button", props: { text: "Cut", variant: "secondary" }) %>
  <% end %>

</div>
