<%= content_tag(:div,
  id: object.id,
  data: object.data,
  class: object.classname) do %>
    <div class="popover_tooltip" id="<%= object.tooltip_id %>" role="tooltip">
      <%= pb_rails("card", props: {shadow: "deeper"}) do %>
        <%= capture(&object.children) %>
      <% end %>
    </div>
<% end %>


<%# Javascript for the Popover Instance %>
<% content_for :pb_js do %>
  <%= javascript_tag do %>
    window.addEventListener('DOMContentLoaded', function() {
      new PbPopover(
        "#<%= object.trigger_element_id %>",
        "#<%= object.tooltip_id %>",
         "<%= object.position %>",
          <%= object.popover_offset %>,
      )
    })
  <% end %>
<% end %>


