<div class="flex-doc-example">
    
  <%= pb_rails("title", props: {size: 4, text: "Row"}) %><br/>

  <%= pb_rails("flex", props: {reverse: true}) do %>
    <%= pb_rails("flex/flex_item") do %>1<% end %>
    <%= pb_rails("flex/flex_item") do %>2<% end %>
    <%= pb_rails("flex/flex_item") do %>3<% end %>
    <%= pb_rails("flex/flex_item") do %>4<% end %>
  <% end %>

  <br/><br/>

  <%= pb_rails("title", props: {size: 4, text: "Column"}) %><br/>

  <%= pb_rails("flex", props: {orientation: "column", reverse: true}) do %>
    <%= pb_rails("flex/flex_item") do %>1<% end %>
    <%= pb_rails("flex/flex_item") do %>2<% end %>
    <%= pb_rails("flex/flex_item") do %>3<% end %>
    <%= pb_rails("flex/flex_item") do %>4<% end %>
  <% end %>

</div>
