<div class="flex-doc-example">

  <%= pb_rails("title", props: {size: 4, text: "Row"}) %><br/>

  <%= pb_rails("flex", props: {classname: "tall", vertical: "top"}) do %>
    <%= pb_rails("flex/flex_item") do %>1<% end %>
    <%= pb_rails("flex/flex_item") do %>2<% end %>
    <%= pb_rails("flex/flex_item") do %>3<% end %>
    <%= pb_rails("flex/flex_item") do %>4<% end %>
  <% end %>

  <br/><br/>

  <%= pb_rails("flex", props: {classname: "tall", vertical: "center"}) do %>
    <%= pb_rails("flex/flex_item") do %>1<% end %>
    <%= pb_rails("flex/flex_item") do %>2<% end %>
    <%= pb_rails("flex/flex_item") do %>3<% end %>
    <%= pb_rails("flex/flex_item") do %>4<% end %>
  <% end %>

  <br/><br/>

  <%= pb_rails("flex", props: {classname: "tall", vertical: "bottom"}) do %>
    <%= pb_rails("flex/flex_item") do %>1<% end %>
    <%= pb_rails("flex/flex_item") do %>2<% end %>
    <%= pb_rails("flex/flex_item") do %>3<% end %>
    <%= pb_rails("flex/flex_item") do %>4<% end %>
  <% end %>

  <br/><br/>

  <%= pb_rails("flex", props: {classname: "tall", vertical: "stretch"}) do %>
    <%= pb_rails("flex/flex_item") do %>1<% end %>
    <%= pb_rails("flex/flex_item") do %>2<% end %>
    <%= pb_rails("flex/flex_item") do %>3<% end %>
    <%= pb_rails("flex/flex_item") do %>4<% end %>
  <% end %>

  <br/><br/>

  <%= pb_rails("title", props: {size: 4, text: "Column"}) %><br/>

  <%= pb_rails("flex", props: {classname: "tall", orientation: "column", vertical: "top"}) do %>
    <%= pb_rails("flex/flex_item") do %>1<% end %>
    <%= pb_rails("flex/flex_item") do %>2<% end %>
    <%= pb_rails("flex/flex_item") do %>3<% end %>
    <%= pb_rails("flex/flex_item") do %>4<% end %>
  <% end %>

  <br/><br/>

  <%= pb_rails("flex", props: {classname: "tall", orientation: "column", vertical: "center"}) do %>
    <%= pb_rails("flex/flex_item") do %>1<% end %>
    <%= pb_rails("flex/flex_item") do %>2<% end %>
    <%= pb_rails("flex/flex_item") do %>3<% end %>
    <%= pb_rails("flex/flex_item") do %>4<% end %>
  <% end %>

  <br/><br/>

  <%= pb_rails("flex", props: {classname: "tall", orientation: "column", vertical: "bottom"}) do %>
    <%= pb_rails("flex/flex_item") do %>1<% end %>
    <%= pb_rails("flex/flex_item") do %>2<% end %>
    <%= pb_rails("flex/flex_item") do %>3<% end %>
    <%= pb_rails("flex/flex_item") do %>4<% end %>
  <% end %>

</div>
