<% data = [{
      name: 'Waiting for Calls',
      y: 48.8,
    
    },
    {
      name: 'On Call',
      y: 46.8,
  
    }, 
    {
      name: 'After call',
      y: 4.6,
 
    }
  ] %>

<%= pb_rails("flex",  props: {horizontal: "center"}) do %>
    <%= pb_rails("donut_chart", props: {
        style: "pie",
        title: "sm",
        chart_data: data,
        id: "size-test-1",
        min_point_size: 2,
        max_point_size: 200,
        inner_size: "sm",
        z_min: 0,
        start_angle: 0,
        header_format: '',
        useHTML: true,
        point_format: '<b><span style="font-weight: bold; color:{point.color};">●</span> {point.name}: ' + '{point.y}%</b>'
    }) %>

    <%= pb_rails("donut_chart", props: {
        style: "pie",
        title: "md",
        chart_data: data,
        id: "size-test-2",
        min_point_size: 2,
        max_point_size: 200,
        inner_size: "md",
        z_min: 0,
        start_angle: 0,
        header_format: '',
        useHTML: true,
        point_format: '<b><span style="font-weight: bold; color:{point.color};">●</span> {point.name}: ' + '{point.y}%</b>'
    }) %>

    <%= pb_rails("donut_chart", props: {
        style: "pie",
        title: "lg",
        chart_data: data,
        id: "size-test-3",
        min_point_size: 2,
        max_point_size: 200,
        inner_size: "lg",
        z_min: 0,
        start_angle: 0,
        header_format: '',
        useHTML: true,
        point_format: '<b><span style="font-weight: bold; color:{point.color};">●</span> {point.name}: ' + '{point.y}%</b>'
    }) %>
    <%= pb_rails("donut_chart", props: {
        style: "pie",
        title: "none",
        chart_data: data,
        id: "size-test-4",
        min_point_size: 2,
        max_point_size: 200,
        inner_size: "none",
        z_min: 0,
        start_angle: 0,
        header_format: '',
        useHTML: true,
        point_format: '<b><span style="font-weight: bold; color:{point.color};">●</span> {point.name}: ' + '{point.y}%</b>'
    }) %>
 
<% end %>