<%= pb_rails("flex", props: { align: "center"}) do %>
  <%= pb_rails("icon_button", props: {size: "lg"}) %> <span>Large</span>
<% end %>

<%= pb_rails("flex", props: { align: "center" }) do %>
  <%= pb_rails("icon_button", props: {size: "sm"}) %> <span>Small</span>
<% end %>

<%= pb_rails("flex", props: { align: "center" }) do %>
  <%= pb_rails("icon_button", props: {size: "xs"}) %> <span>XSmall</span>
<% end %>

<br/><br/>

<%= pb_rails("flex", props: { align: "center" }) do %>
  <%= pb_rails("icon_button", props: {size: "1x"}) %> <span>1x</span>
<% end %>

<%= pb_rails("flex", props: { align: "center" }) do %>
  <%= pb_rails("icon_button", props: {size: "2x"}) %> <span>2x</span>
<% end %>

<%= pb_rails("flex", props: { align: "center" }) do %>
  <%= pb_rails("icon_button", props: {size: "3x"}) %> <span>3x</span>
<% end %>

<%= pb_rails("flex", props: { align: "center" }) do %>
  <%= pb_rails("icon_button", props: {size: "4x"}) %> <span>4x</span>
<% end %>
