<%= content_tag(:div,
    id: object.id,
    data: object.data,
    class: object.classname) do %>
    <div class="pb_project_wrapper">
      <%= pb_rails("caption", props: { text: "Project" }) %>
      <div class="pb_project-details">
        <%= pb_rails("flex", props: {orientation: "row", vertical: "center"}) do %>
          <%= pb_rails("body", props: { color: "light", text: object.project_number } ) %>
          <%= pb_rails("title", props: { text: object.project_name, tag: "h4", size: 4 }) %>
        <% end %>
      </div>
    </div>
<% end %>
