<div class="pb--doc-demo-row">
  <div>
    <%= pb_rails("button_toolbar", props: { orientation: "vertical", connected: true }) do %>
      <%= pb_rails("button", props: { text: "Field" }) %>
      <%= pb_rails("button", props: { text: "Retail"}) %>
      <%= pb_rails("button", props: { text: "Event"}) %>
      <%= pb_rails("button", props: { text: "Training"}) %>
      <%= pb_rails("button", props: { text: "Not Working"}) %>
    <% end %>
  </div>
</div>