<div class="pb--doc-demo-row">
  <div>
    <%= pb_rails("button_toolbar", props: { orientation: "vertical", connected: true }) do %>
      <%= pb_rails("button", props: { text: "Field", variant: "secondary" }) %>
      <%= pb_rails("button", props: { text: "Retail", variant: "secondary" }) %>
      <%= pb_rails("button", props: { text: "Event", variant: "secondary" }) %>
      <%= pb_rails("button", props: { text: "Training", variant: "secondary" }) %>
      <%= pb_rails("button", props: { text: "Not Working", variant: "secondary" }) %>
    <% end %>
  </div>
</div>