<div class="pb--doc-demo-row">

  <%= pb_rails("button_toolbar", props: { orientation: "vertical", connected: true }) do %>
    <%= pb_rails("button", props: { text: "Create" }) %>
    <%= pb_rails("button", props: { text: "Edit"}) %>
    <%= pb_rails("button", props: { text: "Copy"}) %>
    <%= pb_rails("button", props: { text: "Delete"}) %>
  <% end %>

  <%= pb_rails("button_toolbar", props: { orientation: "horizontal", connected: true }) do %>
    <%= pb_rails("button", props: { text: "Create" }) %>
    <%= pb_rails("button", props: { text: "Edit" }) %>
    <%= pb_rails("button", props: { text: "Copy" }) %>
    <%= pb_rails("button", props: { text: "Delete" }) %>
  <% end %>

</div>
