<div>
  <%= pb_rails("selectable_card", props: {
        name: "selectable_card_dark",
        text: "Selectable Card",
        checked: true,
        dark: true,
        icon: true,
      }) %>

  </br>

  <%= pb_rails("selectable_card", props: {
        name: "selectable_card_dark_2",
        text: "Selectable Card",
        dark: true,
        icon: true,
      }) %>

  </br>

  <%= pb_rails("selectable_card", props: {
      name: "selectable_card_dark_3",
      dark: true,
      icon: true,
}) do %>
  <%= pb_rails("icon", props: { icon: "user" }) %>
  Selectable Card content goes here
<% end %>

</br>

  <%= pb_rails("selectable_card", props: {
        name: "unselectable_card_dark",
        text: "Disabled (Un)Selectable Card",
        disabled: true,
        dark: true,
        icon: true,
      }) %>
</div>