<div>
  <%= pb_rails("selectable_card", props: {
        multi: false,
        name: "single_selectable_card_dark",
        text: "Single-selectable Card",
        value: "1",
        checked: true,
        dark: true,
        icon: true,
    }) %>

  <br>

  <%= pb_rails("selectable_card", props: {
        multi: false,
        name: "single_selectable_card_dark",
        text: "Single-selectable Card",
        value: "2",
        dark: true,
        icon: true,
    }) %>

  <br>

  <%= pb_rails("selectable_card", props: {
    multi: false,
    name: "single_selectable_card_dark",
    text: "Single-selectable Card",
    value: "3",
    dark: true,
    icon: true,
  }) do %>
    <%= pb_rails("icon", props: { icon: "user" }) %>
        Selectable Card content goes here
    <% end %>

<br>

  <%= pb_rails("selectable_card", props: {
        multi: false,
        name: "single_selectable_card_dark",
        text: "Disabled (Un)Selectable Card",
        value: "4",
        disabled: true,
        dark: true,
        icon: true,
    }) %>
</div>