<%= content_tag(:div,
  id: object.id,
  data: object.data,
  class: object.classname) do %>

  <% if object.multi %>
    <%= check_box_tag object.name, object.value, object.checked, id: object.input_id_present, disabled: object.disabled %>
  <% else %>
    <%= radio_button_tag object.name, object.value, object.checked, id: object.input_id_present, disabled: object.disabled %>
  <% end %>

  <label for="<%= object.input_id_present %>">
    <% if object.children.nil? %>
      <%= pb_rails("body", props: { text: object.text }) %>
    <% else %>
      <%= capture(&object.children) %>
    <% end %>
    <% if object.icon%>
      <div class="pb_selectable_card_circle">
        <%= pb_rails("icon", props: { icon: "check", fixed_width: true,}) %>
      </div>
    <% end %>
  </label>

<% end %>