<div class="pb--doc-demo-row">
  
  <%= pb_rails("avatar_action_button", props: {
      name: "Danny Devito",
      image_url: "https://upload.wikimedia.org/wikipedia/commons/8/88/Danny_DeVito_cropped_and_edited_for_brightness.jpg",
      action: "plus",
  }) %>

  <%= pb_rails("avatar_action_button", props: {
      name: "Danny Devito",
      image_url: "https://upload.wikimedia.org/wikipedia/commons/8/88/Danny_DeVito_cropped_and_edited_for_brightness.jpg",
      action: "times",
  }) %>

  <%= pb_rails("avatar_action_button", props: {
      name: "Danny Devito",
      image_url: "https://upload.wikimedia.org/wikipedia/commons/8/88/Danny_DeVito_cropped_and_edited_for_brightness.jpg",
      action: "minus",
  }) %>

  <%= pb_rails("avatar_action_button", props: {
      name: "Danny Devito",
      image_url: "https://upload.wikimedia.org/wikipedia/commons/8/88/Danny_DeVito_cropped_and_edited_for_brightness.jpg",
      action: "info",
  }) %>

  <%= pb_rails("avatar_action_button", props: {
      name: "Danny Devito",
      image_url: "https://upload.wikimedia.org/wikipedia/commons/8/88/Danny_DeVito_cropped_and_edited_for_brightness.jpg",
      action: "question",
  }) %>

  <%= pb_rails("avatar_action_button", props: {
      name: "Danny Devito",
      image_url: "https://upload.wikimedia.org/wikipedia/commons/8/88/Danny_DeVito_cropped_and_edited_for_brightness.jpg",
      action: "exclamation",
  }) %>

  <%= pb_rails("avatar_action_button", props: {
      name: "Danny Devito",
      image_url: "https://upload.wikimedia.org/wikipedia/commons/8/88/Danny_DeVito_cropped_and_edited_for_brightness.jpg",
      action: "heart",
  }) %>

  <%= pb_rails("avatar_action_button", props: {
      name: "Danny Devito",
      image_url: "https://upload.wikimedia.org/wikipedia/commons/8/88/Danny_DeVito_cropped_and_edited_for_brightness.jpg",
      action: "sort",
  }) %>

</div>