<% if object.draggable_item %>
    <%= pb_rails("draggable/draggable_item", props:{drag_id: object.drag_id, classname: drop_zone_line_color ? line_color_class : nil}) do %>
        <%= pb_content_tag(object.tag) do %>
            <% if object.draggable_item %>
                <%= pb_rails("flex", props: { align: "center" }) do %>
                    <% if object.drag_handle %>
                        <span classname="card_draggable_handle">
                            <%= pb_rails("icon", props: { icon: "grip-dots-vertical", padding_right: "xs" }) %>
                        </span>
                    <% end %>
                    <div style="width: 100%">
                        <%= content.presence %>
                    </div>
                <% end %>
            <% end %>
        <% end %>
    <% end %>
<% else %>
    <%= pb_content_tag(object.tag) do %>
        <%= content.presence %>
    <% end %>
<% end %>


