<%= pb_rails("flex", props: { gap: "md", justify: "center", wrap: true }) do %>
  <%= pb_rails("flex/flex_item") do %>
    <span id='truncated-tooltip-2' style="
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 65px;
    ">Tooltip for truncation only</span>
    <%= pb_rails("tooltip", props: {
      trigger_element_selector: "#truncated-tooltip-2",
      tooltip_id: "truncated-2",
      position: 'left',
    }) do %>
        Tooltip for truncation only
    <% end %>
  <% end %>
  <%= pb_rails("flex/flex_item") do %>
    <span id='truncated-tooltip-1'>Tooltip for truncation only</span>
    <%= pb_rails("tooltip", props: {
      trigger_element_selector: "#truncated-tooltip-1",
      tooltip_id: "truncated-1",
      position: 'left',
    }) do %>
        Tooltip for truncation only
    <% end %>
  <% end %>
<% end %>


<script>
  const triggerIds = ["truncated-tooltip-2", "truncated-tooltip-1"];
  const tooltipIds = ["truncated-2", "truncated-1"];

  function hideTooltipIfNotTruncated(triggerId, tooltipId) {
      const trigger = document.getElementById(triggerId);
      const tooltipElement = document.querySelector(`[data-pb-tooltip-tooltip-id="${tooltipId}"]`);

      if (trigger.scrollWidth === trigger.clientWidth) {
          tooltipElement.dataset.pbTooltipShowTooltip = 'false';
      }
  }

  triggerIds.forEach((triggerId, index) => {
      hideTooltipIfNotTruncated(triggerId, tooltipIds[index]);
  });
</script>
