
<%= pb_rails("flex", props: { orientation: "column" }) do %>


  <%= pb_rails("flex/flex_item") do %>
    <span id="truncated-tooltip-1">Hover me</span>
    <%= pb_rails("tooltip", props: {
      trigger_element_selector: "#truncated-tooltip-1",
      tooltip_id: "truncated-1",
      position: "left",
    }) do %>
        Tooltip is enabled
    <% end %>
  <% end %>

  <%= pb_rails("flex/flex_item", props: {margin_top: "md"}) do %>
    <%= pb_rails("button", props: {text: "Toggle state", id: "toggle-tooltip-button"}) %>
  <% end %>
<% end %>


<script>
const toggleTooltipButton = document.getElementById("toggle-tooltip-button");

function hideTooltipIfNotTruncated(tooltipId) {
  const tooltipElement = document.querySelector(
    `[data-pb-tooltip-tooltip-id="${tooltipId}"]`
  );

  tooltipElement.dataset.pbTooltipShowTooltip =
    tooltipElement.dataset.pbTooltipShowTooltip == "false" ? "true" : "false";
}

toggleTooltipButton.addEventListener("click", () => {
  hideTooltipIfNotTruncated("truncated-1");
});
</script>
