<%= pb_rails("flex", props: {wrap: true}) do %>
  <div style="flex-basis:400px; overflow:hidden">
      <%= pb_rails("gauge", props: {
        id: "gauge-sizing4",
        chart_data: [{ name: "Point 1", value: 100 }],
      }) %>
  </div>
  <div style="flex-basis:300px; overflow:hidden">
      <%= pb_rails("gauge", props: {
        id: "gauge-sizing3",
        chart_data: [{ name: "Point 2", value: 75 }],
      }) %>
  </div>
  <div style="flex-basis:200px; overflow:hidden">
      <%= pb_rails("gauge", props: {
        id: "gauge-sizing2",
        chart_data: [{ name: "Point 3", value: 50 }],
      }) %>
  </div>
  <div style="flex-basis:125px; overflow:hidden">
      <%= pb_rails("gauge", props: {
        id: "gauge-sizing1",
        chart_data: [{ name: "Point 4", value: 25 }],
      }) %>
  </div>
<% end %>
