<%= content_tag(:div,
    aria: object.aria,
    id: object.id,
    data: object.data,
    class: object.classname) do %>

    <%= pb_rails "icon_circle", props: {
      icon: object.icon,
      size: object.size,
      variant: object.variant } %>

      <div>
        <%= pb_rails("flex", props: { vertical: "bottom" }) do %>
            <%= pb_rails "title", props: {
                tag: "span",
                text: object.value_string,
                size: object.title_size } %>
                &nbsp;
            <%= pb_rails "body", props: {
                text: object.unit } %>
        <% end %>
            <%= pb_rails "caption", props: {
                text: object.text } %>
      </div>
<% end %>
