<%= pb_content_tag do %>

    <%= pb_rails("icon_circle", props: {
        dark: object.dark,
        icon: object.icon,
        margin_right: object.icon_margin_right,
        margin_bottom: object.icon_margin_bottom,
        size: object.size,
        variant: object.variant }) %>

    <div>
        <%= pb_rails("flex", props: { align: "baseline" }) do %>
            <%= pb_rails("title", props: {
                dark: object.dark,
                tag: "span",
                text: object.value_string,
                size: object.title_size }) %>
                &nbsp;
            <%= pb_rails("body", props: {
                dark: object.dark,
                text: object.unit }) %>
        <% end %>
            <%= pb_rails("caption", props: {
                dark: object.dark,
                text: object.text }) %>
    </div>
<% end %>
