<%== deprecated_kit_warning('Legend') %>
<%= pb_content_tag do %>
  <%= pb_rails("body", props: {color: object.body_color}) do %>
    <span style="<%= object.custom_color %>" class=<%= object.custom_color_class %>></span>
    <%= pb_rails("title", props: { dark: object.dark, text: object.prefix_text, tag: "span", size: 4 }) %>
    <%= object.text %>
  <% end %>
<% end %>
