<%= content_tag(:div,
    aria: object.aria,
    class: object.classname,
    data: object.data,
      id: object.id) do %>



  <%= pb_rails("selectable_card", props: {
    input_id: object.name,
    name: object.name,
    value:  object.value || object.name,
    checked: object.checked,
    dark: object.dark,
    disabled: object.disabled
  }) do %>
    <div>
      <span class="pb_checkbox_checkmark mr_xs">
        <%= pb_rails("icon", props: { icon: "check", classname: "check_icon", fixed_width: true}) %>
      </span>
      <%= pb_rails("body", props: {  text: object.text, dark: object.dark }) %>

    <% if object.children %>
      <% if object.text %>
        </div>
        <div>
      <% end %>
      <%= capture(&object.children)%>

    <% end %>
    </div>
  <% end %>

<% end %>
