<%= content_tag(:div,
  id: object.id,
  data: object.data,
  class: object.classname) do %>
  <div class="tooltip_tooltip" id="<%= object.tooltip_id %>" role="tooltip">
    <%= content.presence %>
    <div class="arrow" id="<%= object.tooltip_id %>-arrow"></div>
  </div>
<% end %>

<script>
  if (<%= object.truncation_enabled %>) {
    // only display tooltip if trigger element is truncated
    document.addEventListener("DOMContentLoaded", function () {
      const formatedTriggerElementId =
        "<%= object.trigger_element_selector %>".replace("#", "");
      const triggerElement = document.getElementById(formatedTriggerElementId);

      // if scrollWidth is the same as the offsetWidth, the trigger element is not truncated
      if (
        triggerElement.offsetWidth === triggerElement.scrollWidth ||
        triggerElement.scrollWidth === 0
      ) {
        triggerElement.classList.add("tooltip-disabled");
      }
    });
  }
</script>