<%= content_tag(:div,
      id: object.id,
      data: object.data,
      class: object.classname,
      style: combined_html_options[:style]&.gsub(/min-height:[^;]+;?/, '').gsub(/min-width:[^;]+;?/, '').gsub(/max-height:[^;]+;?/, '').gsub(/max-width:[^;]+;?/, '')&.strip,
      **combined_html_options.except(:style)) do %>


  <div class="tooltip_tooltip" id="<%= object.tooltip_id %>" role="tooltip" style="<%= object.sizing_helper %>">
    <%= content.presence %>
    <div class="arrow" id="<%= object.tooltip_id %>-arrow"></div>
  </div>
<% end %>
