<%= content_tag(:div,
      id: object.id,
      data: object.data,
      class: object.classname,
      style: remove_height_properties(combined_html_options[:style]) || "") do %>

  <div class="tooltip_tooltip" id="<%= object.tooltip_id %>" role="tooltip" style="<%= object.height_and_width_helper %>">
    <%= content.presence %>
    <div class="arrow" id="<%= object.tooltip_id %>-arrow"></div>
  </div>
<% end %>