<%= content_tag(:div,
  id: object.id,
  data: object.data,
  class: object.classname,
  **combined_html_options) do %>
  <div class="tooltip_tooltip" id="<%= object.tooltip_id %>" role="tooltip" style="<%= object.sizing_helper %>">
    <%= content.presence %>
    <div class="arrow" id="<%= object.tooltip_id %>-arrow"></div>
  </div>
<% end %>
