<div>
    <%= pb_rails("flex", props:{ justify: "end", padding: "sm" }) do %>
        <%= pb_rails("button", props: { id: "menu_button", padding: "xxs", data: { "open-drawer": "breakpoint-drawer"} }) do %>
            <%= pb_rails("icon", props: { icon: "bars", size: "2x" }) %>
        <% end %>
    <% end %>
    <%= pb_rails("drawer", props: { id: "breakpoint-drawer", overlay: false, behavior: "push", breakpoint: "md"  }) do %> 
        <%= pb_rails("nav", props: { variant: "bold" }) do %>
            <%= pb_rails("nav/item", props: { text: "Overview", link: "#", collapsible: true, icon_left:"city", collapsible_trail: true, font_weight:"bolder", font_size:"small", icon_right:["plus", "minus"] }) do %>
                <%= pb_rails("nav", props: { variant: "bold" }) do %>
                    <%= pb_rails("nav/item", props: { text: "City", link: "#", font_size:"small", margin_y:"none" }) %>
                    <%= pb_rails("nav/item", props: { text: "People", link: "#", font_size:"small", margin_y:"none" }) %>
                    <%= pb_rails("nav/item", props: { text: "Business", link: "#", font_size:"small", margin_y:"none" }) %>
                <% end %>
            <% end %>
            <%= pb_rails("nav/item", props: { text: "Albums", link: "#", active: true, collapsible: true, icon_left: "theater-masks", collapsible_trail: true, font_weight:"bolder", font_size:"small", icon_right:["plus", "minus"] }) do %>
                <%= pb_rails("nav", props: { variant: "bold" }) do %>
                    <%= pb_rails("nav/item", props: { text: "Entertainment", link: "#", font_size:"small", margin_y:"none" }) %>
                    <%= pb_rails("nav/item", props: { text: "Food", link: "#", font_size:"small", margin_y:"none" }) %>
                    <%= pb_rails("nav/item", props: { text: "Style", link: "#", font_size:"small", margin_y:"none" }) %>
                <% end %>
            <% end %>
            <%= pb_rails("nav/item", props: { text: "Similar Artists", link: "#", collapsible: true, icon_left: "city", collapsible_trail: true, font_weight:"bolder", font_size:"small", icon_right:["plus", "minus"] }) do %>
                <%= pb_rails("nav", props: { variant: "bold" }) do %>
                    <%= pb_rails("nav/item", props: { text: "City", link: "#", font_size:"small", margin_y:"none" }) %>
                    <%= pb_rails("nav/item", props: { text: "People", link: "#", font_size:"small", margin_y:"none" }) %>
                    <%= pb_rails("nav/item", props: { text: "Business", link: "#", font_size:"small", margin_y:"none" }) %>
                <% end %>
            <% end %>
        <% end %>
    <% end %>
    <%= pb_rails("body", props: { padding: "lg" }) do %>
        The <strong> breakpoint </strong> prop determines when the Drawer is always visible. Above the specified breakpoint, the Drawer remains open on the page. Below it, only the trigger element is shown, allowing you to toggle the drawer open and closed. Resize your window to see this in action.
    <% end %>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const body = document.querySelector("body");
            const drawer = document.querySelector("#drawer-overlay-breakpoint-drawer");
        
            function setStylesForFullscreen(isFullscreen) {
                if (isFullscreen) {
                    body.style.cssText = "margin-left: 250px !important; margin-right: 0 !important;";
                    drawer.style.cssText = 'position: fixed !important;';
                } else {
                    body.style.cssText = "margin-left: 0 !important; margin-right: 0 !important;";
                    drawer.style.cssText = 'position: static !important;';
                }
            }
        
            setStylesForFullscreen(document.fullscreenElement);
        
            document.addEventListener('fullscreenchange', function() {
                setStylesForFullscreen(document.fullscreenElement);
            });
        });
    </script>
</div>
