<%= pb_rails("card",props: {padding:"none"}) do%>
  <%= pb_rails("flex", props: {orientation: "row", vertical: "center"}) do %>
    <%= pb_rails("circle_icon_button", props: { variant: "secondary", icon: "filter", id:"filter#{object.id}"}) %>

    <div class="maskContainer">
        <div class="filters">
            <div class="left_gradient"></div>
                  <% object.filters.each do |filter| %>
                  <div class="filter">
                    <%= pb_rails("caption", props: { text: filter[:name]}) %>
                    <%= pb_rails("title", props: { size: 4, tag:"h4", text: filter[:value]}) %>
                    </div>
                  <% end %>   
            <div class="right_gradient"></div>
        </div>
    </div>

    <%= pb_rails("caption", props: {text: "#{object.results} Results", size:"xs", classname:"filter-results"}) %>  
    <%= pb_rails("button", props: {variant: "link",id: "sort-button#{object.id}"}) do %>
      <% object.sort_menu.each do |item| %>
          <% if item[:active] == true %>
            <%= item[:item] %>
            <%= pb_rails("icon", props: { icon: object.sort_icon(item[:direction]), fixed_width: true }) %>
          <%end%>
          <% end %>
    <% end %>
    

  <% end %>
<% end %> 

<%= pb_rails("popover", props: {trigger_element_id: "filter#{object.id}", tooltip_id: "filter-form#{object.id}", position: 'bottom'}) do %>
  <%= capture(&object.children) %>
<% end %>

<%= pb_rails("popover", props: { trigger_element_id: "sort-button#{object.id}", tooltip_id: "sort-filter-btn-tooltip#{object.id}", position: 'bottom'}) do %>
    <%= pb_rails("list") do %>
      <% object.sort_menu.each do |item| %>
        <%= pb_rails("list/item") do%> <%= pb_rails("button", props: {variant: "link" ,classname: "p-0", text: item[:item], link: item[:link]}) %><% end %>
      <% end %> 
    <% end %>
<% end %>