<%= content_tag(:div,
    id: object.id,
    data: object.data,
    class: object.classname) do %>
      <div class="align-<%= object.alignment %>">
        <% text_kit = "caption" %>
        <% text_timezone_color = nil %>
        <% if object.size == "sm" %>
          <% text_kit = "body" %>
          <% text_timezone_color = "light" %>
        <% end %>
        <% if object.icon == true %>
          <%= pb_rails("icon", props: { icon: "clock", dark: object.dark, classname:"space-right", fixed_width: true }) %>
        <% end %>
        <%= pb_rails(text_kit, props: { tag: "span", dark: object.dark, text: object.format_start_time_string }) %>
        <%= pb_rails(text_kit, props: { tag: "span", dark: object.dark, classname:"dash", text: "—" }) %>
        <%= pb_rails(text_kit, props: { tag: "span", dark: object.dark, text: object.format_end_time_string }) %>
        <% if object.timezone == true %>
          <%= pb_rails(text_kit, props: { tag: "span", color: text_timezone_color, classname:"space-left", text: object.pb_date_end_time.to_timezone.upcase }) %>
        <% end %>
      </div>
<% end %>