

<div>
  <%= pb_rails("icon_circle", props: {
  icon: "times"
  }) %>
  <%= pb_rails("title", props: { text: "Canceled", tag: "h4", size: 4 }) %>
</div>
<br>
<br>

<div>
  <%= pb_rails("icon_circle", props: {
  icon: "times"
  }) %>
  <%= pb_rails("title_detail", props: {
  title: "Canceled",
  detail: "Changed Mind"
  }) %>
</div>
<br>
<br>

<div>
  <%= pb_rails("icon_circle", props: {
  icon: "times"
  }) %>
  <%= pb_rails("title_detail", props: {
  title: "Canceled",
  detail: "Missing Party"
  }) %>
</div>
<br>
<br>


<div>
  <%= pb_rails("icon_circle", props: {
  icon: "phone-slash"
  }) %>
  <%= pb_rails("title", props: { text: "Unconfirmed", tag: "h4", size: 4 }) %>
</div>
<br>
<br>

<div>
  <%= pb_rails("icon_circle", props: {
  icon: "comment-slash"
  }) %>
  <%= pb_rails("user", props: {
      name: "No Pitch",
      title: "Jason Cypret",
      orientation: "horizontal",
      align: "left",
      avatar: {
        image: { url: "https://randomuser.me/api/portraits/women/44.jpg"} }
      }) %>
</div>
<br>
<br>

<div>
  <%= pb_rails("icon_circle", props: {
  icon: "ban",
  variant: "red"
  }) %>
  <%= pb_rails("user", props: {
      name: "Pitch Miss",
      title: "Jason Cypret",
      orientation: "horizontal",
      align: "left",
      avatar: {
        image: { url: "https://randomuser.me/api/portraits/women/44.jpg"} }
      }) %>
</div>
<br>
<br>

<div>
  <%= pb_rails("icon_circle", props: {
  icon: "dollar-sign",
  variant: "green"
  }) %>
  <%= pb_rails("user", props: {
      name: "Sold",
      title: "Jason Cypret",
      orientation: "horizontal",
      align: "left",
      avatar: {
        image: { url: "https://randomuser.me/api/portraits/women/44.jpg"} }
      }) %>
</div>
<br>
<br>
