<%= pb_rails("circle_icon_button", props: {
  variant: "primary",
  icon: "plus",
  loading: true
}) %>

<br/>

<%= pb_rails("circle_icon_button", props: {
  variant: "secondary",
  icon: "pen",
  loading: true
}) %>

<br/>

<%= pb_rails("circle_icon_button", props: {
  disabled: true,
  icon: "times",
  loading: true
}) %>

<br/>

<%= pb_rails("circle_icon_button", props: {
  variant: "link",
  icon: "user",
  loading: true
}) %>


<%= pb_rails("button", props: { margin_top: "md", text: "Open Dialog to confirm PLAY-2837 fix still works", data: {"open-dialog": "dialog-1"} }) %>

<%= pb_rails("dialog", props: {
        id:"dialog-1",
        size: "md",
        title: "Header Title is the Title Prop"
}) do %>
    <%= pb_rails("dialog/dialog_body") do %>
        <%= pb_rails("button", props: { aria: { label: "Loading" }, loading: true, margin_right: "lg", text: "Button Primary" }) %>
        <%= pb_rails("circle_icon_button", props: { loading: true, icon: "plus" }) %>
        <div style="height: 800px; background-color: lightgray;"></div>
        <%= pb_rails("button", props: { loading: true, text: "Loading..." }) %>
        <%= pb_rails("circle_icon_button", props: { loading: true, icon: "plus" }) %>
    <% end %>

    <%= pb_rails("dialog/dialog_footer") do %>
        <%= pb_rails("flex", props: { spacing: "between", padding_x: "md", padding_bottom: "md", padding: "sm" }) do %>
            <%= pb_rails("button", props: { loading: true, text: "Send My Issue" }) %>
            <%= pb_rails("circle_icon_button", props: { loading: true, icon: "plus" }) %>
            <%= pb_rails("button", props: { text: "Back", variant: "link", data: {"close-dialog": "dialog-1"} }) %>
        <% end %>
    <% end %>
<% end %>