<%= content_tag(:li,
    aria: object.aria,
    class: object.classname,
    data: object.data,
    id: object.id,
    **combined_html_options) do %>
  <% if object.drag_id && object.drag_handle %>
    <span style="vertical-align: middle;">
      <%= pb_rails("body") do %>
        <svg style="height: auto; width: auto;" viewBox="0 0 31 25" fill="none" xmlns="http://www.w3.org/2000/svg" color="currentColor" class="pb_custom_icon svg-inline--fa vertical_align_middle  svg_fw"><path d="M12.904 6.355a1.48 1.48 0 01-1.5-1.5c0-.796.656-1.5 1.5-1.5.797 0 1.5.704 1.5 1.5 0 .844-.703 1.5-1.5 1.5zm0 7.5a1.48 1.48 0 01-1.5-1.5c0-.796.656-1.5 1.5-1.5.797 0 1.5.704 1.5 1.5 0 .844-.703 1.5-1.5 1.5zm1.5 6c0 .844-.703 1.5-1.5 1.5a1.48 1.48 0 01-1.5-1.5c0-.796.656-1.5 1.5-1.5.797 0 1.5.704 1.5 1.5zm4.5-13.5a1.48 1.48 0 01-1.5-1.5c0-.796.657-1.5 1.5-1.5.797 0 1.5.704 1.5 1.5 0 .844-.703 1.5-1.5 1.5zm1.5 6c0 .844-.703 1.5-1.5 1.5a1.48 1.48 0 01-1.5-1.5c0-.796.657-1.5 1.5-1.5.797 0 1.5.704 1.5 1.5zm-1.5 9a1.48 1.48 0 01-1.5-1.5c0-.796.657-1.5 1.5-1.5.797 0 1.5.704 1.5 1.5 0 .844-.703 1.5-1.5 1.5z" fill="#242B42"></path></svg>
      <% end %>
    </span>
  <% end %>
  <% if object.variant == "radio"%>
    <%= pb_rails("radio", props: { margin_left:"xs", text: object.text, checked: object.checked, input_options: object.input_options } ) %>
    <% if content.present? %>
      <%= content %>
    <% end %>
  <% else %>
    <%= pb_rails("checkbox", props: { margin_left:"xs", text: object.text, checked: object.checked, input_options: object.input_options } ) %>
    <% if content.present? %>
      <%= content %>
    <% end %>
  <% end %>

  <% if object.variant == "checkbox"%>
    <script>
      var checkboxElement = document.querySelector("#<%=object.id%> input[type=checkbox]")

      checkboxElement.addEventListener("change", (evt) => {
        var listItemElement = document.querySelector("#<%=object.id%>")

        if (evt.target.checked) {
          listItemElement.classList.add("checked_item");
        } else {
          listItemElement.classList.remove("checked_item")
        }
      })
    </script>
  <% else %>
    <script>
      var radioElement = document.querySelector("#<%=object.id%> input[type=radio]")

      radioElement.addEventListener("change", () => {
        var radios = radioElement.closest("ul").querySelectorAll("input[type=radio]")

        radios.forEach((radio) => {
          if (radio.checked) {
            radio.closest("li").classList.add("checked_item");
          } else {
            radio.closest("li").classList.remove("checked_item")
          }
        });
      })
    </script>
  <% end %>
<% end %>
