<div class="pb--doc-demo-row">
  <%= pb_rails("background", props: { background_color: "success", padding: "xl" }) do %> <% end %>
  <br>
  <%= pb_rails("background", props: { background_color: "success_secondary", padding: "xl" }) do %> <% end %>
  <br>
  <%= pb_rails("background", props: { background_color: "warning", padding: "xl" }) do %> <% end %>
  <br>
   <%= pb_rails("background", props: { background_color: "warning_secondary", padding: "xl" }) do %> <% end %>
  <br>
  <%= pb_rails("background", props: { background_color: "error", padding: "xl" }) do %> <% end %>
  <br>
  <%= pb_rails("background", props: { background_color: "error_secondary", padding: "xl" }) do %> <% end %>
  <br>
  <%= pb_rails("background", props: { background_color: "info", padding: "xl" }) do %> <% end %>
  <br>
    <%= pb_rails("background", props: { background_color: "info_secondary", padding: "xl" }) do %> <% end %>
  <br>
  <%= pb_rails("background", props: { background_color: "neutral", padding: "xl" }) do %> <% end %>
  <br>
  <%= pb_rails("background", props: { background_color: "neutral_secondary", padding: "xl" }) do %> <% end %>
  <br>
  <%= pb_rails("background", props: { background_color: "primary", padding: "xl" }) do %> <% end %>
  <br>
  <%= pb_rails("background", props: { background_color: "primary_secondary", padding: "xl" }) do %> <% end %>
</div>