<%= content_tag(:label,
    id: object.id,
    data: object.data,
    text: object.text,
    value: object.value,
    checked: object.checked,
    class: object.classname) do %>

    <%= radio_button_tag object.name, object.value, object.selected %>
    <span class="pb_radio_button">
      <div class="radio">
        <% if object.children %>
        <%= capture(&object.children) %>
      <% else %>
        <%= object.input %>
      <% end %>
      </div>
    </span>
    <span class="body">
      <%= object.text %>
    </span>
<% end %>
