<div class="landing-page">
  <%= pb_rails("background", props: { background_color: "dark", padding: "xl" }) do %> 
    <%= pb_rails("flex", props: { classname: "flex-container", spacing: "between", wrap: true } ) do %>
      <%= pb_rails("flex/flex_item", props: { fixed_size: "500px", margin_top: "xl" }) do %>
        <%= pb_rails("title", props: { classname: "dark", margin_bottom: "md", text: "Playbook Design System", tag: "h2", size: 2 }) %>
        <%= pb_rails("body", props: {
          classname: "dark",
          text: "Playbook is the first design system built for both Rails & React interfaces. Playbook takes a modern design approach, and applies it in a way that makes it easy to support bleeding edge, or legacy systems. Playbook is built & maintained by the User Experience & Development teams at Power Home Remodeling, the largest home remodeler in the US."
        }) %>
      <% end %>
      <div class="flex-item">
        <%= pb_rails("image", props: { url: "https://unsplash.it/500/400/?image=634" }) %>
      </div>
    <% end %>
  <% end %>

  <%= pb_rails("background", props: { background_color: "white", padding: "xl" }) do %>

    <% react_contents = File.read("#{Playbook::Engine.root}/app/views/playbook/pages/code_snippets/user_jsx.txt") %>
    <% rails_contents = File.read("#{Playbook::Engine.root}/app/views/playbook/pages/code_snippets/user_erb.txt") %>

        <%= pb_rails("title", props: { margin_bottom: "sm", text: "We Call Our Components... Kits", tag: "h2", size: 2 }) %>

        <%= pb_rails("flex", props: { horizontal: "center" }) do %>
          <%= pb_rails("flex/flex_item", props: {fixed_size: "200px"}) do %>
            <%= pb_rails("card", props: { classname: "user-card" }) do %>
              <%= pb_rails("user", props: {
                name: "Anna Black",
                title: "Remodeling Consultant",
                orientation: "vertical",
                align: "center",
                size: "lg",
                avatar_url: "https://randomuser.me/api/portraits/women/44.jpg"
              }) %>
            <% end %>
          <% end %>

          <%= pb_rails("flex/flex_item", props: {fixed_size: "200px"}) do %>
            <%= pb_rails("body", props: {
              text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae gravida nibh. Integer nec lorem vitae purus vehicula gravida sed at nibh. Cras suscipit nibh sed sem rhoncus accumsan."
            }) %>
            <%= pb_rails("button", props: { text: "Browse All Kits", link: "/kits" }) %>
          <% end %>
        <% end %>

        <%= react_component('SnippetToggle', { test: 'test' }) %>
        
        <div class="pb--codeCopy code-snippets">
          <pre class="highlight"><%= raw rouge(rails_contents, "erb") %></pre>
          <pre class="highlight" style="display:none"><%= raw rouge(react_contents, "jsx") %></pre>
        </div>
  <% end %>

  <%= pb_rails("background", props: { background_color: "dark", padding: "xl" }) do %>
    <%= pb_rails("flex", props: { classname: "text-blob", spacing: "between", wrap: true } ) do %>
      <%= pb_rails("flex/flex_item", props: { fixed_size: "500px", margin_top: "xl" }) do %>
        <%= pb_rails("title", props: { classname: "dark", margin_bottom: "md", text: "Getting Started", tag: "h2", size: 2 }) %>
        <%= pb_rails("body", props: {
          classname: "dark",
          text: "Follow our simple setup guide to add Playbook to your Rails or React project."
        }) %>
        <%= pb_rails("button", props: { text: "Get Started", link: "/getting_started" }) %>
      <% end %>
      <%= pb_rails("flex/flex_item", props: { fixed_size: "500px", margin_top: "xl" }) do %>
        <%= pb_rails("title", props: { classname: "dark", margin_bottom: "md", text: "What's New?", tag: "h2", size: 2 }) %>
        <%= pb_rails("body", props: {
          classname: "dark",
          text: "We follow a weekly release cycle.  A new RubyGem and NPM package are published each Thursday."
        }) %>
        <%= pb_rails("button", props: { text: "View Our Changelog", link: "https://github.com/powerhome/playbook/blob/master/CHANGELOG.md" }) %>
      <% end %>
    <% end %>
  <% end %>
</div>

<%= javascript_packs_with_chunks_tag 'landing-page' %>
