<%# <div class="landing-page"> %>
  <div class="hero">
    <%= pb_rails("flex", props: { classname: "flex-container", spacing: "between", wrap: true } ) do %>
      <%= pb_rails("flex/flex_item", props: { fixed_size: "500px", margin_top: "xl" }) do %>
        <%= pb_rails("title", props: { margin_bottom: "md", text: "Playbook Design System", tag: "h2", size: 2 }) %>
        <%= pb_rails("body", props: {
          text: "Playbook is the first design system built for both Rails & React interfaces. Playbook takes a modern design approach, and applies it in a way that makes it easy to support bleeding edge, or legacy systems. Playbook is built & maintained by the User Experience & Development teams at Power Home Remodeling, the largest home remodeler in the US."
        }) %>
      <% end %>
      <div class="flex-item">
        <%= pb_rails("image", props: { url: "https://unsplash.it/500/400/?image=634" }) %>
      </div>
    <% end %>
  </div>

  <div class="content">

        <%= pb_rails("title", props: { margin_bottom: "sm", text: "We Call Our Components... Kits", tag: "h2", size: 2 }) %>
        <%= pb_rails("card", props: { classname: "user-card" }) do %>
          <%= pb_rails("user", props: {
            name: "Anna Black",
            title: "Remodeling Consultant",
            orientation: "vertical",
            align: "center",
            size: "lg",
            avatar_url: "https://randomuser.me/api/portraits/women/44.jpg"
          }) %>
        <% end %>
        <%= react_component('TestComp', { test: 'test' }) %>

  </div>

  <div class="hero">
    <%= pb_rails("flex", props: { classname: "text-blob", horizontal: "right" } ) do %>
      <%= pb_rails("flex/flex_item", props: { fixed_size: "500px", margin_top: "xl" }) do %>
        <%= pb_rails("title", props: { margin_bottom: "md", text: "Getting Started", tag: "h2", size: 2 }) %>
        <%= pb_rails("body", props: {
          text: "With an extensive library of React and Rails components, our teams now have access to their favorite components faster and easier than before."
        }) %>
      <% end %>
    <% end %>
  </div>
<%# </div> %>
