<div class="pb--kit-show #{@kit}-kit">
  <%= pb_rails("title", props: { text: pb_kit_title(@kit), tag: "h1", size: 1 }) %>
  <div class="markdown">
    <%= markdown(get_kit_description(@kit)) %>
  </div>
</div>
<div>
  <div class="pb--kit-type-nav">
    <%= pb_rails("nav", props: { orientation: "horizontal" }) do %>
      <% if has_kit_type?(@kit, "rails") %>
        <%= pb_rails("nav/item", props: { text: "Rails", link: kit_show_rails_path(@kit), active: action_name == 'kit_show_rails' }) %>
      <% end %>
      <% if has_kit_type?(@kit, "react") %>
        <%= pb_rails("nav/item", props: { text: "React", link: kit_show_reacts_path(@kit), active: action_name == 'kit_show_react' }) %>
      <% end %>
    <% end %>
    <%= pb_rails("section_separator") %>
  </div>
  <% if (action_name == "kit_show_rails") %>
    <%= pb_kit(kit: @kit) %>
    <div class="markdown">
      <br>
      <%= markdown(get_kit_footer(@kit)) %>
    </div>
    <%= pb_kit_api(@kit) %>
  <% else %>
    <%= pb_kit(kit: @kit, type: "react") %>
    <div class="markdown">
      <br>
      <%= markdown(get_kit_footer(@kit)) %>
    </div>
  <% end %>
</div>
