import React from "react"
import <%= js_titleize_file_name %> from "../_<%= name %>.jsx"

function <%= js_titleize_file_name %>Default() {
  return (
    <div>
      <<%= js_titleize_file_name %> text="I am a <%= name %> kit" />
    </div>
  )
}

export default <%= js_titleize_file_name %>Default;
