<div class="pb_drawer_wrapper"
     id="drawer-wrapper-<%= object.id %>"
     style="display:none;"
     data-behavior="<%= object.behavior %>"
     data-size="<%= object.size %>"
     data-placement="<%= object.placement %>"
     data-breakpoint="<%= object.breakpoint %>"
>
<div class="<%= overlay_classes %>" style="display:none;" id="drawer-overlay-<%= object.id %>"> 
        <%= pb_content_tag do %>
            <%= content %>
        <% end %>
    </div>
</div>
