<div class="pb_drawer_wrapper_rails <%= object.full_height_style %>" data-overlay-click= <%= object.overlay_close %> >
    <%= pb_content_tag(:dialog) do %>
            <%= content %>
    <% end %>
</div>

<%= javascript_tag do %>
    window.addEventListener("DOMContentLoaded", () => drawerHelper())
    window.addEventListener("turbo:frame-load", () => drawerHelper())
<% end %>
