<title> <%= @page_title || "Playbook Design System" %> </title>
<link rel="icon" href="/images/pb-favicon.ico" sizes="any"><!-- 32×32 -->
<link rel="icon" href="/images/pb-favicon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="/images/pb-favicon-180.png"><!-- 180×180 -->
<link rel="manifest" href="/site.webmanifest">
<%= csrf_meta_tags%>
<%= csp_meta_tag%>
<%= stylesheet_packs_with_chunks_tag 'application' %>
<meta content="user-scalable=0, initial-scale=1.0, minimum-scale=1" name="viewport" />

<%= preload_pack_asset 'media/site_styles/fonts/PowerCentra-Bold.woff' %>
<%= preload_pack_asset 'media/site_styles/fonts/PowerCentra-BoldItalic.woff' %>
<%= preload_pack_asset 'media/site_styles/fonts/PowerCentra-Book.woff' %>
<%= preload_pack_asset 'media/site_styles/fonts/PowerCentra-BookItalic.woff' %>
<%= preload_pack_asset 'media/site_styles/fonts/PowerCentra-Light.woff' %>
