<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head'%>
    <%= vite_client_tag %>
    <%= vite_javascript_tag(*@application_js) %>

  </head>
  <body class="<%= @body_class %> <%= controller_name %> <%= action_name%>">
    <%= render 'layouts/mobile_nav'%>
    <% if action_name.include?('kit') %>
      <div class="pb--page--dark-mode-toggle-mobile">
        <%= react_component("DarkModeToggle", initMode: cookies[:dark_mode] )%>
      </div>
    <% end %>
    <%= pb_rails("layout", props: {
      classname: "pb--page--content #{'no-sidebar' if !@show_sidebar}" ,
      variant: dark_mode? ? 'dark' : 'light'
    }) do %>
      <%= render 'layouts/mobile_hamburger' %>
      <%= pb_rails("layout/sidebar", props: { classname: "pb--page--sideNav"}) do%>
        <%= render 'layouts/sidebar' %>
      <% end %>
      <%= pb_rails("layout/body") do%>
        <div class="pb--page--content--main <%= 'dark' if dark_mode? %>">
          <%= yield %>
          <%= render 'layouts/footer'%>
        </div>
      <% end %>
    <%end%>
  </body>

  <%= yield :pb_js if @type != 'react' %>
  <%= render 'layouts/ga'%>
</html>
