<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head'%>
    <%= vite_client_tag %>
    <%= vite_javascript_tag(*@application_js) %>
  </head>
  <body class="<%= @body_class %> <%= controller_name %> <%= action_name%>">
    <%= render 'layouts/mobile_nav'%>
    <div class="pb--page--dark-mode-toggle-mobile">
    </div>
      <%= react_component("Website") %>
  </body>

</html>
