<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head'%>
    <%= vite_client_tag %>
    <%= vite_javascript_tag(*@application_js) %>
  </head>
  <body class="<%= @body_class %> <%= controller_name %> <%= action_name%>">
    <div class="pb--page--dark-mode-toggle-mobile">
    </div>
    <%# Flex chain for beta scroll containment — see `website_new.scss` (`.pb--website-beta-root`) %>
    <div class="pb--website-beta-root">
      <%= react_component("Website", {}, { class: "pb--website-beta-react-host" }) %>
    </div>
  </body>

</html>
