<!DOCTYPE html>
<html>
  <head>
    <title> Playbook Design System </title>
    <%= csrf_meta_tags%>
    <%= csp_meta_tag%>
    <%= stylesheet_packs_with_chunks_tag 'application' %>
    <meta content="user-scalable=0, initial-scale=1.0, minimum-scale=1" name="viewport" />
    <%= preload_pack_asset 'media/site_styles/fonts/Proxima-Nova-Reg.woff' %>
    <%= preload_pack_asset 'media/site_styles/fonts/Proxima-Nova-Reg-It.woff' %>
    <%= preload_pack_asset 'media/site_styles/fonts/Proxima-Nova-Black.woff' %>
    <%= preload_pack_asset 'media/site_styles/fonts/Proxima-Nova-Black-It.woff' %>
    <%= preload_pack_asset 'media/site_styles/fonts/Proxima-Nova-Thin.woff' %>
    <%= preload_pack_asset 'media/site_styles/fonts/Proxima-Nova-Thin-It.woff' %>
    <%= preload_pack_asset 'media/site_styles/fonts/Proxima-Nova-Xbold.woff' %>
    <%= preload_pack_asset 'media/site_styles/fonts/Proxima-Nova-Xbold-It.woff' %>
    <%= preload_pack_asset 'media/site_styles/fonts/Proxima-Nova-Sbold-It.woff' %>
    <%= preload_pack_asset 'media/site_styles/fonts/Proxima-Nova-Sbold.woff' %>
    <%= preload_pack_asset 'media/site_styles/fonts/Proxima-Nova-Light.woff' %>
    <%= preload_pack_asset 'media/site_styles/fonts/Proxima-Nova-Light-It.woff' %>
    <%= preload_pack_asset 'media/site_styles/fonts/Proxima-Nova-Bold.woff' %>
    <%= preload_pack_asset 'media/site_styles/fonts/Proxima-Nova-Bold-It.woff' %>
  </head>
  <body>
    <%= render 'layouts/nav'%>
    <%= render 'layouts/mobile_hamburger'%>
    <%= pb_rails("layout", props: {position: "left", size: "sm", collapse: "sm", flex: "1"}) do %>
      <%= pb_rails("layout/sidebar") do %>
        <% render partial: "layouts/docs_navigation"%>
      <% end %>
      <%= pb_rails("layout/body") do %>
        <%= pb_rails("background", props: { display: "flex", classname: "markdown h100", display: "flex", justify_content: "center", background_color: "white" }) do %>
          <%= pb_rails("flex/flex_item", props: { max_width: "md", margin_x: "sm", padding_y: "md" }) do %>
          <%= @TOC %>
            <div class="markdown_title"><%= @page_title.titleize %></div>
            <%= yield %>
            <%= pb_rails("section_separator", props: { margin_y: "xl" }) %>
            <%= link_to gh_edit_link(@parent, @page) do %>
              <%= pb_rails("caption", props: {
                text: "Edit this page",
                color: "link",
                size: "xs"
              }) %>
            <% end %>  
          <% end %>  
        <% end %>  
      <% end %>
    <% end %>
    
    <%= render 'layouts/footer'%>
  </body>
  <%= javascript_packs_with_chunks_tag(*@application_js) %>
  <%= yield :pb_js %>
  <%= render 'layouts/ga'%>
</html>
