<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head'%>
    <%= vite_client_tag %>
    <%= vite_javascript_tag(*@application_js) %>
  </head>
  <body class="<%= @body_class %> <%= controller_name %> <%= action_name%>">
  <%= render 'layouts/mobile_nav'%>
    <%= render 'layouts/mobile_hamburger'%>
    <%= pb_rails("layout", props: {classname: "pb--page--content #{'no-sidebar' if !@show_sidebar}"}) do %>
      <%= render 'layouts/mobile_hamburger' %>
      <%= pb_rails("layout/sidebar", props: { classname: "pb--page--sideNav"}) do %>
        <% render partial: "layouts/sidebar"%>
      <% end %>
      <%= pb_rails("layout/body") do %>
        <div class="pb--page--content--main">
          <%= pb_rails("background", props: {
              background_color: "dark",
              image_url: @front_matter['header'] || vite_asset_path("images/getting-started.svg"),
              background_repeat: "no-repeat",
              background_size: "contain",
              background_position: "center"
            }) do %>
              <div style="height:250px"></div>
          <% end %>
          <%= pb_rails("flex", props:{orientation: "column", align:"center"}) do %>
              <%= pb_rails("flex/flex_item", props: { classname: "minw0 w100" }) do %>
                <%= pb_rails("background", props: { display: "flex", justify_content:"center",classname: "markdown w100", background_color: "white", padding_x: "sm", padding_y: "md" }) do %>
                  <%= pb_rails("background", props: { max_width: 'lg', background_color: "white" }) do %>
                    <div class="markdown_title"><%= @page_title %></div>
                    <%= yield %>
                    <%= pb_rails("section_separator", props: { margin_y: "xl" }) %>
                    <%= link_to gh_edit_link(@parent, @page, @link_extension) do %>
                      <%= pb_rails("caption", props: {
                        text: "Edit this page",
                        color: "link",
                        size: "xs"
                      }) %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
              <%= pb_rails("flex/flex_item", props:{classname: "w100"}) do %>
                <%= render 'layouts/footer'%>
              <% end %>
          <% end %>

        </div>
      <% end %>
    <% end %>
  </body>

</html>
