<!DOCTYPE html>
<html>
  <head>
    <title> Playbook Design System </title>
    <%= csrf_meta_tags%>
    <%= csp_meta_tag%>
    <%= stylesheet_packs_with_chunks_tag 'application' %>
    <meta content="user-scalable=0, initial-scale=1.0, minimum-scale=1" name="viewport"></meta>
  </head>
  <body class="fullscreen">
    <%= yield %>
  </body>
  <%= javascript_packs_with_chunks_tag 'application', 'site' %>
</html>