<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head'%>
  </head>
  <body class="fullscreen <%= @body_class %> <%= controller_name %> <%= action_name%>">
  <%= javascript_packs_with_chunks_tag 'application', 'site' %>
    <%= yield %>
  </body>
</html>