<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head'%>
    <%= vite_client_tag %>
    <%= vite_react_refresh_tag %>
    <%= vite_javascript_tag 'application', 'site' %>
  </head>
  <body class="fullscreen <%= @body_class %> <%= controller_name %> <%= action_name%>">
    <%= yield %>
  </body>
</html>