<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head'%>
  </head>
  <body class="fullscreen <%= @body_class %> <%= controller_name %> <%= action_name%>">
    <%= yield %>
  </body>
  <%= vite_javascript_tag 'application', 'site' %>
</html>