<!DOCTYPE html>
<html>
  <head>
    <title> Playbook Design System </title>
    <%= csrf_meta_tags%>
    <%= csp_meta_tag%>
    <%= stylesheet_packs_with_chunks_tag 'application' %>
    <meta content="user-scalable=0, initial-scale=1.0, minimum-scale=1" name="viewport" />
    <%= preload_pack_asset 'media/site_styles/fonts/ProximaNova-Black.woff2' %>
    <%= preload_pack_asset 'media/site_styles/fonts/ProximaNova-Bold.woff2' %>
    <%= preload_pack_asset 'media/site_styles/fonts/ProximaNova-Extrabld.woff2' %>
    <%= preload_pack_asset 'media/site_styles/fonts/ProximaNova-Light.woff2' %>
    <%= preload_pack_asset 'media/site_styles/fonts/ProximaNova-Regular.woff2' %>
    <%= preload_pack_asset 'media/site_styles/fonts/ProximaNova-Semibold.woff2' %>
    <%= preload_pack_asset 'media/site_styles/fonts/ProximaNova-Thin.woff2' %>
    <%= preload_pack_asset 'media/site_styles/fonts/ProximaNova-BlackIt.woff2' %>
    <%= preload_pack_asset 'media/site_styles/fonts/ProximaNova-BoldIt.woff2' %>
    <%= preload_pack_asset 'media/site_styles/fonts/ProximaNova-ExtrabldIt.woff2' %>
    <%= preload_pack_asset 'media/site_styles/fonts/ProximaNova-LightIt.woff2' %>
    <%= preload_pack_asset 'media/site_styles/fonts/ProximaNova-RegularIt.woff2' %>
    <%= preload_pack_asset 'media/site_styles/fonts/ProximaNova-SemiboldIt.woff2' %>
    <%= preload_pack_asset 'media/site_styles/fonts/ProximaNova-ThinIt.woff2' %>
  </head>
  <body class="visual_guidelines">
    <%= render 'layouts/nav'%>
    <%= pb_rails("layout", props: {classname: "pb--page--content",variant: cookies[:dark_mode] == "true" ? 'dark' : 'light' }) do%>
      <%= render 'layouts/mobile_hamburger' %>
      <%= pb_rails("layout/sidebar", props: { classname: "pb--page--sideNav"}) do%>
        <%= render 'layouts/sidebar' %>
      <% end %>
      <%= pb_rails("layout/body") do%>
        <div class="pb--page--content--main padding-override smooth-scroll <%= cookies[:dark_mode] == "true" ? 'dark' : '' %>">
          <%= yield %>
          <%= render 'layouts/footer'%>
        </div>
      <% end %>
    <%end%>
  </body>
  <%= javascript_packs_with_chunks_tag(*@application_js) %>
  <%= yield :pb_js %>
  <%= render 'layouts/ga'%>
</html>
