<div class="sample-layout">
  <%= pb_rails("background", props: { background_color: "light", padding: "xl" }) do %>
    <%= pb_rails("flex", props: { margin_bottom: "md" }) do %>
      <a href="/building_blocks">
        <%= pb_rails("title", props: {
          margin_right: "xs",
          text: "Building Blocks",
          tag: "h4",
          size: 4
        }) %>
      </a>
      <%= pb_rails("title", props: {
        margin_right: "xs",
        text: "/",
        tag: "h4",
        size: 4
      }) %>
      <%= pb_rails("title", props: {
        text: @building_block["name"],
        tag: "h4",
        size: 4
      }) %>
    <% end %>

    <%= pb_rails("title", props: {
      margin_bottom: "sm",
      text: @building_block["name"],
      tag: "h2",
      size: 2
    }) %>

    <%= pb_rails("body", props: {
      margin_bottom: "xl",
      text: @building_block["description"],
      tag: "h4",
      size: 4
    }) %>

    <%= pb_rails("card", props: { id: "sample-card", padding: "none", shadow: "deeper" }) do %>
      <%= pb_rails("card/card_header", props: { padding: "xs", header_color: "white" }) do %>
        <%= pb_rails("flex", props: { spacing: "between", vertical: "center" }) do %>

          <%= pb_rails("flex/flex_item", props: { margin_left: "sm" }) do %>
            <%= pb_rails("nav", props: { orientation: "horizontal", variant: "subtle" }) do %>
              <%= pb_rails("nav/item", props: {
                text: "Rails",
                link: "#{building_blocks_show_path(@building_block["link"], type: :rails)}",
                active: current_building_block_type.rails?
              }) %>
              <%= pb_rails("nav/item", props: {
                text: "React",
                link: "#{building_blocks_show_path(@building_block["link"], type: :react)}",
                active: current_building_block_type.react?
              }) %>
            <% end %>
          <% end %>

          <%= pb_rails("flex/flex_item", props: { margin_right: "sm" }) do %>
            <%= pb_rails("flex", props: { classname: "header-icons" }) do %>

              <%= pb_rails("body", props: { classname: "font-size-override", color: "light", id: 'kits-used' }) do %>
                Kits Used
                <%= pb_rails("icon", props: { icon: "angle-down" }) %>
              <% end %>

              <%= pb_rails("popover", props: {
                max_width: "300px",
                trigger_element_id: "kits-used",
                tooltip_id: "kits-used-tooltip",
                position: 'bottom',
                padding: "sm"
              }) do %>
                <%= pb_rails("flex", props: { spacing: "around", wrap: true }) do %>
                  <% kits_used_in_building_block(@building_block["link"]).each do |kit| %>
                    <a href="/kits/<%= kit %>/<%= current_building_block_type %>">
                      <%= pb_rails("pill", props: {
                        text: kit.titleize,
                        variant: "primary"
                      }) %>
                    </a>
                  <% end %>
                <% end %>
              <% end %>

              <%= pb_rails("icon_value", props: {
                classname: "font-size-override",
                id: "toggle-button-js",
                icon: "code",
                margin_left: "md",
                text: "Show Code"
              }) %>

              <%= pb_rails("icon_value", props: {
                classname: "font-size-override",
                id: "fullscreen-toggle",
                icon: "expand",
                margin_left: "md",
                text: "Fullscreen"
              }) %>
            <% end %>
          <% end %>

        <% end %>
      <% end %>

      <%= pb_rails("card/card_body", props: {
        id: "sample-card-body",
        padding: "xl"
      }) do %>
        <%= render_building_block_ui(@building_block, current_building_block_type) %>
      <% end %>

      <div id="show-code-sample" class="pb--kit-show">
        <div class="pb--doc light_ui">
          <div class="pb--codeCopy close">
            <a class="pb--close-toggle copy-clipboard" href="#">Copy to Clipboard</a>
            <div class="hiddenCodeforCopy"><%= get_raw_code_building_block(@building_block["link"], current_building_block_type) %></div>
            <pre class="highlight"><%= get_building_block_code_content(@building_block["link"], current_building_block_type) %></pre>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
