<%= pb_rails("table", props: { size: "lg"} ) do %>
  <%= pb_rails("table/table_colgroup") do %>
    <%= pb_rails("table/table_col", props: {span: 1, background_color: "primary"}) %>
    <%= pb_rails("table/table_col", props: {span: 1, background_color: "success"}) %>
    <%= pb_rails("table/table_col", props: {span: 1, background_color: "success"}) %>
    <%= pb_rails("table/table_col", props: {span: 2, background_color: "success"}) %>
  <% end %>
  <thead>
    <tr>
    <th>Header 1</th>
    <th>Header 2</th>
    <th>Header 3</th>
    <th>Header 4</th>
    <th>Header 5</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Value 1</td>
      <td>Value 2</td>
      <td>Value 3</td>
      <td>Value 4</td>
      <td>Value 5</td>
    </tr>
    <tr>
      <td>Value 1</td>
      <td>Value 2</td>
      <td>Value 3</td>
      <td>Value 4</td>
      <td>Value 5</td>
    </tr>
    <tr>
      <td>Value 1</td>
      <td>Value 2</td>
      <td>Value 3</td>
      <td>Value 4</td>
      <td>Value 5</td>
    </tr>
  </tbody>
<% end %>
