<%= pb_rails("table", props: { size: "lg"} ) do %>
  <thead>
    <tr>
      <%= pb_rails("table/table_header", props: {
        text: "Territory",
        id: "territory",
        sort_menu: [
          { item: "Territory", link: "?sort=territory_desc", active: params["sort"] == "territory_desc", direction: "desc" },
          { item: "Territory", link: "?sort=territory_asc", active: params["sort"] == "territory_asc", direction: "asc" }
        ],
      }) %>
      <%= pb_rails("table/table_header", props: {
        id: "name",
        text: "Full Name",
        colspan: 2,
        sort_menu: [
          { item: "First Name Descending", link: "?sort=firstname_desc", active: params["sort"] == "firstname_desc", direction: "desc" },
          { item: "First Name Ascending", link: "?sort=firstname_asc", active: params["sort"] == "firstname_asc", direction: "asc" },
          { item: "Last Name Descending", link: "?sort=lastname_desc", active: params["sort"] == "lastname_desc", direction: "desc" },
          { item: "Last Name Ascending", link: "?sort=lastname_asc", active: params["sort"] == "lastname_asc", direction: "asc" }
        ],
      }) %>
      <%= pb_rails("table/table_header", props: {
        text: "Age",
        id: "age",
        sort_dropdown: true,
        sort_menu: [
          { item: "Age Descending", link: "?sort=age_desc", active: params["sort"] == "age_desc", direction: "desc" },
          { item: "Age Ascending", link: "?sort=age_asc", active: params["sort"] == "age_asc", direction: "asc" }
        ],
      }) %>
      <%= pb_rails("table/table_header", props: { text: "Job Title" }) %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Ter 1</td>
      <td>First Name 1</td>
      <td>Last Name 1</td>
      <td>Age 1</td>
      <td>Job 1</td>
    </tr>
    <tr>
      <td>Ter 2</td>
      <td>First Name 2</td>
      <td>Last Name 2</td>
      <td>Age 2</td>
      <td>Job 2</td>
    </tr>
    <tr>
      <td>Ter 3</td>
      <td>First Name 3</td>
      <td>Last Name 3</td>
      <td>Age 3</td>
      <td>Job 3</td>
    </tr>
  </tbody>
<% end %>
