<%= pb_rails("table", props: { size: "sm" }) do %>
  <thead>
    <tr>
      <th>Column 1</th>
      <th>Column 2</th>
      <th>Column 3</th>
      <th>Column 4</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Value 1</td>
      <td>Value 2</td>
      <td>Value 3</td>
      <td>Value 4</td>
      <td>
        <%= pb_rails("flex") do %>
            <%= pb_rails("body", props: {classname: "flex-item"}) do %>  
                <%= pb_rails("circle_icon_button", props: { variant: "link", icon: "pencil" }) %>
            <% end %>
            <%= pb_rails("body", props: {classname: "flex-item"}) do %>
                <%= pb_rails("circle_icon_button", props: { variant: "secondary", icon: "trash-alt" }) %>
            <% end %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Value 1</td>
      <td>Value 2</td>
      <td>Value 3</td>
      <td>Value 4</td>
      <td>
        <%= pb_rails("flex") do %>
            <%= pb_rails("body", props: {classname: "flex-item"}) do %>  
                <%= pb_rails("circle_icon_button", props: { variant: "link", icon: "pencil" }) %>
            <% end %>
            <%= pb_rails("body", props: {classname: "flex-item"}) do %>
                <%= pb_rails("circle_icon_button", props: { variant: "secondary", icon: "trash-alt" }) %>
            <% end %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Value 1</td>
      <td>Value 2</td>
      <td>Value 3</td>
      <td>Value 4</td>
      <td>
        <%= pb_rails("flex") do %>
            <%= pb_rails("body", props: {classname: "flex-item"}) do %>  
                <%= pb_rails("circle_icon_button", props: { variant: "link", icon: "pencil" }) %>
            <% end %>
            <%= pb_rails("body", props: {classname: "flex-item"}) do %>
                <%= pb_rails("circle_icon_button", props: { variant: "secondary", icon: "trash-alt" }) %>
            <% end %>
        <% end %>
      </td>    
    </tr>
  </tbody>
<% end %>
