<%= pb_rails("table", props: { size: "lg"} ) do %>

  <colgroup>
    <%= pb_rails("table/table_col", props: {span: 1 }) %>
    <%= pb_rails("table/table_col", props: {span: 1, background_color: "info_subtle"}) %>
    <%= pb_rails("table/table_col", props: {span: 1 }) %>
    <%= pb_rails("table/table_col", props: {span: 2, background_color: "info_subtle"}) %>
  </colgroup>

  <thead>
    <%= pb_rails("background", props: { background_color: "card_light", tag: "tr"}) do %>
        <th>Header 1</th>
        <th>Header 2</th>
        <th>Header 3</th>
        <th>Header 4</th>
        <th>Header 5</th>
    <% end %>
  </thead>
  <tbody>
    <tr>
      <td>Value 1</td>
      <td>Value 2</td>
      <td>Value 3</td>
      <td>Value 4</td>
      <td>Value 5</td>
    </tr>
    <tr>
      <td>Value 1</td>
      <td>Value 2</td>
      <td>Value 3</td>
      <td>Value 4</td>
      <td>Value 5</td>
    </tr>
    <tr>
      <td>Value 1</td>
      <td>Value 2</td>
      <td>Value 3</td>
      <td>Value 4</td>
      <td>Value 5</td>
    </tr>
  </tbody>
<% end %>
