<%= content_tag(:div,
    aria: object.aria,
    class: object.classname + object.error_class,
    data: object.data,
    id: object.id) do %>
      <% if object.children %>
        <div class="input_wrapper">
          <%= capture(&object.children) %>
      <% else %>
        <div class="input_wrapper">
          <%= pb_rails("text_input", props: {
            aria: object.input_aria,
            autocomplete: false,
            dark: object.dark,
            data: object.input_data,
            disabled: object.disable_input,
            error: object.error,
            error_message: object.error_message,
            id: object.picker_id,
            label: object.hide_label ? nil : object.label,
            name: object.name,
            placeholder: object.placeholder,
            required: object.required,
          }) %>
        <% end %>
        <% if !object.hide_icon %>
          <div
              class="<%= object.icon_wrapper_class %>"
              id="cal-icon-<%= object.picker_id %>"
          >
            <%= pb_rails("icon", props: {
              classname: "cal_icon",
              icon: "calendar-alt"
            }) %>
          </div>
        <% end %>
      </div>

      <%= javascript_tag do %>
      window.addEventListener("DOMContentLoaded", () => {
          datePickerHelper(<%= object.date_picker_config %>)
      })
      <% end %>
<% end %>
