<%= content_tag(:div,
    aria: object.aria,
    class: object.classname + " " + object.error_class,
    data: object.data,
    id: object.id) do %>
    <% if !object.hide_label %>
      <%= pb_rails("caption", props: { text: object.label }) %>
    <% end %>
      <div class="input_wrapper">
        <input
            autocomplete="off"
            id="<%= object.picker_id %>"
            name="<%= object.name %>"
            <%= object.required ? required="required" : ''%>
        />
        <% if object.error %>
          <%= pb_rails("body", props: { 
            status: "negative",
            text: object.error
          }) %>
        <% end %>
      </div>

      <%= javascript_tag do %>
      document.addEventListener("DOMContentLoaded", () => {
          datePickerHelper({
            defaultDate: "<%= object.default_date %>",
            disableDate: <%=raw object.disable_date %>,
            disableRange: <%=raw object.disable_range.to_json %>,
            disableWeekdays: <%=raw object.disable_weekdays %>,
            format: "<%= object.format %>",
            maxDate: "<%= object.max_date %>",
            minDate: "<%= object.min_date %>",
            mode: "<%= object.mode %>",
            pickerId: "<%= object.picker_id %>",
            propModel: "rails"
          })
      })
      <% end %>
<% end %>
