<%= pb_content_tag do %>
  <% if object.label.present? %>
    <% if object.required_indicator %>
      <%= pb_rails("caption", props: { text: object.label, dark: object.dark }) do %>
        <%= object.label %><span style="color: #DA0014;"> *</span>
      <% end %>
    <% else %>
    <%= pb_rails("caption", props: {text: object.label, dark: object.dark}) %>
    <% end %>
  <% end %>
  <% if content.present? %>
    <%= content %>
    <% if object.error %>
      <%= pb_rails("body", props: { dark: object.dark, status: "negative", text: object.error }) %>
    <% end %>
  <% else %>
    <%= text_area_tag(
        object.name,
        object.value,
        object.all_textarea_attributes) %>
    <% if object.error %>
      <% if object.character_count %>
        <%= pb_rails("flex", props: { spacing: "between", vertical: "center" }) do %>
          <%= pb_rails("flex/flex_item") do %>
             <%= pb_rails("body", props: { dark: object.dark, status: "negative", text: object.error }) %>
          <% end %>
          <%= pb_rails("flex/flex_item") do %>
            <%= pb_rails("caption", props: { margin: "none", size: "xs", text: object.character_counter }) %>
          <% end %>
        <% end %>
      <% else %>
        <%= pb_rails("body", props: { dark: object.dark, status: "negative", text: object.error }) %>
      <% end %>
    <% else %>
      <%= pb_rails("caption", props: { margin: "none", size: "xs", text: object.character_counter }) %>
    <% end %>
  <% end %>
<% end %>
