<div class="landing-page">
  <%= pb_rails("background", props: { background_color: "white", padding_bottom: { xs: "none", sm: "none", md: "xl", lg: "xl", xl: "xl" } }) do %>
    <%= pb_rails("background", props: { classname: "homepage-hero", image_url: asset_pack_path("media/images/landing-background.svg"), padding: "xl" }) do %>
      <%= pb_rails("flex", props: { classname: "flex-container hero-inner-wrapper", horizontal: "center", wrap: true } ) do %>
        <div class="flex-item">
          <%= image_pack_tag("media/images/landing-image.svg", class: "pb-hero-image") %>
        </div>
        <%= pb_rails("flex/flex_item", props: { classname: "hero-text-width", margin_top: "xl" }) do %>
          <%= pb_rails("title", props: { classname: "dark", margin_bottom: "md", text: "Playbook Design System", tag: "h2", size: 2 }) %>
          <%= pb_rails("body", props: {
            classname: "dark",
            text: "Playbook is the first design system built for both Rails & React interfaces. Playbook takes a modern design approach, and applies it in a way that makes it easy to support bleeding edge, or legacy systems. Playbook is built & maintained by the User Experience & Development teams at Power Home Remodeling, the largest home remodeler in the US."
          }) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= render(LgHpSocialProofComponent.new) %>
  <%= render(MdHpSocialProofComponent.new) %>
  <%= render(SmHpSocialProofComponent.new) %>
  <%= render(HpSolutionsComponent.new)%>

</div>
