<div class="pb--kit-show <%=@kit%>-kit">
  <%= pb_rails("title", props: { text: pb_kit_title(@kit), tag: "h1", size: 1, margin_top: "xl" }) %>
  <div class="markdown <%= cookies[:dark_mode] == "true" ? 'dark' : '' %>">
    <%= markdown(pb_doc_kit_description(@kit)) %>
  </div>
</div>

<div class="kit-show-wrapper">

    <% @examples.each do |example| %>
      <%= react_component("KitDocs", 
        kit: @kit, 
        fa: fontawesome, 
        faReg: fontawesome_reg,  
        source: get_source(example.keys.first), 
        exampleTitle: example.values.first)
      %>
    <% end %>


  <div class="markdown <%= cookies[:dark_mode] == "true" ? 'dark' : '' %>">
    <br>
    <%= markdown(pb_doc_kit_footer(@kit)) %>
  </div>
</div>