<%= pb_rails("flex", props: {orientation: "column", margin: "xl"}) do %>
  <%= pb_rails("nav", props: { margin_bottom: "md", orientation: "horizontal" }) do %>
    <%= pb_rails("flex", props: {wrap: true}) do %>
      <% @kits_array.each do |kit| %>
        <%= pb_rails("nav/item", props: { id: "nav-item-#{kit}", text: kit.titleize, link: kit_collection_show_path(names: params[:names], name: kit, variants: params[:variants], type: @type), active: kit == @selected_kit}) %>
      <% end %>
    <% end %>
  <% end %>
  <div class="multi-kits-container">
    <% if @type == "rails" %>
      <%= pb_kit(kit: @selected_kit, dark_mode: dark_mode?, variants: @variants) %>
    <% elsif @type == "react" %>
      <%= pb_kit(kit: @selected_kit, type: "react", dark_mode: dark_mode?, variants: @variants) %>
    <% end %>
    <%= pb_rails("docs/kit_api", props: { kit: @selected_kit, dark: dark_mode? }) %>
  </div>
<% end %>