<div class="pb--kit-show <%=@kit%>-kit">
  <%= pb_rails("title", props: { text: pb_kit_title(@kit), tag: "h1", size: 1, margin_top: "xl" }) %>
  <div class="markdown <%= cookies[:dark_mode] == "true" ? 'dark' : '' %>">
    <%= render_markdown(pb_doc_kit_description(@kit)) %>
  </div>
</div>

<div class="kit-show-wrapper">
  <% @examples.each do |example| %>
    <%= pb_rails("card", props: { classname: "pb--doc", padding: "none" }) do %>
      <%= react_component("KitDocs",
        kit: @kit,
        source: get_source(example.keys.first),
        exampleTitle: example.values.first
      )
      %>

      <div class="markdown pb--kit-example-markdown <%= defined?(type) && type == "swift" ? "kit_show_swift" : "" %> <%= cookies[:dark_mode] == "true" ? 'dark' : '' %>">
        <%= render_markdown(description(@kit, example.keys.first)) %>
      </div>
    <% end %>
  <% end %>

  <div class="markdown <%= cookies[:dark_mode] == "true" ? 'dark' : '' %>">
    <br>
    <%= render_markdown(pb_doc_kit_footer(@kit)) %>
  </div>
</div>
