<%= pb_rails("button", props: { variant: "secondary", id: 'list' }) do %>
    <%= pb_rails("flex", props: {align: "center"}) do %>
        Filter By
        <%= pb_rails("flex/flex_item", props: {margin_left: "xxs"}) do %>
            <div id="arrow-icon" style="display: flex">
                <%= pb_rails("icon", props: { icon: "chevron-down", fixed_width: true }) %>
            </div>
        <% end %>
    <% end %>
<% end %>
<%= pb_rails("popover", props: {trigger_element_id: "list", tooltip_id: "list-tooltip", position: 'bottom', padding: "none"}) do %>
    <%= pb_rails("list", props: {ordered: false, dark: false, borderless: false, xpadding: true}) do %>
        <%= pb_rails("list/item") do %><a>Popularity</a><% end %>
        <%= pb_rails("list/item") do %><a>Title</a><% end %>
        <%= pb_rails("list/item") do %><a>Duration</a><% end %>
        <%= pb_rails("list/item") do %><a>Date Started</a><% end %>
        <%= pb_rails("list/item") do %><a>Date Ended </a><% end %>
    <% end %>
<% end %>


<script type="text/javascript">
    const popoverButton = document.querySelector("#list")
    let buttonClicked = false

    const arrowDiv = document.querySelector("#arrow-icon")

    popoverButton.onclick = () => {
        buttonClicked = !buttonClicked
        if (buttonClicked) {
            arrowDiv.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" style="height: auto; width: auto;" viewBox="0 0 31 25" fill="none" class="pb_custom_icon svg-inline--fa pb_icon_kit svg_fw" id="" data="{}" aria="{}" tabindex=""><path d="M14.2031 5.70312C14.625 5.28125 15.3281 5.28125 15.75 5.70312L24.7969 14.7031C25.2188 15.1719 25.2188 15.875 24.7969 16.2969C24.3281 16.7656 23.625 16.7656 23.2031 16.2969L15 8.09375L6.79688 16.2969C6.32812 16.7656 5.625 16.7656 5.20312 16.2969C4.73438 15.875 4.73438 15.1719 5.20312 14.75L14.2031 5.70312Z" fill="currentColor"/></svg>'
        } else {
            arrowDiv.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" style="height: auto; width: auto;" viewBox="0 0 31 25" fill="none" class="pb_custom_icon svg-inline--fa pb_icon_kit svg_fw" id="" data="{}" aria="{}" tabindex=""><path d="M14.2031 19.2969L5.20312 10.2969C4.73438 9.875 4.73438 9.17188 5.20312 8.70312C5.625 8.28125 6.32812 8.28125 6.79688 8.70312L15 16.9531L23.2031 8.75C23.625 8.28125 24.3281 8.28125 24.7969 8.75C25.2188 9.17188 25.2188 9.875 24.7969 10.2969L15.75 19.2969C15.3281 19.7656 14.625 19.7656 14.2031 19.2969Z" fill="currentColor"/></svg>'
        }
    }
</script>