<div class="pb--page--topNav <%= cookies[:dark_mode] == "true" ? 'dark' : '' %>">
  <% if @playbook.nil?%>
    <p>playbok is nil</p>
  <% end %>
  <%= pb_rails("flex", props:{ spacing:"between", vertical: "center" }) do %>
    <%= pb_rails("flex/flex_item", props: {}) do %>
      <%= pb_rails("flex", props: { spacing: "between", vertical: "center" }) do %>
        <%= pb_rails("flex/flex_item", props: {}) do %>
          <%= link_to root_url do %>
            <%= image_tag("pb-logo.svg") %>
          <% end %>
          <%= pb_rails("caption", props: { classname: "pb-version-tag", text: Playbook::VERSION }) %>
        <% end %>

        <%= pb_rails("flex/flex_item", props: {}) do %>
          <%= pb_rails("section_separator", props: { classname: "separator-explicit-height", orientation: "vertical" }) %>
        <% end %>

        <%= pb_rails("flex/flex_item", props: {}) do %>
          <%= react_component("KitSearch", kits: search_list()) %>
        <% end %>
      <% end %>
    <% end %>

    <%= pb_rails("flex/flex_item", props: {}) do %>
      <%= pb_rails("flex", props: { spacing: "between", vertical: "center" }) do %>

        <%= pb_rails("flex/flex_item", props: {}) do %>
          <div class="full-size-nav">
            <%= pb_rails("nav", props: { margin_right: "sm", orientation: "horizontal", variant: "subtle"}) do %>
              <%= pb_rails("nav/item", props: { active: current_page?('/visual_guidelines'), text: "Design", link: "/visual_guidelines" }) %>
              <%= pb_rails("nav/item", props: { active: action_name.include?('kit'), text: "Components", link: "/kits" }) %>
              <%= pb_rails("nav/item", props: { active: current_page?('/samples'), text: "Samples", link: "/samples" }) %>
            <% end %>
          </div>
        <% end %>

        <%= pb_rails("flex/flex_item", props: {}) do %>
          <% if action_name.include?('kit') %>
              <%= pb_rails("flex", props: { classname: "toggle-wrapper", spacing: "between", vertical: "center" }) do %>
                <%= react_component("DarkModeToggle", initMode: cookies[:dark_mode] )%>
              <% end %>
          <% else %>
            <%# Re-engineered circle icon button for github logo %>
            <div class="pb_circle_icon_button_kit github-nav-icon">
              <a class="pb_button_kit_secondary_inline_enabled" type="button" href="https://github.com/powerhome/playbook" target="_self">
              <span class="pb_button_content">
                <%= image_tag("github-brands.svg", class: "mt_sm", style: "height:28px;width:28px") %>
              </span>
              </a>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>

<%= pb_rails("section_separator")%>
<% flash.each do |name, msg| %>
  <% name = "success" if name == "notice" %>
  <%= pb_rails("fixed_confirmation_toast", props: { text: msg, status: name }) %>
<% end %>
