<div style="display: grid;">
    <div style="grid-column: 1;">
        <%= pb_rails("date_time", props: { 
            datetime: DateTime.now
        }) %>

        <br />

        <%= pb_rails("date_time", props: { 
            datetime: DateTime.now,
            hide_clock_icon: true
        }) %>

        <br />

        <%= pb_rails("date_time", props: { 
            datetime: DateTime.now,
            hide_week_day: true
        }) %>

        <br />

        <%= pb_rails("date_time", props: { 
            datetime: DateTime.now,
            hide_week_day: true,
            hide_clock_icon: true
        }) %>
    </div>
    <div style="grid-column: 2;">
        <%= pb_rails("date_time", props: { 
            datetime: DateTime.now,
            align: "center"
        }) %>

        <br />

        <%= pb_rails("date_time", props: { 
            datetime: DateTime.now,
            hide_clock_icon: true,
            align: "center"
        }) %>

        <br />

        <%= pb_rails("date_time", props: { 
            datetime: DateTime.now,
            hide_week_day: true,
            align: "center"
        }) %>

        <br />

        <%= pb_rails("date_time", props: { 
            datetime: DateTime.now,
            hide_week_day: true,
            hide_clock_icon: true,
            align: "center"
        }) %>
    </div>

    <div style="grid-column: 3;">
        <%= pb_rails("date_time", props: { 
            datetime: DateTime.now,
            align: "right"
        }) %>

        <br />

        <%= pb_rails("date_time", props: { 
            datetime: DateTime.now,
            hide_clock_icon: true,
            align: "right"
        }) %>

        <br />

        <%= pb_rails("date_time", props: { 
            datetime: DateTime.now,
            hide_week_day: true,
            align: "right"
        }) %>

        <br />

        <%= pb_rails("date_time", props: { 
            datetime: DateTime.now,
            hide_week_day: true,
            hide_clock_icon: true,
            align: "right"
        }) %>
    </div>
</div>
<br />
<br />
<div style="display: grid;">
    <div style="grid-column: 1;">
        <%= pb_rails("date_time", props: { 
            datetime: DateTime.now,
            inline: false
        }) %>

        <br />

        <%= pb_rails("date_time", props: { 
            datetime: DateTime.now,
            hide_clock_icon: true,
            inline: false
        }) %>

        <br />

        <%= pb_rails("date_time", props: { 
            datetime: DateTime.now,
            hide_week_day: true,
            inline: false
        }) %>

        <br />

        <%= pb_rails("date_time", props: { 
            datetime: DateTime.now,
            hide_week_day: true,
            hide_clock_icon: true,
            inline: false
        }) %>
    </div>
    <div style="grid-column: 2;">
        <%= pb_rails("date_time", props: { 
            datetime: DateTime.now,
            align: "center",
            inline: false
        }) %>

        <br />

        <%= pb_rails("date_time", props: { 
            datetime: DateTime.now,
            hide_clock_icon: true,
            align: "center",
            inline: false
        }) %>

        <br />

        <%= pb_rails("date_time", props: { 
            datetime: DateTime.now,
            hide_week_day: true,
            align: "center",
            inline: false
        }) %>

        <br />

        <%= pb_rails("date_time", props: { 
            datetime: DateTime.now,
            hide_week_day: true,
            hide_clock_icon: true,
            align: "center",
            inline: false
        }) %>
    </div>

    <div style="grid-column: 3;">
        <%= pb_rails("date_time", props: { 
            datetime: DateTime.now,
            align: "right",
            inline: false
        }) %>

        <br />

        <%= pb_rails("date_time", props: { 
            datetime: DateTime.now,
            hide_clock_icon: true,
            align: "right",
            inline: false
        }) %>

        <br />

        <%= pb_rails("date_time", props: { 
            datetime: DateTime.now,
            hide_week_day: true,
            align: "right",
            inline: false
        }) %>

        <br />

        <%= pb_rails("date_time", props: { 
            datetime: DateTime.now,
            hide_week_day: true,
            hide_clock_icon: true,
            align: "right",
            inline: false
        }) %>
    </div>
</div>