<%= pb_rails("flex", props:{ classname: "getting_started", justify: "center" })  do %>
  <%= pb_rails("flex/flex_item", props:{ max_width: "md", classname: "markdown" })  do %>
    <div>
      <%= pb_rails("bread_crumbs", props: { aria: { label: "Breadcrumb Navigation" }, margin_bottom: "xl" }) do%>
        <%= pb_rails("icon", props: { icon: "flag-checkered"}) %>
        <%= pb_rails("bread_crumbs/bread_crumb_item", props: { link: "/getting_started" }) do %> 
          <%= pb_rails("title", props: { size: 4, text: "Getting Started", tag: "span" }) %>
        <%end%>
        <%= pb_rails("icon", props: { icon: "file-code", classname: "current" }) %>
        <%= pb_rails("bread_crumbs/bread_crumb_item") do %> 
          <%= pb_rails("title", props: { size: 4, text: "HTML & CSS", tag: "span", classname: "current" }) %>
        <%end%>
      <%end%>
    </div>
    <%= pb_rails("title", props: { text: "HTML & CSS", tag: "h1", size: 1, margin_bottom: "sm" }) %>
    <%= pb_rails("body", props: { margin_bottom: "md"}) do %>
      If you have another environment like PHP you can still use Playbook through the raw CSS and using the copy 
      HTML button on and Rails kit. See details below:
    <% end %>
    <%= render_markdown(@html_css_getting_started) %>
  <% end %>
<% end %>