<div class="getting_started">
  <%= pb_rails("flex", props:{ align: "stretch", flex_direction: "column", max_width: "md"})  do %>
    <%= pb_rails("title", props: { text: "Getting Started", tag: "h1", size: 1, margin_bottom: "sm" }) %>
    <%= pb_rails("body", props: { margin_bottom: "md"}) do %>
      Playbook is an open source design system built for Ruby on Rails, React, and very soon SwiftUI. Playbook is built 
      & maintained by the User Experience & Development teams at <a href="">Power Home Remodeling</a>. Playbook is packaged 
      up as a <a href="#">RubyGem</a> and <a href="#">NPM Package</a> and can work with a variety of setups.
    <% end %>
    <%= pb_rails("section_separator", props: { margin_y: "lg" }) %>
    <%= pb_rails("flex", props:{ justify: "center" }) do %>
      <%= pb_rails("caption", props: { size: 'lg', margin_y: "lg" }) do %>
        What type of setup do you have?
      <% end %>
    <% end %>
    <%= pb_rails("flex", props:{ gap: "sm", wrap:true }) do %>
      <%= pb_rails("flex/flex_item", props: { 
        flex: 1 
      }) do %>
        <a href="/getting_started/rails">
          <%= pb_rails("selectable_card_icon", props: {
            icon: "gem", 
            title_text: "Ruby on Rails",
          }) %>
        </a>
      <% end %>
      <%= pb_rails("flex/flex_item", props: { 
        flex: 1 
      }) do %>
        <a href="/getting_started/rails_react">
          <%= pb_rails("selectable_card_icon", props: {
            icon: "object-intersect", 
            title_text: "Rails & React",
          }) %>
        </a>
      <% end %>
      <%= pb_rails("flex/flex_item", props: { 
        flex: 1 
      }) do %>
        <a href="/getting_started/react">
          <%= pb_rails("selectable_card_icon", props: {
            icon: "atom", 
            title_text: "React",
          }) %>
        </a>
      <% end %>
      <%= pb_rails("flex/flex_item", props: { 
        flex: 1 
      }) do %>
        <%= pb_rails("tooltip", props: {
          trigger_element_selector: "#html-setup",
          tooltip_id: "tooltip-html-setup",
          position: 'top'
        }) do %>
        Coming Soon
        <% end %> 
        <a href="#" id="html-setup">
          <%= pb_rails("selectable_card_icon", props: {
            disabled: true,
            icon: "file-code", 
            title_text: "HTML & CSS", 
          }) %>
        </a>
      <% end %>
    <% end %>
  <% end %>
</div>