<% if object.is_react? %>
  <%= react_component('Typeahead', object.typeahead_react_options) %>
<% else %>
  <%= pb_content_tag(:div,
                     class: object.classname + object.inline_class) do %>
    <div class="pb_typeahead_wrapper">
      <div class="pb_typeahead_loading_indicator" data-pb-typeahead-kit-loading-indicator>
        <%= pb_rails("icon", props: {
          icon: "spinner",
          pulse: true,
          fixed_width: true,
        }) %>
      </div>
      <%= pb_rails("text_input", props: {
        type: "search",
        input_options: object.input_options,
        name: object.name,
        value: object.value,
        placeholder: object.placeholder,
        margin_bottom: "none",
        required: object.required,
        validation: object.validation,
        label: object.label,
        required_indicator: object.required_indicator,
        id: object.input_options[:id],
        dark: object.dark,
      }) %>
      
      <%= pb_rails("list", props: { ordered: false, borderless: true, xpadding: true, role: "status", aria: { live: "polite" }, data: { pb_typeahead_kit_results: true } }) do %>
      <% end %>
    </div>

    <template data-pb-typeahead-kit-result-option>
      <%= pb_rails("list/item") do %>
        <button type="button" data-result-option-item><%= tag(:slot, name: :content) %></button>
      <% end %>
    </template>
  <% end %>
<% end %>
