<div>
  <%= pb_rails("badge", props: {
    text: "+1",
    variant: "primary",
    rounded: true,
    dark: true
  }) %>

  <%= pb_rails("badge", props: {
    text: "+4",
    variant: "primary",
    dark: true
  }) %>

  <%= pb_rails("badge", props: {
    text: "+1000",
    variant: "primary",
    dark: true
  }) %>
</div>

<div>
  <%= pb_rails("badge", props: {
    text: "+1",
    variant: "success",
    rounded: true,
    dark: true
  }) %>

  <%= pb_rails("badge", props: {
    text: "+4",
    variant: "success",
    dark: true
  }) %>

  <%= pb_rails("badge", props: {
    text: "+1000",
    variant: "success",
    dark: true
  }) %>
</div>

<div>
  <%= pb_rails("badge", props: {
    text: "+1",
    variant: "warning",
    rounded: true,
    dark: true
  }) %>

  <%= pb_rails("badge", props: {
    text: "+4",
    variant: "warning",
    dark: true
  }) %>

  <%= pb_rails("badge", props: {
    text: "+1000",
    variant: "warning",
    dark: true
  }) %>
</div>

<div>
  <%= pb_rails("badge", props: {
    text: "+1",
    variant: "error",
    rounded: true,
    dark: true
  }) %>

  <%= pb_rails("badge", props: {
    text: "+4",
    variant: "error",
    dark: true
  }) %>

  <%= pb_rails("badge", props: {
    text: "+1000",
    variant: "error",
    dark: true
  }) %>
</div>

<div>
  <%= pb_rails("badge", props: {
    text: "+1",
    variant: "info",
    rounded: true,
    dark: true
  }) %>

  <%= pb_rails("badge", props: {
    text: "+4",
    variant: "info",
    dark: true
  }) %>

  <%= pb_rails("badge", props: {
    text: "+1000",
    variant: "info",
    dark: true
  }) %>
</div>

<div>
  <%= pb_rails("badge", props: {
    text: "+1",
    rounded: true,
    dark: true
  }) %>

  <%= pb_rails("badge", props: {
    text: "+4",
    variant: "neutral",
    dark: true
  }) %>

  <%= pb_rails("badge", props: {
    text: "+1000",
    variant: "neutral",
    dark: true
  }) %>
</div>
