<div>
<%= pb_rails("badge", props: {
  text: "+1",
  variant: "primary"
}) %>
<%= pb_rails("badge", props: {
  text: "+1000",
  variant: "primary",
  rectangle: true
}) %>
</div>
<div>
<%= pb_rails("badge", props: {
  text: "+1",
  variant: "success"
}) %>
<%= pb_rails("badge", props: {
  text: "+1000",
  variant: "success",
  rectangle: true
}) %>
</div>
<div>
<%= pb_rails("badge", props: {
  text: "+1",
  variant: "warning"
}) %>
<%= pb_rails("badge", props: {
  text: "+1000",
  variant: "warning",
  rectangle: true
}) %>
</div>
<div>
<%= pb_rails("badge", props: {
  text: "+1",
  variant: "error"
}) %>
<%= pb_rails("badge", props: {
  text: "+1000",
  variant: "error",
  rectangle: true
}) %>
</div>
<div>
<%= pb_rails("badge", props: {
  text: "+1",
  variant: "info"
}) %>
<%= pb_rails("badge", props: {
  text: "+1000",
  variant: "info",
  rectangle: true
}) %>
</div>
<div>
<%= pb_rails("badge", props: {
  text: "+1",
  variant: "neutral"
}) %>
<%= pb_rails("badge", props: {
  text: "+1000",
  variant: "neutral",
  rectangle: true
}) %>
</div>

