<%= pb_rails("background", props: { background_color: "light", padding: "xl" }) do %>

  <%= pb_rails("flex", props: { margin_bottom: "md" }) do %>
    <a href="/samples">
      <%= pb_rails("title", props: {
        margin_right: "xs",
        text: "Samples",
        tag: "h4",
        size: 4
      }) %>
    </a>
    <%= pb_rails("title", props: {
      margin_right: "xs",
      text: "/",
      tag: "h4",
      size: 4
    }) %>
    <%= pb_rails("title", props: {
      text: "#{get_category(@sample).titleize}",
      tag: "h4",
      size: 4
    }) %>
  <% end %>

  <%= pb_rails("title", props: { 
    margin_bottom: "xl",
    text: @sample.titleize,
    tag: "h2",
    size: 2
  }) %>

  <%# <%= pb_rails("button", props: { text: "test", id: "test-btn" }) %>

  <%= pb_rails("card", props: { id: "sample-card", padding: "none", shadow: "deeper" }) do %>
    <%= pb_rails("card/card_header", props: { padding: "xs", header_color: "white" }) do %>

      <%= pb_rails("flex", props: { spacing: "between", vertical: "center" }) do %>
  
        <%= pb_rails("flex/flex_item", props: { margin_left: "sm" }) do %>
          <%= pb_rails("nav", props: { orientation: "horizontal", variant: "subtle" }) do %>
            <%= pb_rails("nav/item", props: { text: "Rails", link: "#{sample_show_rails_path(@sample)}", active: action_name == 'sample_show_rails' }) %>
            <%= pb_rails("nav/item", props: { text: "React", link: "#{sample_show_reacts_path(@sample)}", active: action_name == 'sample_show_react' }) %>
          <% end %>
        <% end %>

        <%= pb_rails("flex/flex_item", props: { margin_right: "sm" }) do %>
          <%= pb_rails("flex", props: { classname: "header-icons" }) do %>

            <%= pb_rails("body", props: { classname: "font-size-override", color: "light", id: 'kits-used' }) do %>
                Kits Used
                <%= pb_rails("icon", props: { icon: "angle-down"}) %>
            <% end %>
            <%= pb_rails("popover", props: { max_width: "300px", trigger_element_id: "kits-used", tooltip_id: "kits-used-tooltip", position: 'bottom', padding: "sm" }) do %>
              <%= pb_rails("flex", props: { spacing: "around", wrap: true }) do %>
                <% kits_used(@sample).each do |kit| %>
                  <a href=<%="/kits/#{kit[0]}"%>>
                    <%= pb_rails("pill", props: {
                      text: kit[0].titleize,
                      variant: "primary",
                    }) %>
                  </a>
                <% end %>
              <% end %>
            <% end %>

            <%= pb_rails("icon_value", props: {
              classname: "font-size-override",
              id: "toggle-button-js",
              icon: "code",
              margin_left: "md",
              text: "Code"
            }) %>
            <%= pb_rails("icon_value", props: {
              classname: "font-size-override",
              id: "fullscreen-toggle",
              icon: "expand",
              margin_left: "md",
              text: "Fullscreen"
            }) %>
          <% end %>
          
          <% end %>
        <% end %>
    <% end %>

    <%= pb_rails("card/card_body", props: { classname: "bg_light", padding: "none" }) do %>
      <%= render_sample_ui(@sample, @type) %>
    <% end %>
  <% end %>

<% end %>

<div class="pb--kit-show">
    <div class="pb--doc light_ui">
        <div class="pb--codeCopy close" >
            <a class="pb--close-toggle copy-clipboard" href="#">Copy to Clipboard</a>
            <div class="hiddenCodeforCopy"><%= get_raw_code(@sample, @type) %></div>
            <pre class="highlight"><%= get_sample_code_content(@sample, @type) %></pre>
        </div>
    </div>
</div>