<%= pb_content_tag do %>

  <% if object.unstyled %>
    <!-- icon -->
    <% if object.show_icon %>
      <div><%= pb_rails("icon", props: { icon: "calendar-alt", fixed_width: true }) %></div>
    <% end %>

    <!-- day_of_week -->
    <% if object.show_day_of_week %>
      <div><%= object.day_of_week %></div>
      <div>•</div>
    <% end %>

    <!-- month day, year -->
    <%# if not current year or show_current_year is false %>
    <% if object.year.to_s == DateTime.now.year.to_s && !object.show_current_year %>
      <span><%= "#{object.month} #{object.day}" %></span>
    <%# if is current year %>
    <% else %>
      <span><%= "#{object.month} #{object.day}, #{object.year}" %></span>
    <% end %>

  <% elsif object.size == "md" || object.size == "lg" %>
    <!-- icon -->
    <% if object.show_icon %>
      <%= pb_rails("body", props: {
        color: "light",
        tag: "div",
      }) do %>
        <%= pb_rails("icon", props: { icon: "calendar-alt", fixed_width: true }) %>
      <% end %>
    <% end %>

    <!-- day_of_week -->
    <% if object.show_day_of_week %>
      <%= pb_rails("title", props: { tag: "div", text: object.day_of_week, size: 4 }) %>
      <%= pb_rails("body", props: {
        text: "•",
        color: "light",
        tag: "div",
      }) %>
    <% end %>

    <!-- month day, year -->

    <%# if not current year or show_current_year is false %>
    <% if object.year.to_s == DateTime.now.year.to_s  && !object.show_current_year  %>
      <%= pb_rails("title", props: { tag: "div", text: "#{object.month} #{object.day}", size: 4 }) %>
    <%# if is current year %>
    <% else %>
      <%= pb_rails("title", props: { tag: "div", text: "#{object.month} #{object.day}, #{object.year}", size: 4 }) %>
    <% end %>

  <% else %>
    <!-- icon -->
    <% if object.show_icon %>
      <%= pb_rails("caption", props: {
        tag: "div",
      }) do %>
        <%= pb_rails("icon", props: { icon: "calendar-alt", fixed_width: true, size: "sm" }) %>
      <% end %>
    <% end %>

    <!-- day_of_week -->
    <% if object.show_day_of_week %>
      <%= pb_rails("caption", props: { tag: "div", text: object.day_of_week }) %>
      <%= pb_rails("caption", props: {
        text: "•",
        color: "light",
        tag: "div",
      }) %>
    <% end %>

    <!-- month day, year -->

    <%# if not current year or show_current_year is false %>
    <% if object.year.to_s == DateTime.now.year.to_s  && !object.show_current_year %>
      <%= pb_rails("caption", props: { tag: "span", text: "#{object.month} #{object.day}" }) %>
    <%# if is current year %>
    <% else %>
      <%= pb_rails("caption", props: { tag: "span", text: "#{object.month} #{object.day}, #{object.year}" }) %>
    <% end %>
  <% end %>
<% end %>
