  <% if object.collapsible %>
    <%= pb_rails("collapsible", props: { name: "collapsible-nav-example", classname: object.collapsible_nav_classname }) do %>
      <%= pb_rails("collapsible/collapsible_main", props: { name: "default-collapsible-nav", icon: object.collapsible_icons, size: "xs", dark: object.dark, classname:object.margin_classes }) do %>
        <%= pb_content_tag( object.tag,
            href: object.link && object.link,
            target: object.link && object.target,
            onkeydown: !object.link ? "if(event.key==='Enter'||event.key===' '){event.preventDefault(); this.click();}" : nil,
            tabindex: object.link ? nil : 0,
          ) do %>
          <% if object.image_url %>
            <%= pb_rails("image", props: { url: object.image_url, classname: "pb_nav_img_wrapper_collapsible" }) %>
          <% end %>
          <% if object.icon_left %>
            <%= pb_rails("icon", props: { icon: object.icon_left, classname: "pb_nav_list_item_icon_left_collapsible", fixed_width: true}) %>
          <% end %>
          <span class="pb_nav_list_item_text_collapsible">
            <%= object.text %>
          </span>
        <% end %>
       <% end %>
      <%= pb_rails("collapsible/collapsible_content", props: {collapsed: object.collapsed}) do %>
        <%= content.presence %>
      <% end %>
    <% end %>
  <% else %>
    <%= pb_content_tag( object.tag,
        href: object.link && object.link,
        target: object.link && object.target,
        onkeydown: !object.link ? "if(event.key==='Enter'||event.key===' '){event.preventDefault(); this.click();}" : nil,
        tabindex: object.link ? nil : 0,
      ) do %>
      <% if object.image_url %>
        <%= pb_rails("image", props: { url: object.image_url, classname: "pb_nav_img_wrapper" }) %>
      <% end %>
      <% if object.icon_left %>
        <%= pb_rails("icon", props: { icon: object.icon_left, classname: "pb_nav_list_item_icon_left", fixed_width: true}) %>
      <% end %>
      <span class="pb_nav_list_item_text">
        <%= object.text %><%= content.presence %>
      </span>
      <% if object.icon_right %>
        <%= pb_rails("icon", props: { icon: object.icon_right, classname: "pb_nav_list_item_icon_right", fixed_width: true}) %>
      <% end %>
    <% end %>
  <% end %>
