<%= content_tag(:li,
  aria: object.aria,
  class: object.classname,
  data: object.data,
  dark: object.dark,
  id: object.id) do %>
  <% if object.collapsible %>
    <%= pb_rails("collapsible", props: { name: "collapsible-nav-example" }) do %>
      <%= pb_rails("collapsible/collapsible_main", props: { name: "default-collapsible-nav", icon: object.collapsible_icons, size: "xs", dark: object.dark }) do %>
        <%= content_tag(object.tag,
        object.link ? object.link_options : object.options) do %>
          <% if object.image_url %>
            <%= pb_rails("image", props: { url: object.image_url, classname: "pb_nav_img_wrapper_collapsible" }) %>
          <% end %>
          <% if object.icon_left %>
            <%= pb_rails("icon", props: { icon: object.icon_left, classname: "pb_nav_list_item_icon_left_collapsible", fixed_width: true}) %>
          <% end %>
          <span class="pb_nav_list_item_text_collapsible">
            <%= object.text %>
          </span>
        <% end %>    
       <% end %>
      <%= pb_rails("collapsible/collapsible_content") do %>
        <%= content.presence %>
      <% end %>
    <% end %>
  <% else %>
    <%= content_tag(object.tag,
      object.link ? object.link_options : object.options) do %>
      <% if object.image_url %>
        <%= pb_rails("image", props: { url: object.image_url, classname: "pb_nav_img_wrapper" }) %>
      <% end %>
      <% if object.icon_left %>
        <%= pb_rails("icon", props: { icon: object.icon_left, classname: "pb_nav_list_item_icon_left", fixed_width: true}) %>
      <% end %>
      <span class="pb_nav_list_item_text">
        <%= object.text %><%= content.presence %>
      </span>
      <% if object.icon_right %>
        <%= pb_rails("icon", props: { icon: object.icon_right, classname: "pb_nav_list_item_icon_right", fixed_width: true}) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function() {
  var liElements = document.querySelectorAll('li');
  
  liElements.forEach(function(liElement) {
    var ulElement = findParentByTagName(liElement, 'ul');
    if (ulElement && ulElement.hasAttribute('data-variant')) {
      var orientation = ulElement.getAttribute('data-orientation');
      var variant = ulElement.getAttribute('data-variant');
      
      liElement.setAttribute('data-orientation', orientation);
      liElement.setAttribute('data-variant', variant);
    }
  });
});

function findParentByTagName(element, tagName) {
  while (element.parentNode) {
    element = element.parentNode;
    if (element.tagName && element.tagName.toLowerCase() === tagName.toLowerCase()) {
      return element;
    }
  }
  return null;
}
</script>
