<%= pb_content_tag do %>
  <% if object.title %>
    <%= pb_content_tag do %>
      <%= pb_content_tag do %>
        <%= pb_rails("caption", props: { text: object.title, dark: dark }) %>
      <% end %>
    <% end %>
  <% end %>
  <div class='pb_nav_wrapper'>
    <%= content.presence %>
  </div>
<% end %>
