<div class="pb--kits">
  <%= pb_rails("title", props: { text: "All Kit Examples", tag: "h1", size: 1 }) %>
  <br>
  <%= pb_rails("nav", props: { orientation: "horizontal" }) do %>
    <%= pb_rails("nav/item", props: { text: "Rails", link: "/all_kit_examples?type=rails", active: @type == 'rails' }) %>
    <%= pb_rails("nav/item", props: { text: "React", link: "/all_kit_examples?type=react", active: @type == 'react' }) %>
  <% end %>
  <%= pb_rails("section_separator") %>
  <br>
  <br>
  <%= pb_kits(type: @type, dark_mode: dark_mode?) %>
</div>