<div class="pb--kit-show <%=@kit%>-kit">
  <%= pb_rails("title", props: { text: pb_kit_title(@kit), tag: "h1", size: 1 }) %>
  <div class="markdown <%= cookies[:dark_mode] == "true" ? 'dark' : '' %>">
    <%= markdown(get_kit_description(@kit)) %>
  </div>
</div>
<div>
  <div class="pb--kit-type-nav">
    <%= pb_rails("flex", props: {classname: "flex-container", spacing: "between"}) do %>
      <%= pb_rails("flex/flex_item") do %>
        <%= pb_rails("nav", props: { orientation: "horizontal" }) do %>
          <% if has_kit_type?(@kit, "rails") %>
            <%= pb_rails("nav/item", props: { text: "Rails", link: kit_show_rails_path(@kit), active: action_name == 'kit_show_rails' }) %>
          <% end %>
          <% if has_kit_type?(@kit, "react") %>
            <%= pb_rails("nav/item", props: { text: "React", link: kit_show_reacts_path(@kit), active: action_name == 'kit_show_react' }) %>
          <% end %>
        <% end %>
      <% end %>


      <% if get_samples(@kit).size > 0 %>
        <%= pb_rails("flex/flex_item") do %>
          <% if true %>
          <%= pb_rails("button", props: { margin_top: "md", variant: "primary", id: 'kits-used' }) do %>
                Samples Pages
                <%= pb_rails("icon", props: { icon: "angle-down"}) %>
            <% end %>
            <%= pb_rails("popover", props: { trigger_element_id: "kits-used", tooltip_id: "kits-used-tooltip", position: "bottom", padding: "none" }) do %>
                <%= pb_rails("list", props: { ordered: false, dark: false, borderless: false, xpadding: true }) do %>
                  <% get_samples(@kit).each do |sample| %>
                    <%= pb_rails("list/item") do %><a href="<%= "/samples/#{sample}"%>"><%= sample.titleize %></a><% end %>
                  <% end %>
                <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

    <% end %>

    <%= pb_rails("section_separator") %>
  </div>
  <% if (action_name == "kit_show_rails") %>
    <%= pb_kit(kit: @kit) %>
    <div class="markdown <%= cookies[:dark_mode]== "true" ? 'dark' : '' %>">
      <br>
      <%= markdown(get_kit_footer(@kit)) %>
    </div>
    <%= pb_kit_api(@kit) %>
  <% else %>
    <%= pb_kit(kit: @kit, type: "react") %>
    <div class="markdown <%= cookies[:dark_mode] == "true" ? 'dark' : '' %>">
      <br>
      <%= markdown(get_kit_footer(@kit)) %>
    </div>
  <% end %>
</div>
