<div class="visual_guidelines">
  <%= pb_rails("background", props: { background_color: "dark", padding: "xl" }) do %>
    <%= pb_rails("flex", props: { classname: "header-text", orientation: "column", horizontal: "center"}) do %>
        <div>
          <%= pb_rails("title", props: { dark: true, margin_bottom: "lg", text: "Samples You'll Actually Use", tag: "h1", size: 1 }) %>
          <%= pb_rails("body", props: {
            dark: true,
            text: "Guiding principles that shape the Playbook Design System.  Some of which have been abstracted into sass variables below.
            Underlying design logic which informs Playbook's past, present and future development."
          }) %>
        </div>
    <% end %>
  <% end %>

  <%= pb_rails("background", props: { background_color: "light", padding: "xl" }) do %>
      <%= render "playbook/pages/utilities/utilities.html.slim" %>
      <%= render "playbook/pages/tokens/tokens.html.slim" %>
  <% end %>

</div>
