<div class="visual_guidelines">
  <%= pb_rails("background", props: { background_color: "dark", padding: "xl" }) do %>
    <%= pb_rails("flex", props: { classname: "header-text", orientation: "column", horizontal: "center"}) do %>
        <div>
          <%= pb_rails("title", props: { dark: true, margin_bottom: "lg", text: "Our Visual Langauge", tag: "h1", size: 1 }) %>
          <%= pb_rails("body", props: {
            dark: true,
            text: "This page outlines the guiding principles that inform Playbook Design System's past, present and future development.  
            These core concepts are the basis upon which every higher order design element is built.  Some of these principles have 
            been abstracted into sass variables listed below."
          }) %>
        </div>
    <% end %>
  <% end %>

  <%= pb_rails("background", props: { background_color: "light", padding: "xl" }) do %>
      <%= render "playbook/pages/utilities/utilities.html.slim" %>
      <%= render "playbook/pages/tokens/tokens.html.slim" %>
  <% end %>

</div>
