<%= pb_rails("title", props: { text: "Utility Classes", tag: "h3", size: 4, margin_bottom: "xs", padding_top: "xs" }) %>
<%= pb_rails("body", props: { text: "Just want the raw classes? We got you. All of our global props are simple CSS utilities available through classes.", margin_bottom: "sm" }) %>
<%= pb_rails("caption", props: { text: "Visual Guide", margin_bottom: "sm" }) %>
<%= pb_rails("card", props: {
  margin_bottom: "none",
  padding: "none",
  shadow: "deep"
}) do %>
  <%= pb_rails("table", props: { size: "sm" }) do %>
    <thead>
      <tr>
        <th>Screen Size</th>
        <th>@media screen</th>
        <th>Class</th>
        <th>Properties</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>xs</td>
        <td>@media screen and (max-width: 575px)</td>
        <td>.display_xs_hidden</td>
        <td>display: hidden !important</td>
      </tr>
      <tr>
        <td>sm</td>
        <td>@media screen and (max-width: 576px)</td>
        <td>.display_sm_block</td>
        <td>display: block !important</td>
      </tr>
      <tr>
        <td>md</td>
        <td>@media screen and (max-width: 768px)</td>
        <td>.display_md_inline_block</td>
        <td>display: inline-block !important</td>
      </tr>
      <tr>
        <td>lg</td>
        <td>@media screen and (max-width: 992px)</td>
        <td>.display_lg_inline</td>
        <td>display: inline !important</td>
      </tr>
      <tr>
        <td>xl</td>
        <td>@media screen and (max-width: 1200px)</td>
        <td>.display_xl_flex</td>
        <td>display: flex !important</td>
      </tr>
    </tbody>
  <% end %>
<% end %>
