<%= pb_rails("title", props: { text: "Flex Box", id: "flex_box", size: 1, margin_top: "xl", margin_bottom: "sm", padding_top: "xl"  }) %>
<%= pb_rails("title", props: { text: "Global Props", tag: "h3", size: 4 }) %>
<%= pb_rails("body", props: { tag: "p", margin_bottom: "lg", margin_top: "xs" }) do %>
 Available in every kit. These are added globally as they are most flexible when developing. *Screen sizes are optional.
<% end %>
 <%= pb_rails("table", props: { size: "sm" }) do %>
  <thead>
    <tr>
      <th>Props</th>
      <th>Screen Sizes</th>
      <th>Values</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= pb_rails("pill", props: { text_transform: "none", text: "flexDirection", variant: "neutral" }) %></td>
      <td>
        <%= render partial: "pages/visual_guidelines_partials/screen_sizes" %>
      </td>
      <td>
      <%= pb_rails("pill", props: { text: "row", variant: "warning" }) %>
      <%= pb_rails("pill", props: { text: "column", variant: "warning" }) %>
      <%= pb_rails("pill", props: { text_transform: "none", text: "rowReverse", variant: "warning" }) %>
      <%= pb_rails("pill", props: { text_transform: "none", text: "columnReverse", variant: "warning" }) %>
      </td>
    </tr>
    <tr>
      <td><%= pb_rails("pill", props: { text_transform: "none", text: "flexWrap", variant: "neutral" }) %></td>
      <td>
        <%= render partial: "pages/visual_guidelines_partials/screen_sizes" %>
      </td>
      <td><%= pb_rails("pill", props: { text: "wrap", variant: "warning" }) %>
      <%= pb_rails("pill", props: { text: "nowrap", variant: "warning" }) %>
      <%= pb_rails("pill", props: { text_transform: "none", text: "wrapReverse", variant: "warning" }) %>
      </td>
    </tr>
    <tr>
      <td><%= pb_rails("pill", props: { text_transform: "none", text: "justifyContent", variant: "neutral" }) %></td>
      <td>
        <%= render partial: "pages/visual_guidelines_partials/screen_sizes" %>
      </td>
      <td>
      <%= pb_rails("pill", props: { text: "start", variant: "warning" }) %>
      <%= pb_rails("pill", props: { text: "end", variant: "warning" }) %>
      <%= pb_rails("pill", props: { text: "center", variant: "warning" }) %>
      <%= pb_rails("pill", props: { text_transform: "none", text: "spaceBetween", variant: "warning" }) %>
      <%= pb_rails("pill", props: { text_transform: "none", text: "spaceAround", variant: "warning" }) %>
      <%= pb_rails("pill", props: { text_transform: "none", text: "spaceEvenly", variant: "warning" }) %>
      </td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td><%= pb_rails("pill", props: { text_transform: "none", text: "justifySelf", variant: "neutral" }) %></td>
      <td>
        <%= render partial: "pages/visual_guidelines_partials/screen_sizes" %>
      </td>
      <td>
      <%= pb_rails("pill", props: { text: "start", variant: "warning" }) %>
      <%= pb_rails("pill", props: { text: "end", variant: "warning" }) %>
      <%= pb_rails("pill", props: { text: "center", variant: "warning" }) %>
      <%= pb_rails("pill", props: { text: "auto", variant: "warning" }) %>
      <%= pb_rails("pill", props: { text: "stretch", variant: "warning" }) %>
      </td>
    </tr>
    <tr>
      <td><%= pb_rails("pill", props: { text_transform: "none", text: "alignItems", variant: "neutral" }) %></td>
      <td>
        <%= render partial: "pages/visual_guidelines_partials/screen_sizes" %>
      </td>
      <td>
      <%= pb_rails("pill", props: { text_transform: "none", text: "flexStart", variant: "warning" }) %>
      <%= pb_rails("pill", props: { text_transform: "none", text: "flexEnd", variant: "warning" }) %>
      <%= pb_rails("pill", props: { text: "start", variant: "warning" }) %>
      <%= pb_rails("pill", props: { text: "end", variant: "warning" }) %>
      <%= pb_rails("pill", props: { text: "center", variant: "warning" }) %>
      <%= pb_rails("pill", props: { text: "stretch", variant: "warning" }) %>
      <%= pb_rails("pill", props: { text: "baseline", variant: "warning" }) %>
      </td>
    </tr>
    <tr>
      <td><%= pb_rails("pill", props: { text_transform: "none", text: "alignContent", variant: "neutral" }) %></td>
      <td>
        <%= render partial: "pages/visual_guidelines_partials/screen_sizes" %>
      </td>
      <td>
      <%= pb_rails("pill", props: { text: "start", variant: "warning" }) %>
      <%= pb_rails("pill", props: { text: "end", variant: "warning" }) %>
      <%= pb_rails("pill", props: { text: "center", variant: "warning" }) %>
      <%= pb_rails("pill", props: { text_transform: "none", text: "spaceBetween", variant: "warning" }) %>
      <%= pb_rails("pill", props: { text_transform: "none", text: "spaceAround", variant: "warning" }) %>
      <%= pb_rails("pill", props: { text_transform: "none", text: "spaceEvenly", variant: "warning" }) %>
      </td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td><%= pb_rails("pill", props: { text_transform: "none", text: "alignSelf", variant: "neutral" }) %></td>
      <td>
        <%= render partial: "pages/visual_guidelines_partials/screen_sizes" %>
      </td>
      <td>
      <%= pb_rails("pill", props: { text: "start", variant: "warning" }) %>
      <%= pb_rails("pill", props: { text: "end", variant: "warning" }) %>
      <%= pb_rails("pill", props: { text: "center", variant: "warning" }) %>
      <%= pb_rails("pill", props: { text: "auto", variant: "warning" }) %>
      <%= pb_rails("pill", props: { text: "stretch", variant: "warning" }) %>
      <%= pb_rails("pill", props: { text: "baseline", variant: "warning" }) %>
      </td>
    </tr>
    <tr>
      <td><%= pb_rails("pill", props: { text_transform: "none", text: "flex", variant: "neutral" }) %></td>
      <td>
        <%= render partial: "pages/visual_guidelines_partials/screen_sizes" %>
      </td>
      <td>
      <%= pb_rails("pill", props: { text: "none", variant: "warning" }) %>
      <%= pb_rails("pill", props: { text: "initial", variant: "warning" }) %>
      <%= pb_rails("pill", props: { text: "auto", variant: "warning" }) %>
      <%= pb_rails("pill", props: { text: "1", variant: "warning" }) %>
      </td>
    </tr>
    <tr>
      <td><%= pb_rails("pill", props: { text_transform: "none", text: "flexGrow", variant: "neutral" }) %></td>
      <td>
        <%= render partial: "pages/visual_guidelines_partials/screen_sizes" %>
      </td>
      <td><%= pb_rails("pill", props: { text: "0", variant: "warning" }) %>
      <%= pb_rails("pill", props: { text: "1", variant: "warning" }) %>
      </td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td> <%= pb_rails("pill", props: { text_transform: "none", text: "flexShrink", variant: "neutral" }) %></td>
      <td>
        <%= render partial: "pages/visual_guidelines_partials/screen_sizes" %>
      </td>
      <td>
      <%= pb_rails("pill", props: { text: "0", variant: "warning" }) %>
      <%= pb_rails("pill", props: { text: "1", variant: "warning" }) %>
      </td>
    </tr>
    <tr>
      <td><%= pb_rails("pill", props: { text_transform: "none", text: "order", variant: "neutral" }) %></td>
      <td>
        <%= render partial: "pages/visual_guidelines_partials/screen_sizes" %>
      </td>
      <td>
      <%= pb_rails("pill", props: { text: "1", variant: "warning" }) %>
      <%= pb_rails("pill", props: { text: "2", variant: "warning" }) %>
      <%= pb_rails("pill", props: { text: "3", variant: "warning" }) %>
      <%= pb_rails("pill", props: { text: "4", variant: "warning" }) %>
      <%= pb_rails("pill", props: { text: "5", variant: "warning" }) %>
      <%= pb_rails("pill", props: { text: "6", variant: "warning" }) %>
      <%= pb_rails("pill", props: { text: "7", variant: "warning" }) %>
      <%= pb_rails("pill", props: { text: "8", variant: "warning" }) %>
      <%= pb_rails("pill", props: { text: "9", variant: "warning" }) %>
      <%= pb_rails("pill", props: { text: "10", variant: "warning" }) %>
      <%= pb_rails("pill", props: { text: "11", variant: "warning" }) %>
      <%= pb_rails("pill", props: { text: "12", variant: "warning" }) %>
      <%= pb_rails("pill", props: { text: "none", variant: "warning" }) %>
      </td>
    </tr>
  </tbody>
<% end %>
<%= pb_rails("background", props: { id: "code-wrapper", classname: "border-bottom", background_color: "dark", padding: "none" }) do %>
  <%= pb_rails("caption", props: { text: "EXAMPLE IN USE", padding_top: "lg", margin_x: "xl", classname: "dark" }) %>
  <div class="pb--codeCopy">
    <pre class="highlight pt_sm" style="margin: 0px"><%= raw rouge(@justify_self_code_example, "react") %></pre>
  </div>
<% end %>