<%= pb_rails("title", props: {text: "Line Height", size: 1,  padding_top: "lg" }) %>
<%= pb_rails("body", props: { margin_y: "lg"} ) do %>
  Odds are you might want to build or expand upon the text patterns we have provided. If so below is a good reference of the tokens that<br>
  are available for you and your typography needs.
<% end %>


<%= pb_rails("title", props: {text: "Line Height Tokens", size: 4,  padding_top: "sm" }) %>
<%= pb_rails("body" ) do %>
  Make your own styles using Playbook tokens to keep your site consistent.
<% end %>


<%= pb_rails("card", props: {margin_bottom: "xl", padding: "none", padding_top: "xs", right: "sm", max_width: "lg" }) do %>
  <%= pb_rails("layout", props: {layout: "collection"}) do %>
    <%= pb_rails("layout/body", props: {orientation: "row", columns: "3"}) do %>

        <%= pb_rails("card") do %> 
          <p  class="card-tightest" > The quick brown fox jumps over the lazy dog</p>
          <%= pb_rails("pill", props: { text: "$lh_tightest", variant: "neutral", margin_top: "md" }) %>
      <% end %>
      
      <%= pb_rails("card") do %> 
        <p  class="card-tighter" > The quick brown fox jumps over the lazy dog</p>
        <%= pb_rails("pill", props: { text: "$lh_tighter", variant: "neutral", margin_bottom: "sm",   margin_top: "md" }) %>
      <% end %>
    
      <%= pb_rails("card") do %> 
        <p  class="card-tight" > The quick brown fox jumps over the lazy dog</p>
        <%= pb_rails("pill", props: { text: "$lh_tight", variant: "neutral",  margin_top: "md", margin_bottom: "sm" }) %>
      <% end %>
      
      <%= pb_rails("card") do %> 
        <p  class="card-normal" > The quick brown fox jumps over the lazy dog</p>
        <%= pb_rails("pill", props: { text: "$lh_nomral", variant: "neutral",  margin_top: "md", margin_bottom: "sm" }) %>
      <% end %>
   
      <%= pb_rails("card") do %> 
        <p  class="card-loose" > The quick brown fox jumps over the lazy dog</p>
        <%= pb_rails("pill", props: { text: "$lh_loose", variant: "neutral", margin_bottom: "sm", margin_top: "md" }) %>
      <% end %>
   
      <%= pb_rails("card") do %> 
        <p  class="card-looser" > The quick brown fox jumps over the lazy dog</p>
        <%= pb_rails("pill", props: { text: "$lh_looser", variant: "neutral", margin_bottom: "sm", margin_top: "md" }) %>
      <% end %>
  
      <%= pb_rails("card") do %> 
        <p  class="Card-loosest" > The quick brown fox jumps over the lazy dog</p>
        <%= pb_rails("pill", props: { text: "$lh_loosest", variant: "neutral", margin_bottom: "sm", margin_top: "md" }) %>
    <% end %>
   <% end %>
  <% end %>


<% react_contents = Rails.root.join("app/views/pages/code_snippets/line_height_jxs.txt").read %>

<%= pb_rails("background", props: { background_color: "dark", padding: "xs", id: "code-wrapper" }) do %>
  <div class="pb--codeCopy" data-action="toggle" data-togglable="code_example">
    <pre class="highlight"><%= raw rouge(react_contents, "react") %></pre>
  </div>        
<% end %>
<% end %>
