<%= pb_rails("title", props: { margin_top: "xl", text: "Max Width", tag: "h1", size: 1 }) %>

<br>

<%= render :partial => "pages/visual_guidelines_partials/pb_doc_max_width",
  locals:{ title: "Max Width Options",
  usage: "Used for building Kits: Use the max_width prop when you would like to limit a kit's maximum width.",
  sizes:[{name:"Small",variable:"max_width_sm"},
  {name:"Medium",variable:"max_width_md"},
  {name:"Large",variable:"max_width_lg"},
  {name:"Extra Large",variable:"max_width_xl"}]} %>

<br>

<%= pb_rails("card", props: {shadow: "deep", margin_bottom: "xl", padding: "xl", padding_top: "xl" }) do %>    
<%= pb_rails("flex", props: {classname: "flex-container", vertical: "stretch", padding_x: "sm", padding_bottom: "sm" }) do %>
    <%= pb_rails("flex/flex_item", props: {flex: "1" }) do %>    
    <%= pb_rails("caption", props: {text: "Props", margin_bottom: "xl" }) %>
    <%= pb_rails("pill", props: { text: "max_width", variant: "neutral" }) %>         
       <% end %>
    <%= pb_rails("section_separator", props: { orientation: "vertical" }) %>
    <%= pb_rails("flex/flex_item", props: {flex: "1" }) do %>
    <%= pb_rails("caption", props: {text: "Values", margin_bottom: "xl" }) %>
    <%= pb_rails("pill", props: {text: "sm", variant: "warning"}) %>
    <%= pb_rails("pill", props: {text: "md", variant: "warning"}) %>
    <%= pb_rails("pill", props: {text: "lg", variant: "warning"}) %>
    <%= pb_rails("pill", props: {text: "xl", variant: "warning"}) %>
    <% end %>
  <% end %>
<% end %>

    
<br>

<% react_contents = Rails.root.join("app/views/pages/code_snippets/width_jsx.txt").read %>
<%= pb_rails("background", props: { background_color: "dark", padding: "lg", id: "code-wrapper" }) do %>
  <div class="pb--codeCopy" data-action="toggle" data-toggleable="code-example">
  <pre class="highlight">
<%= raw rouge(react_contents, "react") %>
<% end %>
  </pre>
  </div>
