<%= pb_rails("title", props: {text: "Max Width", size: 1, margin_top: "xl", padding_top: "xl" }) %>
<%= pb_rails("body", props: { tag: "p", margin_top: "xs", margin_bottom: "lg" }) do %>
  When building your interface it is common to add max width to specific kits so the interface 
  looks good at all sizes. We've made it easy to add max with ANY kit through our global props. 
  See below:
<% end %>
<%= pb_rails("title", props: { text: "Global Props", tag: "h3", size: 4 }) %>
<%= pb_rails("body", props: { tag: "p", margin_bottom: "lg", margin_top: "xs" }) do %>
 Available in every kit.  These are added globally as they are most flexible when developing.
<% end %>
<%= pb_rails("card", props: { shadow: "deep", margin_bottom: "none", padding: "none", max_width: "xl" }) do %>
  <%= render partial: "pages/visual_guidelines_partials/pb_doc_max_width" %>
  <%= pb_rails("section_separator", props: { padding: "sm" }) %>
  <%= pb_rails("flex", props: { classname: "flex-container", vertical: "stretch", padding_x: "md", padding_top: "xs", padding_bottom: "md" }) do %>
    <%= pb_rails("flex/flex_item", props: {flex: "1"}) do %>
      <%= pb_rails("caption", props: {text: "Props", margin_bottom: "sm"}) %>
      <%= pb_rails("pill", props: { text: "max Width", variant: "neutral" }) %>
    <% end %>
    <%= pb_rails("section_separator", props: { orientation: "vertical", margin_x: "sm" }) %>
    <%= pb_rails("flex/flex_item", props: {flex: "1"}) do %>
      <%= pb_rails("caption", props: {text: "Values", margin_bottom: "sm"}) %>
      <%= pb_rails("pill", props: { text: "sm", variant: "warning" }) %>
      <%= pb_rails("pill", props: { text: "md", variant: "warning" }) %>
      <%= pb_rails("pill", props: { text: "lg", variant: "warning" }) %>
      <%= pb_rails("pill", props: { text: "xl", variant: "warning" }) %>
    <% end %>
  <% end %>
  <%= pb_rails("background", props: { id: "code-wrapper", classname: "border-bottom", background_color: "dark", padding: "none" }) do %>
    <%= pb_rails("caption", props: { text: "EXAMPLE IN USE", padding_top: "lg", margin_x: "xl", classname: "dark" }) %>
    <div class="pb--codeCopy">
      <pre class="highlight pt_sm" style="margin: 0px"><%= raw rouge(@max_width_code_example, "react") %></pre>
    </div>        
  <% end %>
<% end %>
 