<%= pb_rails("title", props: { text: "Opacity", size: 1, margin_top: "xl", padding_top: "xl"  }) %>
<%= pb_rails("body", props: { tag: "p", margin_bottom: "lg", margin_top: "xs" }) do %>
The word opaque is used for describing elements that are fully visible, i.e. with no transparency. 
   On a web page, a fully opaque element has an opacity value of 1 and a fully transparent element has an opacity value of 0. 
   By default, all elements have an opacity value of 1. From 0 to 1, the opacity property controls the transparency level of the element.
   <% end %>
   <%= pb_rails("title", props: { text: "Tokens", tag: "h3", size: 4 }) %>
<%= pb_rails("body", props: { tag: "p", margin_bottom: "lg", margin_top: "xs" }) do %>
   Make your own styles using Playbook tokens to keep your site consistent. For use, import the opacity file into your SCSS file as shown below.
<% end %>
<%= pb_rails("card", props: {shadow: "deep", margin_bottom: "xl", padding: "none", padding_top: "md" }) do %>
   <ul class="opacity-removing-utilities pb--utlities-color">
   <li data-name="Data 1" data-variable="$data_1">
      <div class="pb--color_data_1 opacity_1"></div>
      <p class="name">Opacity_1</p>
      <p class="var">$opacity_1</p>
   </li>
   <li data-name="Data 1" data-variable="$data_1">
      <div class="pb--color_data_1 opacity_2"></div>
      <p class="name">Opacity_2</p>
      <p class="var">$opacity_2</p>
   </li>
   <li data-name="Data 1" data-variable="$data_1">
      <div class="pb--color_data_1 opacity_3"></div>
      <p class="name">Opacity_3</p>
      <p class="var">$opacity_3</p>
   </li>
   <li data-name="Data 1" data-variable="$data_1">
      <div class="pb--color_data_1 opacity_4"></div>
      <p class="name">Opacity_4</p>
      <p class="var">$opacity_4</p>
   </li>
   <li data-name="Data 1" data-variable="$data_1">
      <div class="pb--color_data_1 opacity_5"></div>
      <p class="name">Opacity_5</p>
      <p class="var">$opacity_5</p>
   </li>
   <li data-name="Data 1" data-variable="$data_1">
      <div class="pb--color_data_1 opacity_6"></div>
      <p class="name">Opacity_6</p>
      <p class="var">$opacity_6</p>
   </li>
   <li data-name="Data 1" data-variable="$data_1">
      <div class="pb--color_data_1 opacity_7"></div>
      <p class="name">Opacity_7</p>
      <p class="var">$opacity_7</p>
   </li>
   <li data-name="Data 1" data-variable="$data_1">
      <div class="pb--color_data_1 opacity_8"></div>
      <p class="name">Opacity_8</p>
      <p class="var">$opacity_8</p>
   </li>
   <li data-name="Data 1" data-variable="$data_1">
      <div class="pb--color_data_1 opacity_9"></div>
      <p class="name">Opacity_9</p>
      <p class="var">$opacity_9</p>
   </li>
   <li data-name="Data 1" data-variable="$data_1">
      <div class="pb--color_data_1 opacity_10"></div>
      <p class="name">Opacity_10</p>
      <p class="var">$opacity_10</p>
   </li>
   </ul>    
<%= pb_rails("background", props: { background_color: "dark", id: "code-wrapper", classname: "border-bottom" }) do %>
<%= pb_rails("caption", props: { margin_x: "xl", padding_top: "lg", text: "Example in Use" }) %>
<div class="pb--codeCopy">
   <pre class="highlight pt_sm" style="margin: 0px"><%= raw rouge(@opacity_code_example, "react") %></pre>
   </div>    
<% end %>
<% end %>
