<%= pb_rails("flex", props: { classname: "pb--tokens-spacing", vertical: "stretch", padding_x: "md", padding_top: "md", padding_bottom: "md", wrap: true }) do %>
  <% @space_sizes.each do |item| %>
    <% variable = (defined?(item[:variable]) && !item[:variable].nil?) ? "$#{item[:variable]}" : ""%>
    <% item[:dark] ||= false %>
    <% item[:class] ||= item[:variable] %>

    <%= pb_rails("flex/flex_item", props: { flex: "1", classname: "pb--tokens-spacing-token" }) do %>
      <div class="pb--tokens-spacing-token-example">
        <div class=<%= "pb--spacing_#{item[:class]}" %>></div>
      </div>
      <%= pb_rails("body", props: { tag: "div" }) do %>
        <%= "#{item[:name]}" %>
      <% end %>
      <%= pb_rails("caption", props: { text: variable, size: 'xs' }) %>
    <% end %>
  <% end %>
<% end %>
