<%= pb_rails("flex", props: {
  wrap: true,
  align: "center",
  padding: "md",
  justify: "center"
}) do %>
  <div class="border_radius_container">
    <div class="border_radius_rounded"></div>
    <%= pb_rails("title", props: {
      text: "Rounded",
      tag: "h4",
      size: 4,
      margin_top: "xs"
    }) %>
    <%= pb_rails("caption", props: { text: "$border_radius_rounded", size: "xs" }) %>
  </div>
  <div class="border_radius_container">
    <div class="border_radius_xl"></div>
    <%= pb_rails("title", props: {
      text: "Extra Large",
      tag: "h4",
      size: 4,
      margin_top: "xs"
    }) %>
    <%= pb_rails("caption", props: { text: "$border_radius_xl", size: "xs" }) %>
  </div>
  <div class="border_radius_container">
    <div class="border_radius_lg"></div>
    <%= pb_rails("title", props: {
      text: "Large",
      tag: "h4",
      size: 4,
      margin_top: "xs"
    }) %>
    <%= pb_rails("caption", props: { text: "$border_radius_lg", size: "xs" }) %>
  </div>
  <div class="border_radius_container">
    <div class="border_radius_md"></div>
    <%= pb_rails("title", props: {
      text: "Medium",
      tag: "h4",
      size: 4,
      margin_top: "xs"
    }) %>
    <%= pb_rails("caption", props: { text: "$border_radius_md", size: "xs" }) %>
  </div>
  <div class="border_radius_container">
    <div class="border_radius_sm"></div>
    <%= pb_rails("title", props: {
      text: "Small",
      tag: "h4",
      size: 4,
      margin_top: "xs"
    }) %>
    <%= pb_rails("caption", props: { text: "$border_radius_sm", size: "xs" }) %>
  </div>
  <div class="border_radius_container">
    <div class="border_radius_xs"></div>
    <%= pb_rails("title", props: {
      text: "Extra Small",
      tag: "h4",
      size: 4,
      margin_top: "xs"
    }) %>
    <%= pb_rails("caption", props: { text: "$border_radius_xs", size: "xs" }) %>
  </div>
  <div class="border_radius_container">
    <div class="border_radius_none"></div>
    <%= pb_rails("title", props: {
      text: "None",
      tag: "h4",
      size: 4,
      margin_top: "xs"
    }) %>
    <%= pb_rails("caption", props: { text: "$border_radius_none", size: "xs" }) %>
  </div>
<% end %>
