<%= pb_rails("card/card_body", props: { padding_x: "md", padding_top: "md", padding_bottom: "xs" }) do %>
  <%= pb_rails("caption", props: { text: "Visual Guide", margin_bottom: "sm" }) %>
  <%= pb_rails("table", props: { size: "md" }) do %>
    <thead>
      <tr>
        <th>
          <%= pb_rails("caption", props: { text: "normal" }) %>
        </th>
        <th>
          <%= pb_rails("caption", props: { text: "tabular"}) %>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= pb_rails("body", props: { text: "$1,231,123,123.00" }) %>
        </td>
        <td>
          <%= pb_rails("body", props: { text: "$1,231,123,123.00", number_spacing: "tabular" }) %>
        </td>
      </tr>
      <tr>
        <td>
          <%= pb_rails("body", props: { text: "$7,444,112,512.00" })%>
        </td>
        <td>
          <%= pb_rails("body", props: { text: "$7,444,112,512.00", number_spacing: "tabular" })%>
        </td>
      </tr>
    </tbody>
  <% end %>
<% end %>
