<%= pb_rails("title", props: {margin_top: "xl", text: "Shadows", tag: "h1", size: 1 }) %>

<%= pb_rails("body", props: { margin_y: "md"} ) do %>
  Shadows are a night way of showing depth. Modals, buttons, & popovers are examples of items that need to have a shadow to indicate their position relative to others. Our tokens help you expand those to the other custom elements you build using playbook.
<% end %>

<br>

<h4 aria-label="online" class="pb_title_kit_4 pt_sm">Tokens</h4>

<%= pb_rails("body", props: { margin_bottom: "sm", margin_top: "xs" } ) do %>
  Make your own styles using Playbook tokens to keep your site consistent.
<% end %>

    <%= pb_rails("card", props: {shadow: "deep", margin_bottom: "xl", padding: "none", padding_top: "none" }) do %>

  <%= pb_rails("flex", props: {orientation: "column", align: "stretch", justify: "center", padding_x: "xl", padding_y: "md"}) do %>
      
            <%= pb_rails("card", props: {shadow: "deep", padding: "none"}) do %>
              <%= pb_rails("flex", props: { wrap: true, justify: "between", align: "center" }) do %>
                <%= pb_rails("body", props: {classname: "flex-item", margin_right: "md" }) do %>
                  <%= pb_rails("flex", props: { wrap: true, align: "center" }) do %>
                    <%= pb_rails("circle_icon_button", props: { variant: "link", icon: "copy", padding_right: "xs" }) %>
                    $shadow_deep
                    <% end %>
                <% end %>
             
                <%= pb_rails("body", props: {classname: "flex-item", padding_right: "sm", margin_left: "sm" }) do %>
                  <%= pb_rails("caption", props: { text: "value: 0 4px 10px 0 rgb(60 106 172 / 16%)", size: "xs", padding_right: "xs" }) %>
                  <% end %>
            <% end %>
            <% end %>
            
            <br>
            
            <%= pb_rails("card", props: {shadow: "deeper", padding: "none"}) do %>
              <%= pb_rails("flex", props: { wrap: true, justify: "between", align: "center" }) do %>
                <%= pb_rails("body", props: {classname: "flex-item", margin_right: "md" }) do %>
                  <%= pb_rails("flex", props: { wrap: true, align: "center" }) do %>
                    <%= pb_rails("circle_icon_button", props: { variant: "link", icon: "copy", padding_right: "xs" }) %>
                    $shadow_deeper
                    <% end %>
                <% end %>
             
                <%= pb_rails("body", props: {classname: "flex-item", padding_right: "sm", margin_left: "sm" }) do %>
                  <%= pb_rails("caption", props: { text: "value: 0 12px 28px 0 rgb(60 106 172 / 18%)", size: "xs", padding_right: "xs" }) %>
                  <% end %>
            <% end %>
            <% end %>
            
            <br>

            <%= pb_rails("card", props: {shadow: "deepest", padding: "none"}) do %>
              <%= pb_rails("flex", props: { wrap: true, justify: "between", align: "center" }) do %>
                <%= pb_rails("body", props: {classname: "flex-item", margin_right: "md" }) do %>
                  <%= pb_rails("flex", props: { wrap: true, align: "center" }) do %>
                    <%= pb_rails("circle_icon_button", props: { variant: "link", icon: "copy", padding_right: "xs" }) %>
                    $shadow_deepest
                    <% end %>
                <% end %>
             
                <%= pb_rails("body", props: {classname: "flex-item", padding_right: "sm", margin_left: "sm" }) do %>
                  <%= pb_rails("caption", props: { text: "value: 0 30px 38px 4px rgb(60 106 172 / 20%), 0 2px 14px 4px rgb(60 106 172 / 10%)", size: "xs", padding_right: "xs" }) %>
                  <% end %>
            <% end %>
            <% end %>
            <% end %>
            
            <br>
           
      <% react_contents = Rails.root.join("app/views/pages/code_snippets/shadow_erb.txt").read %>
    
      <%= pb_rails("background", props: { background_color: "dark", padding: "xs", id: "code-wrapper" }) do %>
        <%= pb_rails("caption", props: { padding_x: "md", padding_top: "md", text: "Example in Sass" }) %>
          <div class="pb--codeCopy" data-action="toggle" data-togglable="code_example">
            <pre class="highlight"><%= raw rouge(react_contents, "react") %></pre>
          </div>        
      <% end %>
    
  <% end %>
    

