<%= pb_rails("layout", props: { layout: "collection", margin: "md" }) do %>
  <%= pb_rails("layout/body", props: { orientation: "row", columns: "3" }) do %>
    <%= pb_rails("card/card_body", props: { margin: "sm" }) do %>
      <p class="card-tightest" >The quick brown fox jumps over the lazy dog</p>
      <%= pb_rails("caption", props: { margin_top: "xs", text: "$lh_tightest", size: "xs" }) %>
    <% end %>
    <%= pb_rails("card/card_body", props: { margin: "sm" }) do %>
      <p class="card-tighter" >The quick brown fox jumps over the lazy dog</p>
      <%= pb_rails("caption", props: { margin_top: "xs", text: "$lh_tighter", size: "xs" }) %>
    <% end %>
    <%= pb_rails("card/card_body", props: { margin: "sm" }) do %>
      <p class="card-tight" >The quick brown fox jumps over the lazy dog</p>
      <%= pb_rails("caption", props: { margin_top: "xs", text: "$lh_tight", size: "xs" }) %>
    <% end %>
    <%= pb_rails("card/card_body", props: { margin: "sm" }) do %>
      <p class="card-normal">The quick brown fox jumps over the lazy dog</p>
      <%= pb_rails("caption", props: { margin_top: "xs", text: "$lh_normal", size: "xs" }) %>
    <% end %>
    <%= pb_rails("card/card_body", props: { margin: "sm" }) do %>
      <p class="card-loose">The quick brown fox jumps over the lazy dog</p>
      <%= pb_rails("caption", props: { margin_top: "xs", text: "$lh_loose", size: "xs" }) %>
    <% end %>
    <%= pb_rails("card/card_body", props: { margin: "sm" }) do %>
      <p class="card-looser">The quick brown fox jumps over the lazy dog</p>
      <%= pb_rails("caption", props: { margin_top: "xs", text: "$lh_looser", size: "xs" }) %>
    <% end %>
    <%= pb_rails("card/card_body", props: { margin: "sm" }) do %>
      <p class="card-loosest">The quick brown fox jumps over the lazy dog</p>
      <%= pb_rails("caption", props: { margin_top: "xs", text: "$lh_loosest", size: "xs" }) %>
    <% end %>
  <% end %>
<% end %>
