<%= pb_rails("card/card_body", props: { padding_x: "md", padding_top: "md", padding_bottom: "xs"}) do %>
  <%= pb_rails("caption", props: { padding_top: "md", text: "Letter Spacing" }) %>
  <%= pb_rails("flex", props: { padding_top: "md", padding_bottom: "lg", orientation: "row", align: "end", column_gap: "xl", wrap: true }) do %>
      <%= pb_rails("flex", props: {orientation: "column", align: "center", justify: "between"}) do %>
          <%= pb_rails("flex/flex_item") do %>
              <div class="ls_tightest">Tightest</div>
          <% end %>
          <%= pb_rails("flex/flex_item") do %>
              <%= pb_rails("caption", props: { text: "-0.1em", size: "xs" }) %>
          <% end %>
          <%= pb_rails("flex/flex_item") do %>
              <%= pb_rails("caption", props: { text: "$lspace_tightest", size: "xs" }) %>
          <% end %>
          <%= pb_rails("flex/flex_item") do %>
              <%= pb_rails("circle_icon_button", props: { variant: "link", icon: "copy", horizontal: "center" }) %>
          <% end %>
      <% end %>

      <%= pb_rails("flex", props: {orientation: "column", align: "center", justify: "between"}) do %>
          <%= pb_rails("flex/flex_item") do %>
              <div class="ls_tighter">Tighter</div>
          <% end %>
          <%= pb_rails("flex/flex_item") do %>
              <%= pb_rails("caption", props: { text: "-0.07em", size: "xs" }) %>
          <% end %>
          <%= pb_rails("flex/flex_item") do %>
              <%= pb_rails("caption", props: { text: "$lspace_tighter", size: "xs" }) %>
          <% end %>
          <%= pb_rails("flex/flex_item") do %>
              <%= pb_rails("circle_icon_button", props: { variant: "link", icon: "copy", horizontal: "center" }) %>
          <% end %>
      <% end %>

      <%= pb_rails("flex", props: {orientation: "column", align: "center", justify: "between"}) do %>
          <%= pb_rails("flex/flex_item") do %>
              <div class="ls_tight">Tight</div>
          <% end %>
          <%= pb_rails("flex/flex_item") do %>
              <%= pb_rails("caption", props: { text: "-0.03em", size: "xs" }) %>
          <% end %>
          <%= pb_rails("flex/flex_item") do %>
              <%= pb_rails("caption", props: { text: "$lspace_tight", size: "xs" }) %>
          <% end %>
          <%= pb_rails("flex/flex_item") do %>
              <%= pb_rails("circle_icon_button", props: { variant: "link", icon: "copy", horizontal: "center" }) %>
          <% end %>
      <% end %>

      <%= pb_rails("flex", props: {orientation: "column", align: "center", justify: "between"}) do %>
          <%= pb_rails("flex/flex_item") do %>
              <div class="ls_normal">Normal</div>
          <% end %>
          <%= pb_rails("flex/flex_item") do %>
              <%= pb_rails("caption", props: { text: "0", size: "xs" }) %>
          <% end %>
          <%= pb_rails("flex/flex_item") do %>
              <%= pb_rails("caption", props: { text: "$lspace_normal", size: "xs" }) %>
          <% end %>
          <%= pb_rails("flex/flex_item") do %>
              <%= pb_rails("circle_icon_button", props: { variant: "link", icon: "copy", horizontal: "center" }) %>
          <% end %>
      <% end %>

      <%= pb_rails("flex", props: {orientation: "column", align: "center", justify: "between"}) do %>
          <%= pb_rails("flex/flex_item") do %>
              <div class="ls_loose">Loose</div>
          <% end %>
          <%= pb_rails("flex/flex_item") do %>
              <%= pb_rails("caption", props: { text: "0.03em", size: "xs" }) %>
          <% end %>
          <%= pb_rails("flex/flex_item") do %>
              <%= pb_rails("caption", props: { text: "$lspace_loose", size: "xs" }) %>
          <% end %>
          <%= pb_rails("flex/flex_item") do %>
              <%= pb_rails("circle_icon_button", props: { variant: "link", icon: "copy", horizontal: "center" }) %>
          <% end %>
      <% end %>

      <%= pb_rails("flex", props: {orientation: "column", align: "center", justify: "between"}) do %>
          <%= pb_rails("flex/flex_item") do %>
              <div class="ls_looser">Looser</div>
          <% end %>
          <%= pb_rails("flex/flex_item") do %>
              <%= pb_rails("caption", props: { text: "0.07em", size: "xs" }) %>
          <% end %>
          <%= pb_rails("flex/flex_item") do %>
              <%= pb_rails("caption", props: { text: "$lspace_looser", size: "xs" }) %>
          <% end %>
          <%= pb_rails("flex/flex_item") do %>
              <%= pb_rails("circle_icon_button", props: { variant: "link", icon: "copy", horizontal: "center" }) %>
          <% end %>
      <% end %>

      <%= pb_rails("flex", props: {orientation: "column", align: "center", justify: "between"}) do %>
          <%= pb_rails("flex/flex_item") do %>
              <div class="ls_loosest">Loosest</div>
          <% end %>
          <%= pb_rails("flex/flex_item") do %>
              <%= pb_rails("caption", props: { text: "0.1em", size: "xs" }) %>
          <% end %>
          <%= pb_rails("flex/flex_item") do %>
              <%= pb_rails("caption", props: { text: "$lspace_loosest", size: "xs" }) %>
          <% end %>
          <%= pb_rails("flex/flex_item") do %>
              <%= pb_rails("circle_icon_button", props: { variant: "link", icon: "copy", horizontal: "center" }) %>
          <% end %>
      <% end %>

      <%= pb_rails("flex", props: { orientation: "column", align: "center", justify: "between"}) do %>
          <%= pb_rails("flex/flex_item") do %>
              <div class="ls_super_loosest">Super<br />Loosest</div>
          <% end %>
          <%= pb_rails("flex/flex_item") do %>
              <%= pb_rails("caption", props: { text: "0.2em", size: "xs" }) %>
          <% end %>
          <%= pb_rails("flex/flex_item") do %>
              <%= pb_rails("caption", props: { text: "$lspace_super_loosest", size: "xs" }) %>
          <% end %>
          <%= pb_rails("flex/flex_item") do %>
              <%= pb_rails("circle_icon_button", props: { variant: "link", icon: "copy", horizontal: "center" }) %>
          <% end %>
      <% end %>
  <% end %>
<% end %>