<%= pb_rails("card/card_body", props: { padding_x: "md", padding_top: "md", padding_bottom: "xs"}) do %>
  <%= pb_rails("caption", props: { padding_top: "md", text: "Text Size" }) %>
  <%= pb_rails("flex", props: { padding_top: "md", padding_bottom: "lg", orientation: "row", align: "end", column_gap: "lg", wrap: true }) do %>
      <%= pb_rails("flex", props: {orientation: "column", align: "center", justify: "between"}) do %>
          <%= pb_rails("flex/flex_item") do %>
              <div class="text_jumbo">Text Jumbo</div>
          <% end %>
          <%= pb_rails("flex/flex_item") do %>
              <%= pb_rails("caption", props: { text: "36px", size: "xs" }) %>
          <% end %>
          <%= pb_rails("flex/flex_item") do %>
              <%= pb_rails("caption", props: { text: "$text_jumbo", size: "xs" }) %>
          <% end %>
          <%= pb_rails("flex/flex_item") do %>
              <%= pb_rails("circle_icon_button", props: { variant: "link", icon: "copy", horizontal: "center" }) %>
          <% end %>
      <% end %>

      <%= pb_rails("flex", props: {orientation: "column", align: "center", justify: "between"}) do %>
          <%= pb_rails("flex/flex_item") do %>
              <div class="text_largest">Text Largest</div>
          <% end %>
          <%= pb_rails("flex/flex_item") do %>
              <%= pb_rails("caption", props: { text: "32px", size: "xs" }) %>
          <% end %>
          <%= pb_rails("flex/flex_item") do %>
              <%= pb_rails("caption", props: { text: "$text_largest", size: "xs" }) %>
          <% end %>
          <%= pb_rails("flex/flex_item") do %>
              <%= pb_rails("circle_icon_button", props: { variant: "link", icon: "copy", horizontal: "center" }) %>
          <% end %>
      <% end %>

      <%= pb_rails("flex", props: {orientation: "column", align: "center", justify: "between"}) do %>
          <%= pb_rails("flex/flex_item") do %>
              <div class="text_larger">Text Larger</div>
          <% end %>
          <%= pb_rails("flex/flex_item") do %>
              <%= pb_rails("caption", props: { text: "28px", size: "xs" }) %>
          <% end %>
          <%= pb_rails("flex/flex_item") do %>
              <%= pb_rails("caption", props: { text: "$text_larger", size: "xs" }) %>
          <% end %>
          <%= pb_rails("flex/flex_item") do %>
              <%= pb_rails("circle_icon_button", props: { variant: "link", icon: "copy", horizontal: "center" }) %>
          <% end %>
      <% end %>

      <%= pb_rails("flex", props: {orientation: "column", align: "center", justify: "between"}) do %>
          <%= pb_rails("flex/flex_item") do %>
              <div class="text_large">Text Large</div>
          <% end %>
          <%= pb_rails("flex/flex_item") do %>
              <%= pb_rails("caption", props: { text: "20px", size: "xs" }) %>
          <% end %>
          <%= pb_rails("flex/flex_item") do %>
              <%= pb_rails("caption", props: { text: "$text_large", size: "xs" }) %>
          <% end %>
          <%= pb_rails("flex/flex_item") do %>
              <%= pb_rails("circle_icon_button", props: { variant: "link", icon: "copy", horizontal: "center" }) %>
          <% end %>
      <% end %>

      <%= pb_rails("flex", props: {orientation: "column", align: "center", justify: "between"}) do %>
          <%= pb_rails("flex/flex_item") do %>
              <div class="text_default">Text Base</div>
          <% end %>
          <%= pb_rails("flex/flex_item") do %>
              <%= pb_rails("caption", props: { text: "16px", size: "xs" }) %>
          <% end %>
          <%= pb_rails("flex/flex_item") do %>
              <%= pb_rails("caption", props: { text: "$text_base", size: "xs" }) %>
          <% end %>
          <%= pb_rails("flex/flex_item") do %>
              <%= pb_rails("circle_icon_button", props: { variant: "link", icon: "copy", horizontal: "center" }) %>
          <% end %>
      <% end %>

      <%= pb_rails("flex", props: {orientation: "column", align: "center", justify: "between"}) do %>
          <%= pb_rails("flex/flex_item") do %>
              <div class="text_small">Text Small</div>
          <% end %>
          <%= pb_rails("flex/flex_item") do %>
              <%= pb_rails("caption", props: { text: "14px", size: "xs" }) %>
          <% end %>
          <%= pb_rails("flex/flex_item") do %>
              <%= pb_rails("caption", props: { text: "$text_small", size: "xs" }) %>
          <% end %>
          <%= pb_rails("flex/flex_item") do %>
              <%= pb_rails("circle_icon_button", props: { variant: "link", icon: "copy", horizontal: "center" }) %>
          <% end %>
      <% end %>

      <%= pb_rails("flex", props: {orientation: "column", align: "center", justify: "between"}) do %>
          <%= pb_rails("flex/flex_item") do %>
              <div class="text_smaller">Text Smaller</div>
          <% end %>
          <%= pb_rails("flex/flex_item") do %>
              <%= pb_rails("caption", props: { text: "12px", size: "xs" }) %>
          <% end %>
          <%= pb_rails("flex/flex_item") do %>
              <%= pb_rails("caption", props: { text: "$text_smaller", size: "xs" }) %>
          <% end %>
          <%= pb_rails("flex/flex_item") do %>
              <%= pb_rails("circle_icon_button", props: { variant: "link", icon: "copy", horizontal: "center" }) %>
          <% end %>
      <% end %>

      <%= pb_rails("flex", props: {orientation: "column", align: "center", justify: "between"}) do %>
          <%= pb_rails("flex/flex_item") do %>
              <div class="text_smallest">Text Smallest</div>
          <% end %>
          <%= pb_rails("flex/flex_item") do %>
              <%= pb_rails("caption", props: { text: "11px", size: "xs" }) %>
          <% end %>
          <%= pb_rails("flex/flex_item") do %>
              <%= pb_rails("caption", props: { text: "$text_smallest", size: "xs" }) %>
          <% end %>
          <%= pb_rails("flex/flex_item") do %>
              <%= pb_rails("circle_icon_button", props: { variant: "link", icon: "copy", horizontal: "center" }) %>
          <% end %>
      <% end %>
  <% end %>
<% end %>