<% type ||= "rails" %>

<div class="pb--kit-example">
  <%= pb_rails("caption", props: { text: item }) %>
  <br />
  <%= pb_doc_example(type, @kit_examples[:kit], key) %>
  <br>
</div>

<% if @show_code %>
  <div class="markdown pb--kit-example-markdown <%= cookies[:dark_mode] == "true" ? "dark" : "" %>">
    <%= markdown(get_per_sample_descriptions(@kit_examples[:kit], key)) %>
  </div>
  <div id="code-wrapper">
    <div class="pb--codeControls">
      <ul>
        <li>
          <a href="#" id="toggle-open" data-toggle="code_example">Code Example</a>
        </li>
      </ul>
    </div>
    <div class="pb--codeCopy" data-action="toggle" data-togglable="code_example" style="display: none" >
      <%= pb_rails("section_separator")%>
      <a href="#" id="toggle-close" data-toggle="false" class="pb--close-toggle">Close</a>
      <pre class="highlight">
        <%= pb_doc_source(type, @kit_examples[:kit], key) %>
      </pre>
    </div>
  </div>
<% end %>
