<%= pb_content_tag do %>
    <% if object.orientation === 'horizontal' %>
        <% if content %>
            <%= content %>
        <% elsif object.text %>
            <span><%= pb_rails("caption", props: { text: object.text }) %></span>
        <% end %>
    <% end %>
    <% if object.orientation === 'vertical' %>
        <% if content %>
            <%= content %>
        <% elsif object.text %>
            <span><%= pb_rails("caption", props: { text: object.text }) %></span>
        <% end %>
    <%end%>
<% end %>
