<div data-action="toggle" data-togglable="prop_example" class="pb--propsTable">
  <%= pb_rails("title", props: { text: "Available Props", size: 3, margin_bottom: "sm" }) %>
  <%= pb_rails("card", props: { padding: "none" }) do %>
    <%= pb_rails("list", props: { xpadding: true }) do %>
      <% kit_props.each do |key, _def| %>
        <%= pb_rails("list/item") do %>
          <%= key %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
