<% example_html = ERB.new(example).result %>

<%= pb_rails("card", props: { classname: "pb--doc", padding: "none", dark: dark }) do %>
  <div class="pb--kit-example">
    <%= pb_rails("caption", props: { text: example_title, dark: dark }) %>
    <br />
    <%= example %>
    <br>
  </div>

  <% if show_code %>
    <div class="markdown pb--kit-example-markdown <%= dark ? "dark" : "" %>">
      <%= markdown(description) %>
    </div>
    <div id="code-wrapper">
      <div class="pb--codeControls">
        <ul>
          <% if type == "rails" %>
            <li>
              <a href="#" id="copy-<%= example_key %>-trigger" onclick="copyOnClick(`<%= example_html %>`, `copy-<%= example_key %>`)">
                Copy HTML
              </a>
              <%= pb_rails("popover", props: {
                  classname: "popover-copy",
                  close_on_click: "any",
                  trigger_element_id: "copy-#{example_key}-trigger",
                  tooltip_id: "copy-#{example_key}",
                  position: "top",
                  padding: "xs"
                  }) do %>
                    HTML Copied
                    <div class="copy-popover-arrow"></div>
              <% end %>
            </li>
          <% end %>
          <li>
            <button 
              class="pb_button_kit_link_inline_enabled pb--button size_sm"
              data-toggle="code_example" 
              id="code-example-button" 
              role="button" 
              tabindex="0"
            >
              <svg 
                id="code-example-close-icon" 
                class="svg-inline--fa fa-xmark pb_icon_kit fa-fw mr_xs" 
                aria-hidden="true" 
                focusable="false" 
                data-prefix="far" 
                data-icon="xmark" 
                role="img" 
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 320 512" 
                data-fa-i2svg=""
                style="display: none"
              >
                  <path 
                    fill="currentColor" 
                    d="M312.1 375c9.369 9.369 9.369 24.57 0 33.94s-24.57 9.369-33.94 0L160 289.9l-119 119c-9.369 9.369-24.57 
                       9.369-33.94 0s-9.369-24.57 0-33.94L126.1 256L7.027 136.1c-9.369-9.369-9.369-24.57 0-33.94s24.57-9.369 
                       33.94 0L160 222.1l119-119c9.369-9.369 24.57-9.369 33.94 0s9.369 24.57 0 33.94L193.9 256L312.1 375z"
                  >
                  </path>
              </svg>
              <svg 
                id="code-example-open-icon" 
                class="svg-inline--fa fa-code pb_icon_kit fa-fw mr_xs" 
                aria-hidden="true" 
                focusable="false" 
                data-prefix="far" 
                data-icon="code" 
                role="img" 
                xmlns="http://www.w3.org/2000/svg" 
                viewBox="0 0 640 512" 
                data-fa-i2svg=""
              >
                <path 
                  fill="currentColor" 
                  d="M414.9 31.11L270.9 495.1C266.1 507.8 253.5 514.8 240.9 510.9C228.2 506.1 221.1 493.5 225.1 480.9L369.1 
                     16.89C373 4.226 386.5-2.852 399.1 1.077C411.8 5.006 418.9 18.45 414.9 31.11V31.11zM504.4 118.5L632.4 
                     238.5C637.3 243 640 249.4 640 255.1C640 262.6 637.3 268.1 632.4 273.5L504.4 393.5C494.7 402.6 479.6 
                     402.1 470.5 392.4C461.4 382.7 461.9 367.6 471.6 358.5L580.9 255.1L471.6 153.5C461.9 144.4 461.4 129.3 
                     470.5 119.6C479.6 109.9 494.7 109.4 504.4 118.5V118.5zM168.4 153.5L59.09 255.1L168.4 358.5C178.1 367.6
                     178.6 382.7 169.5 392.4C160.4 402.1 145.3 402.6 135.6 393.5L7.585 273.5C2.746 268.1 0 262.6 0 255.1C0
                     249.4 2.746 243 7.585 238.5L135.6 118.5C145.3 109.4 160.4 109.9 169.5 119.6C178.6 129.3 178.1 144.4 
                     168.4 153.5V153.5z"
                  >
                </path>
              </svg>
              <span class="pb_button_content" id="code-example-button-content">Show code</span>
            </button>
          </li>
        </ul>
      </div>
      <div class="pb--codeCopy" data-action="toggle" data-togglable="code_example"  style="display: none" >
        <%= pb_rails("section_separator", props: { dark: dark })%>
        <button 
          class="pb--button--copy pb_button_kit_primary_inline_enabled size_sm" 
          role="button" 
          tabindex="0"
          onclick="copyContent('<%= j source %>')"
        >
          <%= pb_rails("icon", props: { icon: "copy", fixed_width: true, margin_right: "xs" }) %>
          <span class="pb_button_content">Copy Code</span>
        </button>
        <pre class="highlight"><%= raw rouge(source, highlighter) %></pre>
      </div>
    </div>
  <% end %>
<% end %>

<script>
  function copyOnClick(content, elementID) {
    copyContent(content)

    const popover = document.getElementById(elementID);
    popover.style.display = "block";

    setTimeout(() => {
      popover.style.display = "none";
    }, 3000);
  }
</script>
   