<% example_html = ERB.new(example).result %>

<%= pb_rails("card", props: { classname: "pb--doc", padding: "none", dark: dark }) do %>
  <div class="pb--kit-example">
    <%= pb_rails("caption", props: { text: example_title, dark: dark }) %>
    <br />
    <%= example %>
    <br>
  </div>

  <% if show_code %>
    <div class="markdown pb--kit-example-markdown <%= dark ? "dark" : "" %>">
      <%= render_markdown(description) %>
    </div>
    <div id="code-wrapper">
      <div class="pb--codeControls">
        <ul>
          <% if type == "rails" %>
            <li>
              <a href="#" id="copy-<%= example_key %>-trigger" onclick="copyOnClick(`<%= example_html %>`, `copy-<%= example_key %>`)">
                Copy HTML
              </a>
            </li>
          <% end %>
          <li>
            <a href="#" id="toggle-open" data-toggle="code_example"><i class="far fa-code"></i> Show Code</a>
          </li>
        </ul>
      </div>
      <div class="pb--codeCopy" data-action="toggle" data-togglable="code_example" style="display: none" >
        <%= pb_rails("section_separator", props: { dark: dark })%>
        <a href="#" id="copy-code-<%= example_key %>" class="pb--copy-code" onclick="copyOnClick(`<%= source %>`, `copy-code-<%= example_key %>`)">
          <%= pb_rails("button", props: { id: "copy-button-#{example_key}", text: "Copy Code", size: "sm", icon: "copy" }) %>
        </a>
        <pre class="highlight"><%= raw rouge(source, highlighter) %></pre>
      </div>
          <%= pb_rails("popover", props: {
        trigger_element_id: "copy-button-#{example_key}",
        tooltip_id: "tooltip-#{example_key}",
        offset: true,
        position: "top"
    }) do %>
        Code Copied
    <% end %>
    </div>
  <% end %>
<% end %>

<script>
  function copyOnClick(content, elementID) {
    copyContent(content)
  }
  var button = document.getElementById('<%= "copy-button-#{example_key}" %>')
  button.addEventListener('click', function() {
    var fadeAwayDiv = document.getElementById("<%= "tooltip-#{example_key}" %>")
    setTimeout(function() {
      fadeAwayDiv.classList.remove('show')
    }, 3000)
    setTimeout(function() {
      fadeAwayDiv.classList.add('hide')
    }, 3001)
  })
</script>
