<%= content_tag(:div,
    aria: object.aria,
    id: object.id,
    data: object.data,
    class: object.classname,
    **combined_html_options) do %>
  <%= pb_rails("caption", props: object.caption_props) %>

  <div class=<%= "pb_currency_wrapper#{object.variant_class || object.emphasized_class}" %>>
    <% if object.unstyled %>
      <div><%= object.symbol %></div>
      <div><%= object.title_props[:text] %></div>
      <div><%= object.body_props[:text] %></div>
    <% else %>
      <%= pb_rails("body", props: object.currency_wrapper_props) do %>
        <%= object.symbol %>
      <% end %>
      <%= pb_rails("title", props: object.title_props) %>
      <%= pb_rails("body", props: object.body_props) %>
    <% end %>
  </div>
<% end %>
