<%= pb_content_tag do %>

  <% if object.multi %>
    <%= check_box_tag(object.name, object.value, object.checked, object.additional_input_options) %>
  <% else %>
    <%= radio_button_tag(object.name, object.value, object.checked, object.additional_input_options) %>
  <% end %>

  <label class="<%= object.label_class %>" for="<%= object.input_id_present %>">
      <% if object.variant == "display_input" %>
        <%= pb_rails("flex", props: { vertical: "center" }) do %>
          <%= pb_rails("flex", props: {
            orientation: "column",
            padding: "sm",
            padding_right: "xs",
            vertical: "center",
          }) do %>
            <%= pb_rails(object.input, props: { text: "" }) do %>
              <input <%= object.is_checked %> <%= object.is_disabled %> id="checkbox-styled" name="<%= object.name %>-display" type="<%= object.input %>">
            <% end %>
          <% end %>
          <div class="separator"></div>
          <div class="psuedo_separator"></div>
          <%= pb_rails("card", props: { padding: "sm", status: object.status, border_none: true, dark: object.dark }) do %>
            <% if content.nil? %>
              <%= pb_rails("body", props: { text: object.text }) %>
            <% else %>
              <%= content %>
            <% end %>
          <% end %>
        <% end %>
      <% else %>
        <% if content.nil? %>
          <%= pb_rails("body", props: { text: object.text, dark: object.dark }) %>
        <% else %>
          <%= content %>
        <% end %>
        <% if object.icon %>
          <div class="pb_selectable_card_circle">
            <%= pb_rails("icon", props: { icon: "check", fixed_width: true }) %>
          </div>
        <% end %>
      <% end %>
  </label>

  <% if object.variant == "display_input" %>
    <script>
      var outerCheckbox = document.querySelector("input#<%= object.input_id || object.name %>")
      var innerCheckbox = outerCheckbox.parentElement.querySelector("input#checkbox-styled")

      outerCheckbox.addEventListener("change", () => {
        const outerCheckbox = document.querySelector("input#<%= object.input_id || object.name %>")
        const innerCheckbox = outerCheckbox.parentElement.querySelector("input#checkbox-styled")
        innerCheckbox.checked = outerCheckbox.checked
      })

      innerCheckbox.addEventListener("change", () => {
        const outerCheckbox = document.querySelector("input#<%= object.input_id || object.name %>")
        const innerCheckbox = outerCheckbox.parentElement.querySelector("input#checkbox-styled")
        outerCheckbox.checked = innerCheckbox.checked
      })
    </script>
  <% end %>
<% end %>
