<% if defined?(@kit_api) && @kit_api.present? %>

  <div data-action="toggle" data-togglable="prop_example" class="pb--propsTable">
  <%= pb_rails("title", props:{text: "Available Props", size:3, margin_bottom:"sm"}) %>
    <%= pb_rails("card",props:{padding:"none"})do%>
      <%= pb_rails("list",props: {xpadding:true})do%>
        <% @kit_api.each_with_index do |(key,value),index| %>
            <%= pb_rails("list/item") do %>
              <%= key %>
            <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  
<% end %>
