<% if object.custom_children %>
  <%= pb_rails("flex", props: {
    aria: object.aria,
    align: "center",
    class: object.classname,
    cursor: "pointer",
    data: object.data,
    **combined_html_options
  }) do %>
    <%= pb_content_tag(:label,
      'data-pb-radio-children': 'true',
      checked: object.checked,
      value: object.value
      ) do %>
      <%= input %>
      <span class="pb_radio_button"></span>
    <% end %>
    <div data-pb-radio-children-wrapper="true"> <%= content %> </div>
  <% end %>
<% else %>
  <%= pb_content_tag(:label,
      checked: object.checked,
      value: object.value,
      ) do %>

      <% if content.present? %>
        <%= content %>
      <% else %>
        <%= radio_button_tag object.name, object.value, object.selected, object.input_options %>
      <% end %>

      <span class="pb_radio_button"></span>
      <%= pb_rails("body", props: { status: object.body_status, text: object.text, dark: object.dark }) %>
  <% end %>
<% end %>
