<div>
  <%= pb_rails("form_group") do %>
    <%= pb_rails("text_input", props: { label: "with label", placeholder: "Search", id: "search-with-label" }) %>
    <%= pb_rails("button", props: { text: "Submit", variant: "secondary" }) %>
  <% end %>
  <br/>
  <br/>
  <%= pb_rails("form_group") do %>
    <%= pb_rails("text_input", props: { placeholder: "Search" }) %>
    <%= pb_rails("button", props: { text: "Submit", variant: "secondary" }) %>
  <% end %>
</div>
