<div>
  <%= pb_rails("form_group", props: { full_width: true }) do %>
    <%= pb_rails("text_input", props: { label: "First Name", placeholder: "Enter First Name", id: "first-name-full-width" }) %>
    <%= pb_rails("text_input", props: { label: "Middle Initial", placeholder: "Enter Middle Initial", id: "middle-initial-full-width" }) %>
    <%= pb_rails("text_input", props: { label: "Last Name", placeholder: "Enter Last Name", id: "last-name-full-width" }) %>
  <% end %>
  <br/>
  <br/>
  <%= pb_rails("form_group", props: { full_width: true }) do %>
    <%= pb_rails("text_input", props: { placeholder: "Search" }) %>
    <%= pb_rails("button", props: { text: "Submit", variant: "secondary" }) %>
  <% end %>
</div>
