<div>
  <%= pb_rails("form_group", props: { full_width: true }) do %>
    <%= pb_rails("text_input", props: { label: "First Name", placeholder: "Enter First Name" }) %>
    <%= pb_rails("text_input", props: { label: "Middle Intial", placeholder: "Enter Middle Initial" }) %>
    <%= pb_rails("text_input", props: { label: "Last Name", placeholder: "Enter Last Name" }) %>
  <% end %>
  <br/>
  <br/>
  <%= pb_rails("form_group", props: { full_width: true }) do %>
    <%= pb_rails("text_input", props: { placeholder: "Search" }) %>
    <%= pb_rails("button", props: { text: "Submit", variant: "secondary" }) %>
  <% end %>
</div>