<%= content_tag(:label, id: object.id,
                        data: object.data,
                        class: object.classname) do %>
  <input type="checkbox" value="<%=object.value%>" name="<%=object.name%>" <%= object.checked_html %>>
  <span class="pb_checkbox_checkmark"><%= object.icon_html %></span>
  <span class="pb_checkbox_label"><%= object.text %></span>
<% end %>
