<%= content_tag(:div,
    id: object.id,
    data: object.data,
    class: object.classname) do %>
  <div class="pb__source_layout">
    <% if !object.hide_icon %>
      <% if object.show_icon? %>
        <%= pb_rails("icon_circle", props: { icon: object.type_icon_name, size: "sm" }) %>
      <% else %>
        <%= pb_rails("avatar", props: object.avatar) %>
      <% end %>
    <% end %>
    <div class="pb__source_content">
      <%= pb_rails("title", props: { text: object.source, tag: "h4", size: 4 }) %>
      <div class="pb__source_value">
        <%= pb_rails("body", props: { text: object.type_text, color: "light" }) %>
        <% if object.user_id %>
          <%= pb_rails("caption", props: { text: object.user_id }) %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
