<%= pb_content_tag(:div,
aria: object.aria,
class: object.classname,
data: object.data,
id: object.id,
**combined_html_options) do %>

    <% if is_size_percentage %>
        <div class="overlay_linear_gradient"
        style="background: <%= previous_overlay %>"></div>

        <%= content.presence %>

        <% if has_subsequent_overlay %>
            <div class="overlay_linear_gradient"
            style="background: <%= subsequent_overlay %>"></div>
        <% end %>
    <% else %>

        <%= content.presence %>
        <%= "hello Nick" %>
            <div class=""></div>
    <% end %>
<% end %>