<%= pb_rails("layout", props: {full: true, position: "left", size: "xl", collapse: "md"}) do %>
  <%= pb_rails("layout/sidebar") do %>
    <%= pb_rails("user", props: {
          name: "Jon Zazula",
          title: "User Experience Designer",
          orientation: "horizontal",
          align: "left",
          size: "lg",
          avatar_url: "https://s3-hq-f5.powerhrg.com/nitro-production/avatars/55553/badge/business-technology-jonathan-zazula.jpg?AWSAccessKeyId=IWSW00NEQHMEYQTLZ7E9&Signature=S0EN3l5sfIr7yk442Q2MeledXGc%3D&Expires=3161514974"
      }) %>
    <div>
      <%= pb_rails("title_detail", props: {
        title: "569",
        detail: "POSTS"
      }) %>
      <div style="border-left:1px solid #e4e8f0;height:40px;align-items: center;justify-content: center;margin-top:5px;"></div>
      <%= pb_rails("title_detail", props: {
        title: "89",
        detail: "FOLLOWERS"
      }) %>
      <div style="border-left:1px solid #e4e8f0;height:40px;align-items: center;justify-content: center;margin-top:5px;"></div>
      <%= pb_rails("title_detail", props: {
        title: "102",
        detail: "FOLLOWING"
      }) %>
    </div>

    <hr style="height:1px;border:none;color:#e4e8f0;background-color:#e4e8f0;margin: 15px;" />

    <div class="outer-padding"><%= pb_rails("caption", props: {text: "menu"}) %></div>
      
    <%= pb_rails("nav") do %>
      <%= pb_rails("nav/item", props: { link: "#", active: true }) do%>
        <%= pb_rails("icon", props: { icon: "signal-4", fixed_width: true }) %>Dashboard
      <% end %>

      <%= pb_rails("nav/item", props: { link: "#" }) do%>
        <%= pb_rails("icon", props: { icon: "user", fixed_width: true }) %>Customers
      <% end %>
      <%= pb_rails("nav/item", props: { link: "#" }) do%>
        <%= pb_rails("icon", props: { icon: "megaphone", fixed_width: true }) %>Alerts
      <% end %>
      <%= pb_rails("nav/item", props: { link: "#" }) do%>
        <%= pb_rails("icon", props: { icon: "calendar-day", fixed_width: true }) %>Calendar
      <% end %>
      <%= pb_rails("nav/item", props: { link: "#" }) do%>
        <%= pb_rails("icon", props: { icon: "inbox", fixed_width: true }) %>Inbox
      <% end %>
      <%= pb_rails("nav/item", props: { link: "#" }) do%>
        <%= pb_rails("icon", props: { icon: "pen-alt", fixed_width: true }) %>Memos
      <% end %>
    <% end %>
  <% end %>

  <%= pb_rails("layout/body") do %> 

    <% data = [{
        name: 'Installation',
        data: [154175]
    }, {
        name: 'Manufacturing',
        data: [40434]
    }, {
        name: 'Sales & Distribution',
        data: [39387]
    }, {
        name: 'Project Development',
        data: [34227]
    }, {
        name: 'Other',
        data: [18111]
    }] %>

    <%= pb_rails("bar_graph", props: {
        axis_title: 'Number of Employees',
        chart_data: data,
        id: "bar-test",
        point_start: 2012,
        subtitle: 'Source: thesolarfoundation.com',
        title: 'Solar Employment Growth by Sector, 2010-2016'
    }) %>

  <% end %>
<% end %>


  



