<%= content_tag(:div,
    aria: object.aria,
    id: object.id,
    data: object.data,
    class: object.classname) do %>
    <% if object.valid? %>
      <%= pb_rails("avatar", props: {
        name: object.avatar_name,
        size: "sm",
        image_url: object.avatar_url,
        status: object.avatar_status
      }) %>
    <% end %>
    <div class="content_wrapper">
      <%= pb_rails("caption", props: {
        text: object.label
      }) %>
      <%= pb_rails("body", props: {
        text: object.message
      }) %>
      <%= pb_rails("timestamp", props: {
        text: object.timestamp
      }) %>
    </div>
<% end %>
