<%= pb_content_tag do %>
    <% if object.valid? %>
      <%= pb_rails("avatar", props: {
        name: object.avatar_name,
        size: "xs",
        image_url: object.avatar_url,
        status: object.avatar_status,
        grayscale: object.grayscale
      }) %>
    <% end %>
    <div class="content_wrapper">
      <%= pb_rails("flex", props: { orientation: "row", justify: object.align_timestamp == "left" ? "none" : "between" }) do %>
        <% if object.label.present? %>
          <%= pb_rails("title", props: {
            size: 4,
            text: object.label,
            classname: "message_title"
          }) %>
        <% end %>

        <%= pb_rails("timestamp", props: {
          text: object.timestamp,
          timezone: object.timezone,
          classname: "pull-#{object.align_timestamp} #{object.timestamp_object.present? ? 'message_humanized_time' : nil}"
        }) %>
        <% if object.timestamp_object.present? %>
          <%= pb_rails("timestamp", props: {
            timestamp: object.timestamp_object,
            timezone: object.timezone,
            classname: "pull-#{object.align_timestamp} message_timestamp"
          }) %>
        <% end %>
      <% end %>
      <% if content.present? %>
        <%= content %>
      <% end %>
      <% if object.message.present? %>
        <%= pb_rails("body", props: {
          text: object.message,
          classname: "pb_message_body"
        }) %>
      <% end %>
    </div>
<% end %>
