<%= content_tag(:li,
  id: object.id,
  data: object.data,
  class: object.classname) do %>
  <div class="box" style="max-width: min-content;" id="<%= object.box_classname %>">
    <div class="circle">
      <%= pb_rails("icon", props: { icon: object.icon, size: "xs" }) if object.icon.present? %>
    </div>
    <% if object.tooltip.present? %>
      <div>
        <%= pb_rails("tooltip", props: {
          trigger_element_selector: "##{object.box_classname}",
          tooltip_id: "example-tooltip",
          position: object.get_tooltip_position
        }) do %>
            <%= object.tooltip %>
      <% end %>
      </div>
    <% end %>
    <div class="content">
      <%= content.presence %>
    <div>
  </div>
<% end %>
