
<div class="pb--page--topNav <%= cookies[:dark_mode] == "true" ? 'dark' : '' %>">
<% if @playbook.nil?%>
  <p>playbok is nil</p>
<% end %>
  <%= pb_rails("flex", props:{spacing:"between",vertical: "center"}) do%>
     <%= pb_rails("flex", props:{spacing:"between",vertical: "center"}) do%>
      <%= link_to root_url do %>
        <%= image_tag("pb.logo.svg") %>
      <% end %>
      <%= pb_rails("caption", props: { tag: "span", text: Playbook::VERSION }) %>
      <% end %>
      <%= pb_rails("nav", props: { orientation: "horizontal"}) do %>
        <%= pb_rails("nav/item", props: { text: "Design Components", link: "/kits" }) %>
      <% end %>
    <div id="toggle-modes">
    <% if cookies[:dark_mode] == "false" || cookies[:dark_mode] == nil%>
      <%= pb_rails("circle_icon_button", props: {
        variant: "secondary",
        icon: "moon",
        tag:"a",
        link: enable_dark_mode_path
      }) %>
      <% else %>
      <%= pb_rails("circle_icon_button", props: {
        variant: "secondary",
        icon: "sun",
        tag:"a",
        link: disable_dark_mode_path
      }) %>
    <% end %>
    <% end %>
  </div>
  
</div>
<%= pb_rails("section_separator")%>
<% flash.each do |name, msg| %>
  <% name = "success" if name == "notice" %>
  <%= pb_rails("fixed_confirmation_toast", props: { text: msg, status: name }) %>
<% end %>
