<div class="pb--page--topNav <%= ENV["dark_mode"] == "true" ? 'dark' : '' %>">
  <% if ENV["dark_mode"] == "true"%>
    <%end%>
  <%= pb_rails("flex", props:{spacing:"between",vertical: "center"}) do%>
     <%= pb_rails("flex", props:{spacing:"between",vertical: "center"}) do%>
      <%= link_to root_url do %>
        <%= image_tag("pb.logo.svg") %>
      <% end %>
      <%= pb_rails("caption", props: { tag: "span", text: Playbook::VERSION }) %>
      <% end %>
    <div id="toggle-modes">
    <% if ENV["dark_mode"] == "false"%>
      <%= pb_rails("circle_icon_button", props: {
        variant: "secondary",
        icon: "moon",
        tag:"a",
        link: enable_dark_mode_path
      }) %>
      <% else %>
      <%= pb_rails("circle_icon_button", props: {
        variant: "secondary",
        icon: "sun",
        tag:"a",
        link: disable_dark_mode_path
      }) %>
    <% end %>
    <% end %>
  </div>
  
</div>
<%= pb_rails("section_separator")%>
<% flash.each do |name, msg| %>
  <% name = "success" if name == "notice" %>
  <%= pb_rails("fixed_confirmation_toast", props: { text: msg, status: name }) %>
<% end %>
