<!DOCTYPE html>
<html>
  <head>
    <title> Playbook Design System </title>
    <%= csrf_meta_tags%>
    <%= csp_meta_tag%>
    <%= stylesheet_packs_with_chunks_tag 'main' %>
    <meta content="user-scalable=0, initial-scale=1.0, minimum-scale=1" name="viewport"></meta>
  </head>
  <body>
    <%= render 'layouts/playbook/nav'%>
    <%= pb_rails("layout", props: {classname: "pb--page--content",variant: cookies[:dark_mode] == "true" ? 'dark' : 'light' }) do%>
      <%= render 'layouts/playbook/mobile_hamburger'%>
      <%= pb_rails("layout/sidebar", props: { classname: "pb--page--sideNav"}) do%>
        <%= render 'layouts/playbook/sidebar'%>
      <% end %>
      <%= pb_rails("layout/body") do%>
        <div class="pb--page--content--main <%= cookies[:dark_mode] == "true" ? 'dark' : '' %>">
          <%= yield %>
        </div>
      <% end %>
    <%end%>
  </body>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js" %>
  <% if @type == 'react' %>
    <%= javascript_packs_with_chunks_tag 'application', 'react-examples', 'site' %>
  <% else %>
    <%= javascript_packs_with_chunks_tag 'application', 'rails-examples', 'site' %>
    <%= yield :pb_js %>
  <% end %>
