<!DOCTYPE html>
<html>
  <head>
    <title> Playbook Design System </title>
    <%= csrf_meta_tags%>
    <%= csp_meta_tag%>
    <%= stylesheet_packs_with_chunks_tag 'main' %>
    <meta content="user-scalable=0, initial-scale=1.0, minimum-scale=1" name="viewport"></meta>
  </head>
  <body>
    <%= render 'layouts/playbook/nav'%>
    <div class="pb--page--content--main landing-page <%= cookies[:dark_mode] == "true" ? 'dark' : '' %>">
      <%= yield %>
    </div>
  </body>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js" %>
    <%= javascript_packs_with_chunks_tag 'application', 'landing-page', 'react-examples', 'rails-examples', 'site' %>
</html>