<!DOCTYPE html>
<html>
    <head>
        <title>Full Screen Examples</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <%= stylesheet_pack_tag 'main' %>
    </head>
    <body>
        <div class="sample-layout">
            <%= yield %>
        </div>
    </body>

    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js" %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'examples' %>
    <%= javascript_pack_tag 'samples' %>
    <%= yield :pb_js %>
</html>