<%= pb_content_tag do %>
  <div class="pb_timeline_item_left_block">
    <% if object.left_content.present? %>
      <%= object.left_content.html_safe %>
    <% elsif object.date.present? %>
      <%= pb_rails("date_stacked", props: {
        date: object.date,
        size: "sm",
        align: "center"
      }) %>
    <% end %>
  </div>

  <div class="pb_timeline_item_step">
    <%= pb_rails("icon_circle", props: {
      icon: object.icon,
      variant: object.icon_color,
      size: "xs"
    }) %>
    <div class="pb_timeline_item_connector"></div>
  </div>

  <div class="pb_timeline_item_right_block">
    <%= content.presence %>
  </div>
<% end %>
