

<div class="pb_list<%= object.borderless %><%= object.xpadding %><%= object.dark %><%= object.big %>">
  <<%= object.ordered %>>
    <%= object.yield(context: self) %>
  </<%= object.ordered %>>
</div>
