<div data-controller="button">
  
  
  
  <%= pb_rails("button", props: { text: "Button Primary", margin_right: "lg", 
    data: {
      target: "button.primaryButton",  
    }}) %>
  <%= pb_rails("button", props: { text: "Button Secondary", variant: "secondary", margin_right: "lg" }) %>
  <%= pb_rails("button", props: { text: "Button Link", variant: "link", margin_right: "lg" }) %>
  <%= pb_rails("button", props: { text: "Button Disabled", disabled: true, margin_right: "lg" }) %>


<%= pb_rails("button", props: { text: "Toggle Button", margin_right: "lg", 
    data: {
      action: "click->button#toggle",  
    }}) %>



</div>






