<%= content_tag(:div,
      aria: object.aria,
      class: object.classname,
      data: object.data,
      id: object.id) do %>
        <% object.column_definitions.each_with_index do |column, index| %>
            <%= pb_rails("table/table_cell", props: { tag:"div", classname:object.td_classname}) do %>
                <%= pb_rails("flex", props:{ align: "center", justify: index.zero? ? "start" : "end" }) do %>
                    <div style="padding-left: <%= depth * 1.25 %>em">
                        <% if index.zero? %>
                            <% if object.depth.zero? %>
                                <%= object.row[column[:accessor].to_sym] %>
                            <% else %>
                                <% object.depth_accessors.each_with_index do |item, accessor_index| %>
                                    <% if object.depth - 1 == accessor_index %>
                                        <% key = item.to_sym %>
                                        <%= object.row[key] %>
                                    <% end %>
                                <% end %>
                            <% end %>
                        <% else %>
                            <%= object.row[column[:accessor].to_sym] %>
                        <% end %>
                    </div>
                <% end %>
            <% end %>
        <% end %>
<% end %>