<%= pb_content_tag(:thead) do %>
  <% object.header_rows.each_with_index do |header_row, row_index| %>
    <%= pb_rails("table/table_row") do %>
      <% if row_index == 0 && object.selectable_rows && object.enable_toggle_expansion == "none" %>
        <%= object.render_select_all_header %>
      <% end %>
      <% header_row.each_with_index do |cell, cell_index| %>
        <% header_component = object.header_component_info(cell, cell_index, row_index) %>
        <%= pb_rails(header_component[:name], props: header_component[:props]) do %>
          <%= pb_rails("flex", props: { align: "center", justify: cell_index.zero? ? "start" : row_index === header_rows.size - 1 ? "end" : "center", text_align: (cell[:header_alignment] || "end") }) do %>
            <% if cell_index.zero? && row_index === header_rows.size - 1 %>
              <% if object.selectable_rows && object.enable_toggle_expansion != "none" %>
                <%= pb_rails("flex/flex_item", props: { padding_right: "xs" }) do %>
                  <%= object.render_select_all_checkbox %>
                <% end %>
              <% end %>
              <% if object.show_toggle_all_button? %>
                <% if loading %>
                  <div class="<%= object.loading ? 'loading-toggle-icon' : '' %>"></div>
                <% else %>
                  <button
                    class="gray-icon toggle-all-icon"
                    onclick="expandAllRows(this); event.preventDefault();">
                    <%= pb_rails("icon", props: { icon: "arrows-from-line", cursor: "pointer", fixed_width: true, padding_right: "xs" }) %>
                  </button>
                <% end %>
              <% end %>
            <% end %>
            <% if object.has_header_renderer?(cell) %>
              <%= raw(object.render_header(cell)) %>
            <% else %>
              <%= cell[:label] %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
