<%= pb_rails("card", props: {
  border_none: object.is_visible,
  classname: object.classname,
  padding: object.is_visible ? "xs" : "none",
  data: {
    action_bar: true
  }
}) do %>
  <%= pb_rails("flex", props: { align_items: "center", justify: "between" }) do %>
    <%= pb_rails("caption", props: { color: "light", padding_left: "xs", size: "xs" }) do %>
      <span class="selected-count"><%= object.selected_count %> Selected</span>
    <% end %>
    <%= pb_rails("flex/flex_item") do %>
      <%= pb_rails("flex") do %>
        <% if object.actions.present? %>
          <% object.actions.each do |action| %>
            <%= action %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>