<%= pb_content_tag(:tr, (object.pinned_row_style.present? ? { style: object.pinned_row_style } : {})) do %>
        <% object.column_definitions.each_with_index do |column, index| %>
            <%= pb_rails("table/table_cell", props: { classname: object.td_classname(index) }) do %>
                <%= pb_rails("flex", props:{ align: "center", justify: "start" }) do %>
                    <% if collapsible_trail && index.zero? %>
                        <% (1..depth).each do |i| %>
                            <% additional_offset = i > 1 ? (i - 1) * 0.25 : 0 %>
                            <% left_offset = i * 1.0 + additional_offset %>
                            <div class="collapsible-trail" style="left: <%= left_offset %>em"></div>
                        <% end %>
                    <% end %>

                    <div style="padding-left: <%= depth * 1.25 %>em">
                        <%= pb_rails("flex", props:{align: "center", column_gap: "xs"}) do %>
                            <% if index.zero? && object.row[:children].present? %>
                                <button class="gray-icon toggle-all-icon" onclick="expandAllSubRows(this, <%= depth %>)">
                                    <%= pb_rails("icon", props: { icon: "arrows-from-line", cursor: "pointer", fixed_width: true, padding_right:"xs" }) %>
                                </button>
                            <% end %>
                            <%= pb_rails("flex/flex_item") do %>
                                <% if index.zero? %>
                                    <%= pb_rails("caption", props: { margin_left: object.row[:children].present? ? "none" : "xs", text: object.subrow_header }) %>
                                <% end %>
                            <% end %>
                        <% end %>
                    </div>
                <% end %>
            <% end %>
        <% end %>
<% end %>