<%= content_tag(:div,
      aria: object.aria,
      class: object.classname,
      data: object.data,
      id: object.id) do %>
        <%= pb_rails("table/table_row", props: {tag:"div"}) do %>
            <% object.column_definitions.each_with_index do |item, index| %>
                <%= pb_rails("table/table_header", props: { tag:"div", id:item[:accessor], classname:object.th_classname}) do %>
                    <%= pb_rails("flex", props:{ align: "center", justify: index.zero? ? "start" : "end", text_align:"end" }) do %>
                        <% if index.zero? && (object.enable_toggle_expansion == "header" || object.enable_toggle_expansion == "all") %>
                            <button class="gray-icon toggle-all-icon">
                                <%= pb_rails("icon", props: { icon: "arrows-from-line", cursor: "pointer", fixed_width: true, padding_right:"xs" }) %>
                            </button>
                        <% end %>
                        <%= item[:label] %>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
<% end %>