<%= pb_content_tag(:div,
  id: nil,
  class: object.classnames + object.inline_class ) do %>
  <% if object.label %>
    <label class="pb_select_kit_label" for="<%= object.input_options[:id] || object.name %>">
      <% if object.required_indicator %>
        <%= pb_rails("caption", props: { dark: object.dark }) do %>
          <%= object.label %><span style="color: #DA0014;"> *</span>
        <% end %>       
      <% else %>
        <%= pb_rails("caption", props: { text: object.label, dark: object.dark }) %>
      <% end %>
    </label>
  <% end %>
  <label class="<%= object.select_wrapper_class %>" for="<%= object.input_options[:id] || object.name %>">
    <% if content.present? %>
      <%= content %>
      <%= pb_rails("body", props: { status: "negative", text: object.error }) %>
    <% else %>
      <%= select_tag(
        object.name,
        options_for_select(
          object.options_to_array,
          selected: object.selected,
          disabled: object.disabled_options,
        ),
        object.all_attributes
      )
      %>
      <%= pb_rails("body", props: { status: "negative", text: object.error, dark: object.dark }) %>
    <% end %>
    <% if object.multiple != true %>
      <%= pb_rails("icon", props: { custom_icon: Playbook::Engine::root.join(angle_down_path), fixed_width: true, classname: "pb_select_kit_caret"}) %>
    <% end %>
  </label>
<% end %>
