<%= pb_rails("background", props: {
    justify_content: "center",
    display: "flex",
    background_color: "light",
		padding_x: "md",
		padding_y: { md: "none", default: "xl", break: "at" }
}) do %>
	<%= pb_rails("flex", props: {
			classname: "solutionsFlexContainer width-full",
			max_width: "xxl",
			flex_direction: { xs: "column", sm: "column", md: "column", lg: "column", xl: "row" },
			margin_y: "xl"
	}) do %>
		<%= pb_rails("flex/flex_item", props: {
			classname: "solutionsContainer width-full",
			shadow: "deeper",
			display: { xs: "none", sm: "flex" },
			margin_top: { xl: "lg" },
			margin_right: { xl: "xl" },
			margin_bottom: { lg: "xl", break: "at" },
			border_radius: "lg"
		}) do %>
			<%= pb_rails("card", props: {
				classname: "solutionsCard width-full",
				justify_content: "center",
				border_radius: "lg",
			}) do %>
				<%= pb_rails("user", props: {
					name: "Anna Black",
					title: "LVL II • Sales Representative",
					orientation: "horizontal",
					align: "center",
					size: "lg",
					avatar_url: "https://randomuser.me/api/portraits/women/44.jpg"
				}) %>
			<% end %>

			<% react_contents = Rails.root.join("app/views/pages/code_snippets/user_jsx.txt").read %>

			<%= pb_rails("card", props: {
				classname: "solutionsCard secondSolutionsCard width-full",
				shadow: "deeper",
				dark: true,
				background: "dark",
				border_radius: "lg",
				padding: "none",
				margin: "none",
			})  do %>
				<div class="vertical-bar">
					<%= pb_rails("icon", props: { icon: "grip-lines-vertical" }) %>
				</div>
				<div class="pb--codeCopy">
					<pre class="highlight highlightSolutions"><%= raw render_code(react_contents, "jsx") %></pre>
				</div>
			<% end %>
		<% end %>

		<%= pb_rails("flex/flex_item", props: {
			margin_left: { xl: "xl" },
		}) do %>
			<%= pb_rails("flex", props: { orientation: "column", align_items: { xs: "center", sm: "start" }, }) do %>
				<%= pb_rails("title", props: {
					text: "DESIGN, DEVELOP, DELIVER",
					size: 4,
					text_align: { xs: "center", sm: "start" },
					margin_top: { lg: "lg", xl: "none", default: "xl" },
					color: "link"
				}) %>

				<%= pb_rails("flex/flex_item", props: {
					margin_top: "sm"
				}) do %>
					<%= pb_rails("title", props: {
						text: "Solutions written in multiple languages.",
						text_align: "center",
						tag: "h3",
						size: 3,
						display: { xs: "flex", sm: "none", md: "none", lg: "none", xl: "none" },
						margin_bottom: "lg"
					}) %>
					<%= pb_rails("title", props: {
						text: "Create solutions to repetitive problems, for multiple languages and access to anywhere!",
						text_align: "start",
						tag: "h2",
						size: 2,
						display: { xs: "none", sm: "flex" },
						margin_bottom: { xl: "lg", default: "sm" }
					}) %>
				<% end %>

				<%= pb_rails("flex/flex_item", props: {
					margin_bottom: { xs: "lg", xl: "xl", default: "none" },
				}) do %>
					<%= pb_rails("body", props: {
						text: "Playbook gives designers and developers the frameworks they need to create engaging product experiences.",
						text_align: { xs: "center", sm: "start" },
						color: "light",
						display: { xs: "flex", sm: "none", md: "none", lg: "none", xl: "none" }
					}) %>
					<%= pb_rails("body", props: {
						text: "Playbook was created for Power by Power. Playbook is an open-source, cross-platform design system that gives designers and developers the frameworks they need to create engaging product experiences—accessibility, internationalization, and performance included.",
						text_align: { xs: "center", sm: "start" },
						color: "light",
						display: { xs: "none", sm: "flex" }
					}) %>
				<% end %>

				<%= pb_rails("flex", props: {
					classname: "width-full card-container",
					display: { xs: "none" },
					justify: "between",
					margin_y: { xl: "sm", default: "xl" },
					gap: "md"
				}) do %>
					<%= pb_rails("flex", props: {
						classname: "language-card",
						orientation: "column",
						row_gap: "sm",
					}) do %>
						<%= pb_rails("flex/flex_item", props: {
							align_self: "stretch"
						}) do %>
							<%= link_to "/guides/getting_started/react_setup" do %>
								<%= pb_rails("card", props: {
									padding: "xl",
									shadow: "deeper",
									border_radius: "lg",
									cursor: "pointer",
									hover: { scale: "sm" }
								}) do %>
									<%= pb_rails("image", props: {
										alt: "React logo",
										url: asset_pack_path("hp-react-solutions.svg")
									}) %>
								<% end %>
							<% end %>
						<% end %>

						<%= pb_rails("flex/flex_item", props: {
							classname: "language-card-text",
							display: { sm: "none", md: "none", lg: "none", xl: "flex" }
						}) do %>
							<%= pb_rails("caption", props: {
								text: "Endlessly flexible presentational UI components with encapsulated styles and constraint based theme props.",
								size: "xs",
								padding_x: "xxs",
							}) %>
						<% end %>
					<% end %>

					<%= pb_rails("flex", props: {
						classname: "language-card",
						orientation: "column",
						row_gap: "sm",
					}) do %>
						<%= pb_rails("flex/flex_item", props: {
							align_self: "stretch"
						}) do %>
							<%= link_to "/guides/getting_started/ruby_on_rails_setup" do %>
								<%= pb_rails("card", props: {
									padding: "xl",
									shadow: "deeper",
									border_radius: "lg",
									cursor: "pointer",
									hover: { scale: "sm" }
								}) do %>
									<%= pb_rails("image", props: {
										alt: "Rails logo",
										url: asset_pack_path("hp-rails-solutions.svg")
									}) %>
								<% end %>
							<% end %>
						<% end %>

						<%= pb_rails("flex/flex_item", props: {
							classname: "language-card-text",
							display: { sm: "none", md: "none", lg: "none", xl: "flex" }
						}) do %>
							<%= pb_rails("caption", props: {
								text: "100+ highly customizable ViewComponents. Build design driven UI in Rails with ViewComponents.",
								size: "xs",
								padding_x: "xxs",
							}) %>
						<% end %>
					<% end %>

					<%= pb_rails("flex", props: {
						classname: "language-card",
						orientation: "column",
						row_gap: "sm",
					}) do %>
						<%= pb_rails("flex/flex_item", props: {
							align_self: "stretch"
						}) do %>
							<%= link_to "/guides/getting_started/swift_setup" do %>
								<%= pb_rails("card", props: {
									padding: "xl",
									shadow: "deeper",
									border_radius: "lg",
									cursor: "pointer",
									hover: { scale: "sm" }
								}) do %>
									<%= pb_rails("image", props: {
										alt: "swift logo",
										url: asset_pack_path("hp-swift-solutions.svg")
									}) %>
								<% end %>
							<% end %>
						<% end %>

						<%= pb_rails("flex/flex_item", props: {
							classname: "language-card-text",
							display: { sm: "none", md: "none", lg: "none", xl: "flex" }
						}) do %>
							<%= pb_rails("caption", props: {
								text: "Finally a Design System built for SwiftUI. Get cross device consistency by using Playbook for SwiftUI.",
								size: "xs",
								padding_x: "xxs",
							}) %>
						<% end %>
					<% end %>

					<%= pb_rails("flex", props: {
						classname: "language-card",
						orientation: "column",
						row_gap: "sm",
					}) do %>
						<%= pb_rails("flex/flex_item", props: {
							align_self: "stretch"
						}) do %>
							<%= link_to "/guides/getting_started/HTML_&_CSS" do %>
								<%= pb_rails("card", props: {
									padding: "xl",
									shadow: "deeper",
									border_radius: "lg",
									cursor: "pointer",
									hover: { scale: "sm" }
								}) do %>
									<%= pb_rails("image", props: {
										alt: "HTML-CSS logo",
										url: asset_pack_path("hp-htmlcss-solutions.svg")
									}) %>
								<% end %>
							<% end %>
						<% end %>

						<%= pb_rails("flex/flex_item", props: {
							classname: "language-card-text",
							display: { sm: "none", md: "none", lg: "none", xl: "flex" }
						}) do %>
							<%= pb_rails("caption", props: {
								text: "Utility classes help you work within the constraints of a system instead of littering your stylesheets with arbitrary values.",
								size: "xs",
								padding_x: "xxs",
							}) %>
						<% end %>
					<% end %>
				<% end %>

				<%= pb_rails("flex", props: {
					classname: "explore-button",
					align_self: "stretch",
					margin_top: { sm: "xl", xl: "xl", default: "none" }
				}) do %>
					<%= pb_rails("button", props: {
						text: "Explore Playbook Solutions",
						icon: "arrow-right",
						link: "/guides/getting_started",
						icon_right: true,
						size: "lg"
					}) %>
				<% end %>
			<% end %>
		<% end %>
	<% end %>
<% end %>

<%= javascript_pack_tag 'imageComparsionSlider' %>
