<%= pb_rails("background", props: {
    display: { xs: "none", sm: "flex", md: "flex", lg: "none", xl: "none"  },
    justify_content: "center",
    background_color: "white",
    padding_top: "xl",
    padding_bottom: "xl"
}) do %>
    <%= pb_rails("flex", props: {
        classname: "width-full",
        padding_right: "md",
        padding_left: "md",
        max_width: "xl",
        justify: "center",
        wrap: true
    }) do %>
        <%= pb_rails("background", props: {
            classname: "width-full",
            background_color: "dark",
            border_radius: "lg"
        }) do %>
            <%= pb_rails("background", props: {
                background_color: "dark",
                image_url: vite_asset_path("images/hp-social-proof-background.png"),
                border_radius: "lg",
                background_repeat: "no-repeat",
                background_position: "center right",
                background_size: "auto",
                alt: "background",
                transition: "fade",
                padding_top: "lg",
                padding_right: "lg",
                padding_left: "lg",
                padding_bottom: "xl",
            }) do %>

                <%= pb_rails("flex", props: {
                    orientation: "column",
                    align: "center"
                }) do %>
                    <%= pb_rails("flex/flex_item") do %>
                        <%= pb_rails("title", props: {
                            text: "Don't take our word for it.",
                            tag: "h2",
                            size: 2,
                            dark: true
                        }) %>
                    <% end %>
                    <%= pb_rails("flex/flex_item") do %>
                        <%= pb_rails("button", props: {
                            dark: true,
                            link: "/kits",
                            variant: "link"
                        }) do %>
                            <span>Explore All Components</span>
                            <%= pb_rails("icon", props: {
                                dark: true,
                                icon: "chevron-right"
                            }) %>
                        <% end %>
                    <% end %>
                <% end %>

                <%= pb_rails("flex", props: {
                    padding_top: "xl",
                    horizontal: "center",
                    spacing: "between",
                    wrap: true
                }) do %>
                    <%= pb_rails("flex/flex_item") do %>
                        <%= pb_rails("icon_stat_value", props: {
                            dark: true,
                            size: "sm",
                            icon: "puzzle",
                            text: "components",
                            value: "200＋",
                            variant:"orange"
                        }) %>
                    <% end %>
                    <%= pb_rails("flex/flex_item") do %>
                        <%= pb_rails("icon_stat_value", props: {
                            dark: true,
                            size: "sm",
                            icon: "chart-line-up",
                            text: "downloads",
                            value: "1M＋",
                            variant:"orange"
                        }) %>
                    <% end %>
                    <%= pb_rails("flex/flex_item") do %>
                        <%= pb_rails("icon_stat_value", props: {
                            dark: true,
                            size: "sm",
                            icon: "arrows-repeat",
                            text: "Release Updates",
                            value: "Weekly",
                            variant:"orange"
                        }) %>
                    <% end %>
                <% end %>

            <% end %>
        <% end %>
    <% end %>
<% end %>
